<!DOCTYPE html>
<html lang="EN">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
</head>
<body>
  <ul id="chat">
    <li v-for="m in messages">{{ m }}</li>
  </ul>
  <input type="text" name="say" id="say" placeholder="Input a message here...">
  <button id="send">Send</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/hmac-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256-min.js" type="text/javascript"></script>
  <script src="js/libs/mqttws31.js" type="text/javascript"></script>
  <script type="text/javascript">
    var isMqttConnected = false;
    var data = {
      messages: []
    };

    new Vue({
      el: '#chat',
      data: data
    });

    document.getElementById('send').addEventListener('click', function (e) {
      var say = document.getElementById('say')
      send(say.value);
      say.value = '';
    });

    function SigV4Utils(){}

    SigV4Utils.sign = function(key, msg) {
      var hash = CryptoJS.HmacSHA256(msg, key);
      return hash.toString(CryptoJS.enc.Hex);
    };

    SigV4Utils.sha256 = function(msg) {
      var hash = CryptoJS.SHA256(msg);
      return hash.toString(CryptoJS.enc.Hex);
    };

    SigV4Utils.getSignatureKey = function(key, dateStamp, regionName, serviceName) {
      var kDate = CryptoJS.HmacSHA256(dateStamp, 'AWS4' + key);
      var kRegion = CryptoJS.HmacSHA256(regionName, kDate);
      var kService = CryptoJS.HmacSHA256(serviceName, kRegion);
      var kSigning = CryptoJS.HmacSHA256('aws4_request', kService);
      return kSigning;
    };

    function createEndpoint(regionName, awsIotEndpoint, accessKey, secretKey) {
      var time = moment.utc();
      var dateStamp = time.format('YYYYMMDD');
      var amzdate = dateStamp + 'T' + time.format('HHmmss') + 'Z';
      var service = 'iotdevicegateway';
      var region = regionName;
      var secretKey = secretKey;
      var accessKey = accessKey;
      var algorithm = 'AWS4-HMAC-SHA256';
      var method = 'GET';
      var canonicalUri = '/mqtt';
      var host = awsIotEndpoint;

      var credentialScope = dateStamp + '/' + region + '/' + service + '/' + 'aws4_request';
      var canonicalQuerystring = 'X-Amz-Algorithm=AWS4-HMAC-SHA256';
      canonicalQuerystring += '&X-Amz-Credential=' + encodeURIComponent(accessKey + '/' + credentialScope);
      canonicalQuerystring += '&X-Amz-Date=' + amzdate;
      canonicalQuerystring += '&X-Amz-SignedHeaders=host';

      var canonicalHeaders = 'host:' + host + '\n';
      var payloadHash = SigV4Utils.sha256('');
      var canonicalRequest = method + '\n' + canonicalUri + '\n' + canonicalQuerystring + '\n' + canonicalHeaders + '\nhost\n' + payloadHash;

      var stringToSign = algorithm + '\n' +  amzdate + '\n' +  credentialScope + '\n' +  SigV4Utils.sha256(canonicalRequest);
      var signingKey = SigV4Utils.getSignatureKey(secretKey, dateStamp, region, service);
      var signature = SigV4Utils.sign(signingKey, stringToSign);

      canonicalQuerystring += '&X-Amz-Signature=' + signature;
      return 'wss://' + host + canonicalUri + '?' + canonicalQuerystring;
    }

    var endpoint = createEndpoint(
        'ap-southeast-1', // Your Region
        'a2rnihbj6hafk5.iot.ap-southeast-1.amazonaws.com', // Require 'lowercamelcase'!!
     // 'A315Z3LPHJMASX.iot.eu-west-1.amazonaws.com', // Require 'lowercamelcase'!!
        'AKIAIFDEQQK2W4FDYMUQ',
        'OQnNNxUyw97ydDCzQzM4w1H5g57RD7OfrxZqWU51');
    var clientId = Math.random().toString(36).substring(7);
    var client = new Paho.MQTT.Client(endpoint, clientId);
    var connectOptions = {
      useSSL: true,
      timeout: 10,
      mqttVersion: 4,
      keepAliveInterval: 15,
      onSuccess: onMqttConnectSuccess,
      onFailure: onMQttConnectFailure 
    };
    client.onMessageArrived = onMessage;
    client.onConnectionLost = onMQttConnectionLost;
    client.connect(connectOptions);

    function subscribe() {
      client.subscribe("amobile/website/dashboard/onlineUserCountChanged");
      console.log("Topic ["+"amobile"+"] Subscribed");
    }

    function send(content) {
      console.log("[MQTT] isMqttConnected = ("+isMqttConnected+")");
      if (isMqttConnected === false) return;
      try {  
        var message = new Paho.MQTT.Message(content);
        message.destinationName = "amobile/website/dashboard/onlineUserCountChanged";
        client.send(message);
      } catch(e) {
        console.log("eeeeeeeeee="+e);
        isMqttConnected = false;
      }
      console.log("sent topic=["+message.destinationName+"] message=["+content+"]");
    }

    function onMessage(message) {
      data.messages.push(message.payloadString);
      console.log("message received=[" + message.payloadString+"]");
    }

    function onMqttConnectSuccess(responseObjectParameter) {
      console.log("[MQTT] Broker Connected");
      isMqttConnected = true;
      setTimeout(subscribe, 1000);
    }

    function onMQttConnectFailure(responseObjectParameter) {
      console.log(responseObjectParameter); 
    }

    function onMQttConnectionLost(e) 
    {
      isMqttConnected = false;    
      console.log(e); 
      console.log("Connect is lost");
    }

    var foocss = function()
    {
      console.log("[MQTT] 連線檢查 ("+isMqttConnected+")");
      if (isMqttConnected) return;
      console.log("[MQTT] Reconnect ... connectOptions="+connectOptions.mqttVersion);
   
      var clientTmp = new Paho.MQTT.Client(endpoint, Math.random().toString(36).substring(7));
      var connectOptions2 = 
      {
            useSSL: true,
            timeout: 12,
            mqttVersion: 4,
            keepAliveInterval: 15,
            onSuccess: onMqttConnectSuccess,
            onFailure: onMQttConnectFailure 
      };    
      clientTmp.connect(connectOptions2);
      clientTmp.onMessageArrived = onMessage;
      clientTmp.onConnectionLost = onMQttConnectionLost;
      client = clientTmp;
    }

    var timer = window.setInterval(foocss, 5000); 
  </script>
</body>
</html>
