<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title> Node Watch </title>

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.png" type="image/x-icon">
    <script src="include/jquery-3.1.0.min.js"></script>
    <script src="include/util.js"></script>
    <script src="include/noui.js"></script>


</head>
<!--<body style="overflow-y: scroll;"> -->
<body>
<div id="s6" style="position:fixed; z-index: 2;">
    <section>
        <div>
            <canvas id="noVNC_canvas" width="0" height="0">
                Canvas not supported.
            </canvas>
        </div>
    </section>
</div>


<div style="position:fixed;  z-index:1">
    <img src="img/loader-cog.gif">
</div>

<script>
	function getParameterByName(name, url) {
    	if (!url) url = window.location.href;
    	name = name.replace(/[\[\]]/g, "\\$&");
    	var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)", "i"),
        	results = regex.exec(url);
    	if (!results) return null;
    	if (!results[2]) return '';
    	return decodeURIComponent(results[2].replace(/\+/g, " "));
	}

	function macHexToDex(mac){
        var revId = mac;
        if (mac.length == 12) {
            var revIdHex2Dec = "";

                for(var i = 0; i < 12; i+=2) {
                    var hexString = mac.substring(i, i+2);
                    var decInt = parseInt(hexString, 16);
                    if (decInt < 10)
                        revIdHex2Dec += padLeft(decInt,2);
                    else if (decInt < 100)
                        revIdHex2Dec += padLeft(decInt,1);
                    else
                        revIdHex2Dec += decInt;
                }
                revId = revIdHex2Dec;
                revId = "1" + revId;
            }
            return revId;
        }

    function padLeft(str,lenght){
        if(str.length > lenght)
            return str;
        else
            return padLeft("0" +str,lenght);
    }


	setTimeout(function() {
        console.log("RD");
	    var id = getParameterByName('repeaterID')
        var rptId = "ID:" + macHexToDex(id);
        var hostIp = getParameterByName('host');
        var hostPort = getParameterByName('port');
        var resizeType = getParameterByName('resizeType');
		noVNC_API.vnc({host:"rm.node-watch.com", port:"6080", repeaterID:rptId, resize:'downscale', cursor: "false"});
    },2500);



</script>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="mobileOptimized" content="width">
<meta name="handheldFriendly" content="true">
</body>
