<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> Node Watch </title>
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-3.1.1.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">

	<!-- FAVICONS -->
	<link rel="shortcut icon" href="img/favicon/favicon.png" type="image/x-icon">
	<link rel="icon" href="img/favicon/favicon.png" type="image/x-icon">
	<script src="include/jquery-2.0.2.min.js"></script>
	<!-- <script src="js/libs/jquery-2.0.2.min.js"></script> -->
	<script src="include/util.js"></script>
	<script src="include/noui.js"></script>
</head>
<body style="overflow-y: scroll;">
	<div id="s6">
		<section>
			<div style="text-align: center;">
				<canvas id="noVNC_canvas" width="0" height="0">
					Canvas not supported.
				</canvas>
			</div>
		</section>
	</div>
	<script>
	setTimeout(function() {
         var rptId = "ID:287";
		 noVNC_API.vnc({host:"192.168.101.160", port:"6080", repeaterID:rptId, resize:"scale"});
		//var rptId = "ID:123";
//noVNC_API.vnc({host:"172.20.10.2", port:"6080", password:"23", repeaterID:rptId});
    },1000);
	</script>
</body>
