版本：2.24.1<br />
<br />
功能說明<br />
<br />
(1) 增加耗時操作按鈕鎖定功能。<br />
<br />

版本：2.23.1<br />
<br />
功能說明<br />
<br />
(1) 移除 MQTT 功能，以 Comet 取代。<br />
(2) 耗時的運作，加上保護機制，防止使用者連續按鈕。
(3) 修正 Google 地圖與高德地圖目前已知的錯誤
<br />

版本：2.22.1<br />
<br />
功能說明<br />
<br />
(1) 2016-10-03 支援 device 資料查詢功能。<br />
<br />

版本：2.21.1<br />
<br />
功能說明<br />
<br />
(1) 2016-9-07 Holisun 支援 MQTT Push。 Dashboard, device summary 可即時更新畫面元件。<br />
<br />

版本：2.19.1<br />
<br />
功能說明<br />
<br />
(1) 2016-7-25 Holisun 當要進行遠端app安裝時，原本限制名稱與版本相同者無法進行。但實際上，目前並沒有 upgrade 功能，名稱相同就無法進行了。所以，修改為將版本檢查拿掉。<br />


版本说明<br />
<br />
版本：京東方展覽客製版<br />
<br />
功能說明<br />
<br />
(1) 以高德地圖取代谷歌地圖當做是默認地圖。<br />
(2) 在 device detail 中，新增 "spec" tag ，顯示從樹莓派機器讀取的資料。<br />