<head>
    <!--
	<script src="js/libs/jquery-2.0.2.min.js"></script>
    -->
    <link href="css/select2.css" rel="stylesheet"/>
    <script src="js/select2.js"></script>
	
    <script>
        $(document).ready(function() { $("#e1").select2(); });
    </script>

</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i> Domain <span>>
        Create </span></h1>
    </div>
</div>
<div class="form-group">
    <label for="h-input">Select2 Plugin (multi-select)</label>
    
    <select id="e1">
        <option value="AL">Alabama</option>
        <option value="WY">Wyoming</option>
    </select>
    
</div>
</body>