<!-- HTML START -->
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title" style="color:#428bca;">            
            <i class="fa fa-table fa-fw "></i>
                <font data-i18n="ns:Menu.File">
                File                                                                  
                </font>
                >
            <a href="#ajax/agent_list.html/grid">                    
                <font data-i18n="ns:Menu.Agent">Agent</font>                
            </a>>
            <font style="color:white" data-i18n="ns:File.Upload">Upload</font>                
        </h1>
    </div>                      
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-cloud-upload"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3" data-i18n="ns:File.Upload">Upload</font>
                    </sub></sub></sub>                    
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                  
                                    <ul class="bootstrapWizard form-wizard">
                                        <div class="tab-pane active" id="tab1">
                                            <!-- <h2>Agent Upload</h2> -->
                                            <div class="alert alert-info fade in">
                                                <button class="close" data-dismiss="alert">
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong> 
                                                <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                            </div>
                                        </div>
                                    </ul>                                    
                                    
                                    <h3 data-i18n="ns:File.Agent.AgentType">Agent Type</h3>

                                    <div class="tab-content">
                                        <!-- Agent Upload Form -->
                                        <div class="row">
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>           
                                                            <input type="hidden" name="operatingSystem" id="operatingSystem" value="Android">
                                                            <input value="Android" class="form-control input-lg" disabled=true>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <hr color="#C9C9C9">
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <h3>Name</h3>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h3>Version</h3>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-file fa-lg fa-fw"></i></span>
                                                            <input type="hidden" name="firmwareType" id="firmwareType" value="OmaAgent">
                                                            <input type="hidden" name="fileType" id="fileType" value="Firmware">
                                                            <input class="form-control input-lg" type="text" name="name" id="name">
                                                            
                                                            <!-- name="type", value="0-7"
                                                                 Unknow(0),
                                                                 App(1),
                                                                 Firmware(2),
                                                                 Bootloader(3),
                                                                 OSImage(4),
                                                                 BootLogo(5),
                                                                 HardwareConfig(6),
                                                                 Agent(7); -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-list-ol fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" type="text" name="fileVersion" id="fileVersion">
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </fieldset>
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <h3>Device Type</h3>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h3>Remark</h3>
                                                </div>
                                            </fieldset>
                                            <fieldset>    
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <select id="deviceType" name="deviceType" class="form-control input-lg">
                                                            </select>    
                                                        </div>
                                                    </div>
                                                </div>                            
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" type="text" name="remark" id="remark">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>                                                                       
                                        </div>
                                        <!-- Agent Upload Form END-->
                                        <hr color="#C9C9C9">                                        
                                        
                                        <h3 data-i18n="ns:File.Agent.AgentFile">Agent File</h3>
                                        <div class="alert alert-warning fade in">
                                            <button class="close" data-dismiss="alert">
                                            </button>
                                            <i class="fa-fw fa fa-warning"></i>
                                            <strong data-i18n="ns:File.Notice">Notice!</strong>  
                                            <tt data-i18n="ns:File.FileSize">File size up to 1GB. </tt>
                                        </div>

                                        <div class="row">                                                    
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                        <!--<input class="form-control input-lg" type="text" placeholder="Please Choose file" name="customFileInput" id="customFileInput">-->
														<div id="customFileInput" class="form-control" style="
															/* IMPORTANT STUFF */    overflow: hidden;    position: relative;    cursor:   pointer;         /* SOME CUSTOM STYLING */        padding: 10px;     
															 text-align: left;    
															 height: 46px;
															 //border: 1px solid #CCCCCC;
															 font-size: 18px;
														">
															<input class="form-control input-lg" type="file" name="uploadFirmware" id="uploadFirmware" accept=".apk" style="
																height: 46px;    cursor: pointer;    position: absolute;    top: 0px;    right: 0px;    font-size: 100px;    z-index: 2;      opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */    filter: alpha(opacity=0); /* IE lt 8 */    -ms-filter: &quot;alpha(opacity=0)&quot;; /* IE 8 */    -khtml-opacity: 0.0; /* Safari 1.x */    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */;
															">
															<span data-i18n="ns:File.ChooseAgentFile">Please choose an agent file (*.apk file)</span>
														</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                               
                                                        <li id="btn_save" class="next">
                                                            <a href="#" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save 
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Upload Button END -->
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<!-- ui-dialog -->
<div id="dynamicDialog">
    <!-- 將動態產生Action Dialog -->
</div>
<!-- ************************[Upload]:START************************** -->
<!-- 動態產生dialogDiv -->
<script id="dialogDiv" type="text/template" >
    <form id="dialogForm" action="" class="smart-form1">           
        <div id="dialogDiv" class="col col-10">
            <font size="3"></font>
        </div>
    </form> 
</script>

<!-- 動態產生uploadDiv_Done -->
<script id="uploadDiv_Done" type="text/template" >
    <form id="uploadForm" action="" class="smart-form1">         
        <div id="uploadDiv" class="col col-10">
            <font size="3" data-i18n="ns:Message.Agent.ServerUploadFileSuccess">[Server]：Upload the file successfully.</font>                      
        </div>
    </form> 
</script>
<!-- 動態產生uploadDiv_Fail -->
<script id="uploadDiv_Fail" type="text/template" >
    <form id="uploadForm" action="" class="smart-form1">         
        <div id="uploadDiv" class="col col-10">
            <font size="3" data-i18n="ns:Message.Agent.ServerUploadFileFailed">[Server]：Upload the file failed.</font>          
        </div>
    </form> 
</script>
<!-- ************************[Upload]:END*************************** -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
		"js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/agent_upload_android.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else 
        {          
            $["ajax/agent_upload_android.html"].bootstrap();
        }
    };

    loadDataScripts();
    
})(jQuery);     
</script>

