<style type="text/css">
/**************************ALL**************************/
.clear { clear: both; }
.tab-pane span{
    font-weight: 400;
	color: #FFFFFF;
    font-size: 13px;	
	padding: 0px 1px 0px 0px; 
	border-right: 0px; 	
	line-height: 13px;
	display: block;
	margin-right: 10px; !important	
}

#widget-grid table td img {
	-webkit-filter: drop-shadow(#9D9D9D 3px 3px 3px);
}

.summary_bg{ padding:5px 5px 5px 5px; background:url(img/gradient-bg.png) repeat #fff;}

/*.DTTT.btn-group { position: absolute; top: -38px; right: 0px; bottom: 20px; !important}*/
.btn-sm.upload-btn { padding:9px 0px 9px 10px; !important}

#myTab1 { margin-top:1px;}
/*******************************************************/
</style>
<link rel="stylesheet" type="text/css" href="css/introjs.css">

<div id="divAgentFileMain" class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-th fa-fw "></i>
				<font data-i18n="ns:Menu.File">
				File                                                                  
				</font>
				>                                    		
			<font style="color:white" data-i18n="ns:Menu.Agent">Agent</font>
		</h1>
	</div>	
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
	<!-- row -->
	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12">
			<!-- widget content -->
			<div class="widget-body" id="file_agent_body">
				<!-- tabs -->
				<ul id="myTab" class="nav nav-tabs">
					<li id="tab2" class="active">
						<a id="s2" href="#s2" data-toggle="tab">
							<i class="fa fa-android fa-fw"></i>
								<font data-i18n="ns:File.Agent.Android">Android</font> 
						</a>
					</li>					
					<li id="tab1">
						<a id="s1" href="#s1" data-toggle="tab">
							<i class="fa fa-windows fa-fw"></i> 
								<font data-i18n="ns:File.Agent.Windows">Windows</font>                    
						</a>
					</li>					
				</ul>
                <!-- end tabs -->
                
                <!-- tabs content -->
				<div id="myTabContent1" class="tab-content" style="background:#000;">
					<!--  ########## TAB : Agent ########## -->
					<div class="tab-pane fade in active content_bg" id="s1">
						<section id="widget-grid" class="summary_bg">
							<div class="row cctech-gv">
								<!--  -->
							</div>							
						</section>
					</div>
					<!-- ########## END TAB : Agent ##########-->
				</div>
                <!-- end tabs content -->
			</div>		
			<!-- end widget content -->
		</article>
		<!-- WIDGET END -->
	</div>
	<!-- end row -->
</section>

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	/*
	 * CONVERT DIALOG TITLE TO HTML
	 * REF: http://stackoverflow.com/questions/14488774/using-html-in-a-dialogs-title-in-jquery-ui-1-10
	 */
	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
    	_title : function(title) {
      		if (!this.options.title) {
        		title.html("&#160;");
      		} else {
        		title.html(this.options.title);
      		}
    	}
  	}));
	
	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/plugin/jquery-grayscale/grayscale.js",
		"js/SimpleDateFormat.js",
		"js/cctech/datagrid_1level.js",
		"js/libs/intro-0.9.0/intro.js",
		"js/agent_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else 
			$["ajax/agent_list.html"].bootstrap();					
	};
	loadDataScripts();
})(jQuery);
</script>