<!-- HTML START -->
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-th fa-fw "></i>
				<font data-i18n="ns:Menu.File">
				File                                                                  
				</font>
				>                                    		
			<a href="#ajax/app_list.html/grid">
				<font data-i18n="ns:Menu.App">App</font>
			</a>>
			<font style="color:white" data-i18n="ns:File.Upload">Upload</font>
			<font style="color:white" data-i18n="ns:File.App.AndroidParentheses">(Android)</font>
		</h1>
	</div>		
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-cloud-upload"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3" data-i18n="ns:File.Upload">Upload</font>
                    </sub></sub></sub>                    
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                                    
                                    <ul class="bootstrapWizard form-wizard">
                                        <div class="tab-pane active" id="tab1">
                                            <!-- <h2>File Information</h2> -->
                                            <div class="alert alert-info fade in" >
                                                <button class="close" data-dismiss="alert">
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong> 
                                                <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                            </div>
                                        </div>
                                    </ul>

                                    <h3 data-i18n="ns:File.App.AppType">App Type</h3>

                                    <!-- APP INFO START-->
                                    <div class="tab-content">
                                        <div class="row">
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <input type="hidden" name="fileType" id="fileType" value="App">
                                                            <input type="hidden" name="operatingSystem" id="operatingSystem" value="Android">
                                                            <input value="Android" class="form-control input-lg" disabled=true>    
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <hr color="#C9C9C9">

                                            <!-- <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-file fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="Title (Ex: III MDM)" type="text" name="title" id="title">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-file-text fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="App Name" type="text" name="name" id="name">                  
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-list-ol fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="Version (Ex: 1.0.15)" type="text" name="fileVersion" id="fileVersion">
                                                        </div>
                                                    </div>
                                                </div>                                                
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-folder-open fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="Package ID (Ex: iii.android.mdm)" type="text" name="packageId" id="packageId">
                                                        </div>
                                                    </div>
                                                </div>                                                    
                                            </fieldset> -->                                            
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="Remark (Ex: Application management for android.)" type="text" name="remark" id="remark">
                                                        </div>
                                                    </div>
                                                </div> 
                                            </fieldset>
                                        </div>
                                        <!-- APP INFO END-->

                                        <hr color="#C9C9C9">
                                        
                                        <!-- APP ICON START-->
                                        <!-- <h3 data-i18n="ns:File.App.AppIcon">App Icon</h3>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-picture-o fa-lg fa-fw"></i></span>
														<div id="customFileInput" class="form-control" style="
															/* IMPORTANT STUFF */    overflow: hidden;    position: relative;    cursor:   pointer;         /* SOME CUSTOM STYLING */        padding: 10px;     
															 text-align: left;    
															 height: 46px;
															 //border: 1px solid #CCCCCC;
															 font-size: 18px;
														">
															<input class="form-control input-lg" placeholder="App Icon" type="file" onchange="" id="appearanceInput" accept="image/*" style="
																height: 46px;    cursor: pointer;    position: absolute;    top: 0px;    right: 0px;    font-size: 100px;    z-index: 2;      opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */    filter: alpha(opacity=0); /* IE lt 8 */    -ms-filter: &quot;alpha(opacity=0)&quot;; /* IE 8 */    -khtml-opacity: 0.0; /* Safari 1.x */    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */;
															">
															<span data-i18n="ns:File.ChooseAppIcon">Please choose an app icon</span>
														</div>
                                                        <input type="hidden" name="image" id="image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div id="result">
                                                    <p style="display: none;">
                                                        This demo works only in browsers with support for the 
                                                        <a href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or 
                                                        <a href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.
                                                    </p>
                                                  </div>
                                            </div>
                                        </div> -->
                                        <!-- APP ICON END-->

                                        <!-- APP FILE START-->
                                        <h3 data-i18n="ns:File.App.AppFile">App File</h3>
                                        <div class="alert alert-warning fade in">
                                            <button class="close" data-dismiss="alert">
                                            </button>
                                            <i class="fa-fw fa fa-warning"></i>
                                            <strong data-i18n="ns:File.Notice">Notice!</strong>  
                                            <tt data-i18n="ns:File.FileSize">File size up to 1GB. </tt>
                                        </div>
                                        <div class="row">                                                    
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                        <!--<input class="form-control input-lg" type="file" name="uploadApp" id="uploadApp">-->
														<div id="customFileInput2" class="form-control" style="
															/* IMPORTANT STUFF */    overflow: hidden;    position: relative;    cursor:   pointer;         /* SOME CUSTOM STYLING */        padding: 10px;     
															 text-align: left;    
															 height: 46px;
															 //border: 1px solid #CCCCCC;
															 font-size: 18px;
														">
															<input class="form-control input-lg" type="file" name="uploadApp" id="uploadApp" accept=".apk" style="
																height: 46px;    cursor: pointer;    position: absolute;    top: 0px;    right: 0px;    font-size: 100px;    z-index: 2;      opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */    filter: alpha(opacity=0); /* IE lt 8 */    -ms-filter: &quot;alpha(opacity=0)&quot;; /* IE 8 */    -khtml-opacity: 0.0; /* Safari 1.x */    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */;
															">
															<span data-i18n="ns:File.ChooseAndroidFile">Please choose an app file (*.apk file)</span>
														</div>
                                                    </div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <!-- APP FILE END-->

                                        <!-- SAVE BUTTON START -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                               
                                                        <li id="btn_save" class="next">
                                                            <a href="#" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save 
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- SAVE BUTTON END -->
                                    </div>                                    
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
    $("body").addClass("loading");
	pageSetUp();

    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/load-image.min.js",
        "js/canvas-to-blob.min.js",
        "js/app_upload_android.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else 
        {          
            $["ajax/app_upload_android.html"].bootstrap();
        }
    };

    loadDataScripts();
    
})(jQuery);     
</script>

