<style type="text/css">

#applicationmanagement_piechart , #devicemanagement_piechart {
	-webkit-filter: drop-shadow(#9D9D9D 3px 3px 3px);
}

</style>
<link rel="stylesheet" type="text/css" href="css/introjs.css">

<!--[START] Breadcrumb ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div id="breadCrumb" class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-fw fa-dashboard"></i>
			<font data-i18n="ns:Menu.Dashboard">Dashboard</font>
        </h1>
    </div>
</div>
<!--[END] Breadcrumb ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- status grid -->
<section id="status-grid" class="row" style="margin-bottom: 5px;">

</section>

<!-- <div class="row jarviswidget" style="display:block;">	
</div> -->

<!-- widget grid -->
<section id="widget-grid" class="" >

	<!-- 
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget content_bg" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-sortable="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-fw fa-pie-chart glyphicon glyphicon-stats txt-color-darken"></i> </span>
					<h2><b data-i18n="ns:Dashboard.Tasks">Tasks</b></h2>

					<ul class="nav nav-tabs pull-right in" id="myTab0">
						<li class="active">
							<a data-toggle="tab" href="#s1"><i class="fa fa-pie-chart"></i> <span class="hidden-mobile hidden-tablet" data-i18n="ns:Dashboard.TaskStatus">Task Status</span></a>
						</li>
					</ul>
				</header>

				<div class="no-padding">

					<div class="row">
						<div id="am_chart" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row" style="margin:20px;">
								<p data-i18n="ns:Message.ApplicationManagementTask">Application Management Tasks</p>
								<div class="col-xs-5">
									<div id="applicationmanagement_piechart"></div>
								</div>
								<div class="col-xs-7">
									<div id="applicationmanagement_info"></div>
								</div>
							</div>
						</div>
						<div id="dm_chart" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row" style="margin:20px;">
								<p data-i18n="ns:Message.DeviceManagementTask">Device Management Tasks</p>
								<div class="col-xs-5">
									<div id="devicemanagement_piechart"></div>
								</div>
								<div class="col-xs-7">
									<div id="devicemanagement_info"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	-->

	<div class=" hidden-xs hidden-sm row">
		<article class="col-sm-12 sortable-grid ui-sortable">
			<div class="jarviswidget content_bg" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-sortable="false" style="margin-bottom: 15px;">
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2><b data-i18n="ns:Dashboard.Tasks">Tasks</b></h2>
				</header>
				<div class="no-padding" role="content">
					<div class="widget-body" style="padding-bottom: 0px;">
						<div class="tab-content">
							<div id="pieChartProcessing" class="dataTables_processing">Processing...</div>
							<div class="row widget-body-toolbar" style="background-color:#EEE">
								<div class="hidden-xs hidden-sm col-md-6 col-lg-5">
									<div class="col-md-4">
										<img style="background:#A90329;width:25px; height:25px;"></img>
										<span style="vertical-align:middle;">Ready</span>
									</div>
									<div class="col-md-4">
										<img style="background:#2E7BCC;width:25px; height:25px;"></img>
										<span style="vertical-align:middle;">Running</span>
									</div>
									<!--<div class="col-md-4">
										<img style="background:#66AA00;width:25px; height:25px;"></img>
										<span style="vertical-align:middle;">Done</span>
									</div>-->
	            				</div>
	            				<div class="col-lg-5 text-center pull-right">
	                					<ul id="pagination-demo" class="pagination-sm" style="margin:0px;display:block;"></ul>
	            				</div>
								<!--
								<div class="col-md-2 btn-group hidden-phone pull-right">
									<a class="btn dropdown-toggle btn-md btn-default pull-right" data-toggle="dropdown" style="margin-bottom: -6px; margin-top: -4px;"><i class="fa fa-lg fa-fw fa-sitemap"></i> Domain <span class="caret"> </span> </a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="javascript:void(0);"><i class="fa fa-file-text-alt"></i> Export to PDF</a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fa fa-question-sign"></i> Help</a>
										</li>
									</ul>
								</div>
								-->
							</div>
							<!--<div id="bar-chart" class="chart"></div>-->
							<div id="task_block" class="row" style="margin-left: 15px; margin-top: 15px; height: 215px;">
								<!--
								<div class="col-md-3">
									<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 215px;"></div>
									<div class="easy-pie-chart txt-color-red easyPieChart" data-percent="50" data-pie-size="100" data-size="170" style="position:absolute; margin-top: 5px; margin-left: 15px;"></div>
									<div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="36" data-pie-size="100" data-size="140" style="position:absolute; margin-top: 20px; margin-left: 30px;"></div>
									<div style="position:absolute; height: 110px; width: 110px; margin-top: 35px; margin-left: 45px; border-radius: 50%; border: 10px solid transparent; color: #fff; background: #658C69; text-align: center; line-height: 90px; font-size: 50px;"><div style="margin-top: -5px;">32</div><div style="margin-top: -55px; font-size: 15px;">done</div></div>
									<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 25px; background-color: #BBBBC3; margin-top: 190px; text-align: center; color: white; font-size: 18px;">Test</div>
								</div>
								<div class="col-md-3">
									<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 215px;"></div>
									<div class="easy-pie-chart txt-color-red easyPieChart" data-percent="50" data-pie-size="100" data-size="170" style="position:absolute; margin-top: 5px; margin-left: 15px;"></div>
									<div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="36" data-pie-size="100" data-size="140" style="position:absolute; margin-top: 20px; margin-left: 30px;"></div>
									<div style="position:absolute; height: 110px; width: 110px; margin-top: 35px; margin-left: 45px; border-radius: 50%; border: 10px solid transparent; color: #fff; background: #658C69;"></div>
								</div>
								<div class="col-md-3">
									<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 215px;"></div>
									<div class="easy-pie-chart txt-color-red easyPieChart" data-percent="50" data-pie-size="100" data-size="170" style="position:absolute; margin-top: 5px; margin-left: 15px;"></div>
									<div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="36" data-pie-size="100" data-size="140" style="position:absolute; margin-top: 20px; margin-left: 30px;"></div>
									<div style="position:absolute; height: 110px; width: 110px; margin-top: 35px; margin-left: 45px; border-radius: 50%; border: 10px solid transparent; color: #fff; background: #658C69;"></div>
								</div>
								<div class="col-md-3">
									<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 215px;"></div>
									<div class="easy-pie-chart txt-color-red easyPieChart" data-percent="50" data-pie-size="100" data-size="170" style="position:absolute; margin-top: 5px; margin-left: 15px;"></div>
									<div class="easy-pie-chart txt-color-blue easyPieChart" data-percent="36" data-pie-size="100" data-size="140" style="position:absolute; margin-top: 20px; margin-left: 30px;"></div>
									<div style="position:absolute; height: 110px; width: 110px; margin-top: 35px; margin-left: 45px; border-radius: 50%; border: 10px solid transparent; color: #fff; background: #658C69;"></div>
								</div>
							-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	
	<!-- User Log -->
	<!-- widget grid -->
	<section id="userlog" class="content_bg hidden-xs hidden-sm">
		<div class="row cctech-gv">
		</div>
	</section>
	<!-- end row -->
</section>

<script type="text/template" id="tpl_group_task_block">
	<div class="col-md-3">
		<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 185px;"></div>
		<div class="pie_chart_ready easy-pie-chart txt-color-red easyPieChart" data-percent="{{ready_percent}}" data-pie-size="90" data-size="170" style="position:absolute; margin-top: 5px; margin-left: 15px;"></div>
		<div class="pie_chart_running easy-pie-chart txt-color-blue easyPieChart" data-percent="{{running_percent}}" data-pie-size="90" data-size="130" style="position:absolute; margin-top: 25px; margin-left: 35px;"></div>
		<div style="position:absolute; height: 90px; width: 90px; margin-top: 45px; margin-left: 55px; border-radius: 50%; border: 10px solid transparent; color: #000000; background: #DEEBF3; text-align: center; line-height: 90px; font-size: 45px;"><div id="done_count_{{index}}" style="margin-top: -20px; font-weight: bolder;">{{done_task}}</div><div style="margin-top: -55px; font-size: 15px;">Done</div></div>
		<div style="position: absolute; border-width: 1px; border-style: solid; border-color:#BBBBC3; width: 200px; height: 20px; background-color: #ECECEC; margin-top: 184px; text-align: center; color: black; font-size: 14px; line-height: 18px; font-weight: bolder;">{{group_name}}</div>
		<div style="position: absolute; margin-top: 133px; margin-left: 45px;"><img src="img/block_mask.png"></div>
		<div style="position: absolute; width: 23px; margin-top: 123px; margin-left: 70px;"><hr style="border-top: 1px solid #DEEBF3;"></div>
		<div style="position: absolute; width: 33px; margin-top: 140px; margin-left: 61px;"><hr style="border-top: 1px solid #DEEBF3;"></div>
		<div id="running_count_{{index}}" style="position: absolute;text-align: center;width: 200px;margin-top: 135px;">{{running_task}}</div>
		<div id="ready_count_{{index}}" style="position: absolute;text-align: center;width: 200px;margin-top: 151px;">{{ready_task}}</div>
	</div>
</script> 

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/flot/jquery.flot.cust.js",
		"js/plugin/flot/jquery.flot.resize.js",
		"js/plugin/flot/jquery.flot.tooltip.js",
		//"js/plugin/flot-orig/jquery.flot.js",
		"js/plugin/flot-orig/jquery.flot.stack.js",
		"js/SimpleDateFormat.js",
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/morris/raphael.2.1.0.min.js",
		"js/plugin/morris/morris.min.js",
		"js/SimpleDateFormat.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/plugin/jquery-grayscale/grayscale.js",
		"js/cctech/datagrid_1level.js",
		"js/plugin/morris/raphael.2.1.0.min.js",
		"js/plugin/morris/morris.min.js",
		"js/plugin/jquery-twbsPagination/jquery.twbsPagination.js",
		"js/dashboard.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/dashboard.html"].bootstrap();
	};
	loadDataScripts();
})(jQuery);
</script>


