<style>
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
</style>
					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
							<h1 class="page-title" style="color:#428bca;">
								<i class="fa fa-tablet fa-fw "></i>
									<font size="5" data-i18n="ns:Menu.Device">
									Device Management                                                                 
									</font>
									>
								<a href="#ajax/device_list.html">
									<font data-i18n="ns:Menu.Devices">Devices</font>
								</a>
								>
								<font style="color:white" data-i18n="ns:Device.Import">Import</font>
							</h1>
						</div>
					</div>


					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-fv">
						</div>
					</section>
										
					<div id="uploadResultDiv" class="" style="display:none; margin:0px; padding 4px;position: fixed;z-index: 9999;width: 70%;padding: 5px;font-size: 16px;text-align: left; overflow:auto; max-height: 160px;" >
					</div>

					<!-- end widget grid -->

					<script id="btnChooseFile" type="text/template">
						<!-- The fileinput-button span is used to style the file input field as button -->
						<span class="btn btn-success btn-lg fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>{{title}}</span>
						<!-- The file input field used as target for the file upload widget -->
						<input id="fileupload" type="file" name="file" class="skip_these" multiple accept=".csv">
						</span>
						<div id="progress" class="progress btn-sm">
						<div class="progress-bar progress-bar-success"></div>
						</div>
						<div id="files" class="files btn btn-lg"></div>
					</script>

				<!-- END MAIN CONTENT -->


<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
	"js/plugin/datatables/jquery.dataTables-cust.min.js",
	"js/plugin/datatables/ColReorder.min.js",
	"js/plugin/datatables/FixedColumns.min.js",
	"js/plugin/datatables/ColVis.min.js",
	"js/plugin/datatables/ZeroClipboard.js",
	"js/plugin/datatables/media/js/TableTools.min.js",
	"js/load-image.min.js",
	"js/canvas-to-blob.min.js",
	"js/jqfu/jquery.ui.widget.js",
	"js/jqfu/jquery.iframe-transport.js",
	"js/jqfu/jquery.fileupload.min.js",
	"js/jqfu/jquery.fileupload-process.js",
	"js/jqfu/jquery.fileupload-image.js",
	"js/jqfu/jquery.fileupload-audio.js",
	"js/jqfu/jquery.fileupload-validate.js",
	"js/jqfu/jquery.fileupload-video.js",
	"js/SimpleDateFormat.js",
	"js/plugin/datatables/DT_bootstrap.js",
	"js/cctech/datagrid_1level.js",
	"js/device_import.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count) {
			loadScript(per_load[count-1],loadDataScripts);
		} else {
			$["ajax/device_import.html"].bootstrap();
		}
	};
	loadDataScripts();

})(jQuery);



// })(jQuery);
</script>
