<style type="text/css">

/*#widget-grid table td img {
	-webkit-filter: drop-shadow(#9D9D9D 3px 3px 3px);
}*/

</style>
<link rel="stylesheet" type="text/css" href="css/introjs.css">

					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
							<h1 class="page-title" style="color:#428bca;">
								<i class="fa fa-tablet fa-fw "></i>
									<font data-i18n="ns:Menu.Device">
									Device Management                                                                 
									</font>
									>
									<font style="color:white" data-i18n="ns:Menu.Types">Type</font>
								</font>
							</h1>
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid" class="content_bg">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->

					<script id="btnChooseFile" type="text/template">
						<!-- The fileinput-button span is used to style the file input field as button -->
						<span class="btn btn-success btn-lg fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>{{title}}</span>
						<!-- The file input field used as target for the file upload widget -->
						<input id="fileupload" type="file" name="files[]" class="skip_these" multiple>
						</span>
						<div id="progress" class="progress btn-sm">
						<div class="progress-bar progress-bar-success"></div>
						</div>
						<div id="files" class="files btn btn-lg"></div>
					</script>

				</div>
				<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
    if (!$.login.user.checkRole('DeviceTypeViewer')) {
        window.location.href = "#ajax/dashboard.html/grid";
    }
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
	"js/plugin/datatables/jquery.dataTables-cust.min.js",
	"js/plugin/datatables/ColReorder.min.js",
	"js/plugin/datatables/FixedColumns.min.js",
	"js/plugin/datatables/ColVis.min.js",
	"js/plugin/datatables/ZeroClipboard.js",
	"js/plugin/datatables/media/js/TableTools.min.js",
	"js/bootstrap-multiselect/bootstrap-multiselect.js",
	"js/SimpleDateFormat.js",	
	"js/plugin/datatables/DT_bootstrap.js",
	"js/cctech/datagrid_1level.js",
	"js/devicetype_list.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/devicetype_list.html"].bootstrap();
	};
	loadDataScripts();

})(jQuery);



// })(jQuery);
</script>
