<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-multiselect.css">

					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
					        <h1 class="page-title" style="color:#428bca;">							
								<i class="fa fa-tablet fa-fw "></i>
									<font size="5" data-i18n="ns:Menu.Device">
									Device Management                                                                 
									</font>
									>
								<a href="#ajax/devicetype_list.html/grid">									
									<font data-i18n="ns:Menu.Types">Types</font>
								</a>
								>
								<font id="deviceTypeName"></font>
								>
								<font style="color:white" data-i18n="ns:DeviceType.Edit">Edit</font>
					        </h1>
					    </div>						
					</div>

					<!-- widget grid -->
					<section id="widget-grid" class="">
					
					<!-- row -->
					<div class="row">
					
						<!-- NEW WIDGET START -->
						<article class="col-sm-12 col-md-12 col-lg-12">
						
							<!-- Widget ID (each widget will need unique ID) -->
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
							
								<header>
									<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				                    <sub><sub><sub>
				                        &nbsp;&nbsp;
				                        <font size="3" data-i18n="ns:DeviceType.EditDeviceType">Edit Device Type</font>
				                    </sub></sub></sub>
									<!-- <span class="widget-icon"> <i class="fa fa-edit"></i> </span> -->
									<!-- <h1> Add DeviceType </h1> -->
								</header>
								
								<!-- widget div -->
								<div>
								
								
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
									</div>
									
									<!-- widget content -->
									<div class="widget-body">
									
										<div class="row">
											<form id="wizard-1" novalidate="novalidate">
												<div id="bootstrap-wizard-1" class="col-sm-12">
														<ul class="bootstrapWizard form-wizard">
															<div class="tab-pane active" id="tab1">
																<h2 data-i18n="ns:DeviceType.ReportSetting">Report Settings</h2>
																<div class="alert alert-info fade in">
																	<button class="close" data-dismiss="alert">
																	</button>
																	<i class="fa-fw fa fa-info"></i>
																	<strong data-i18n="ns:Message.Info">Info!</strong> 
																	<tt data-i18n="ns:Message.FillFollowingForm">Please fill in the following form.</tt>
																</div>
															</div>
														</ul>
													<div class="tab-content">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group">
																	<div class="input-group">
																		<span class="input-group-addon"><i class="fa fa-edit fa-lg fa-fw"></i></span>
																		<textarea class="form-control input-lg" placeholder="Remark" id="remark" name="remark" rows="5" />
																	</div>
																</div>
															</div>
														</div>
														<div class="row">								
															<div class="col-sm-6">
																<div class="form-group">
																	<div class="input-group">
																		<span class="input-group-addon"><i class="fa fa-eye fa-lg fa-fw"></i></span>
																		<input type="hidden" name="dcmoLayout" id="dcmoLayout" value="">
																		<div class="btn-group">
																			<select id="reportSettingList" class="multiselect form-control input-lg" multiple="multiple"></select>
																		</div>
																		<div class="btn-group">
																			<button type="button" id="get-selected" class="btn btn-primary form-control input-lg" data-i18n="ns:Message.ChooseReportItems"> Choose report items</button>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="form-group">
																	<div class="input-group">
																		<span class="input-group-addon"><i class="fa fa-clock-o fa-lg fa-fw"></i></span>
																		<input class="form-control input-lg" placeholder="Report interval (3 ~ 1440 minutes)" type="number" name="reportInterval" id="reportInterval">
																		<input type="hidden" name="provisionCommand" id="provisionCommand" value="">
																	</div>
																</div>
															</div>
														</div>
														
														<div class="form-actions">
															<div class="row">
																<div class="col-sm-12">
																	<ul class="pager wizard no-margin">
																		<li class="next">
																			<a href="#" id="btn_save" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
																				Save 
																			</a>
																		</li>
																		<li id="btn_back" class="previous">
																			<a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
																		</li>																		
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</article>
						</div>
					</section>

					<!-- end widget grid -->

				</div>
				<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/bootstrap-multiselect/bootstrap-multiselect.js",
		"js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
		"js/devicetype_edit.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/devicetype_edit.html"].bootstrap();
	};
	loadDataScripts();

})(jQuery);
</script>
