<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-multiselect.css">
<link rel="stylesheet" type="text/css" href="css/jquery.Jcrop.css">
<style>
.result,
.thumbnail {
	padding: 20px;
	background: #fff;
	color: #222;
	text-align: center;
}
.jcrop-holder {
	margin: 0 auto;
}
</style>
					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
					        <h1 class="page-title" style="color:#428bca;">							
								<i class="fa fa-tablet fa-fw "></i>
									<font size="5" data-i18n="ns:Menu.Device">
									Device Management                                                                 
									</font>
									>
								<a href="#ajax/devicetype_list.html/grid">									
									<font data-i18n="ns:Menu.Types">Types</font>
								</a>
								>
								<font style="color:white" data-i18n="ns:Device.Actions.Add">Add</font>
					        </h1>
					    </div>                      
					</div>

					<!-- widget grid -->
					<section id="widget-grid" class="">
					
					<!-- row -->
					<div class="row">
					
						<!-- NEW WIDGET START -->
						<article class="col-sm-12 col-md-12 col-lg-12">
						
							<!-- Widget ID (each widget will need unique ID) -->
							<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
							
								<header>
									<span class="widget-icon"> <i class="fa fa-plus"></i> </span>
				                    <sub><sub><sub>
				                        &nbsp;&nbsp;
				                        <font size="3" data-i18n="ns:DeviceType.AddDeviceType">Add Device Type</font>
				                    </sub></sub></sub>
									<!-- <span class="widget-icon"> <i class="fa fa-edit"></i> </span> -->
									<!-- <h1> Add DeviceType </h1> -->
								</header>
								
								<!-- widget div -->
								<div>
								
								
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
									</div>
									
									<!-- widget content -->
									<div class="widget-body">
									
										<div class="row">
											<form id="wizard-1" novalidate="novalidate">
												<div id="bootstrap-wizard-1" class="col-sm-12">
													<div class="form-bootstrapWizard" style="position:relative;">
														<ul class="bootstrapWizard form-wizard">
															<li class="active" data-target="#step1">
																<a href="#tab1" data-toggle="tab"> <span class="step" data-i18n="ns:Message.StepOneNum">1</span> <span class="title" data-i18n="ns:DeviceType.DeviceTypeInformation">DeviceType information</span> </a>
															</li>
															<li data-target="#step2">
																<a href="#tab2" data-toggle="tab"> <span class="step" data-i18n="ns:Message.StepTwoNum">2</span> <span class="title" data-i18n="ns:DeviceType.ReportSetting">Report setting</span> </a>
															</li>
														</ul>
														<div class="clearfix"></div>
													</div>
													<div class="row" style="
														position: absolute;
														top: -13px;
														z-index: 9999; 
														background: #FFFFFF;
														filter:alpha(opacity=0); 
														opacity: 0; -moz-opacity=0;
														max-width: 100%;
														width: 100%;
														height: 96px;">
				                                    </div>
                                    
													<div class="tab-content">
														<div class="tab-pane active" id="tab1">
															<br>
															<h3>
																<strong data-i18n="ns:Message.StepOne">Step 1 </strong> 
																<tt data-i18n="ns:DeviceType.DashDeviceType"> - DeviceType</tt>
															</h3>

															<div class="alert alert-info fade in">
																<button class="close" data-dismiss="alert">
																</button>
																<i class="fa-fw fa fa-info"></i>
																<strong data-i18n="ns:Message.Info">Info!</strong>
																<tt data-i18n="ns:Message.FillFollowingForm">Please fill in the following form.</tt>
															</div>
															<div class="row">								
																<div class="col-sm-6">
																	<div class="form-group">
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
																			<input class="form-control input-lg" placeholder="DeviceType name" type="text" name="name" id="name">
																			<!--<input type="hidden" name="productTypeId" id="productType" value="1">-->
																		</div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<div class="form-group">
																		
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-android fa-lg fa-fw"></i></span>
																			<select id="operatingSystem" name="operatingSystem" class="form-control input-lg">
																				<option value="" selected="selected" data-i18n="ns:DeviceType.SelectOS">Select OS</option>
																				<option value="Android"><i class="fa fa-android" data-i18n="ns:DeviceType.Android"></i>Android</option>
																				<!-- <option value="iOS">iOS</option> -->
																				<option value="Windows" data-i18n="ns:DeviceType.Windows">Windows</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">	
																<div class="col-sm-6">
																	<div class="form-group">
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-file-code-o fa-lg fa-fw"></i></span>
																			<!--<input class="form-control input-lg" placeholder="DeviceType Data Model" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" id="dataModelFile" accept=".xml">-->
																			<div id="customFileInput" class="form-control" style="
																				/* IMPORTANT STUFF */    overflow: hidden;    position: relative;    cursor:   pointer;         /* SOME CUSTOM STYLING */        padding: 10px;     
																				 text-align: left;    
																				 height: 46px;
																				 //border: 1px solid #CCCCCC;
																				 font-size: 18px;
																			">
																				<input class="form-control input-lg" placeholder="DeviceType Data Model" type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" id="dataModelFile" accept=".xml" style="
																					height: 46px;    cursor: pointer;    position: absolute;    top: 0px;    right: 0px;    font-size: 100px;    z-index: 2;      opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */    filter: alpha(opacity=0); /* IE lt 8 */    -ms-filter: &quot;alpha(opacity=0)&quot;; /* IE 8 */    -khtml-opacity: 0.0; /* Safari 1.x */    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */;
																				">
																				<span data-i18n="ns:DeviceType.ChooseDataModel">Please choose DataModel (xml file)</span>
																			</div>
																			<input type="hidden" name="defaultDataModelTree" id="dataModel">
																		</div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<div class="form-group">
																		<div class="input-group input-lg" >
																			<i class="fa fa-file-code-o fa-lg"></i> &nbsp;
																			<tt data-i18n="ns:DeviceType.DataModelSampleDownload"> DataModel Sample Download</tt> &nbsp;
																			<a href="data/dmt.xml" target="_blank" download><i class="fa fa-download fa-lg"></i></a>
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-6">
																	<div class="form-group">
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-picture-o fa-lg fa-fw"></i></span>
																			<!--<input class="form-control input-lg" placeholder="DeviceType Appearance" type="file" name="appearanceFile" onchange="" id="appearanceInput" accept="image/*">-->
																			<div id="customFileInput2" class="form-control" style="
																				/* IMPORTANT STUFF */    overflow: hidden;    position: relative;    cursor:   pointer;         /* SOME CUSTOM STYLING */        padding: 10px;     
																				 text-align: left;    
																				 height: 46px;
																				 //border: 1px solid #CCCCCC;
																				 font-size: 18px;
																			">
																				<input class="form-control input-lg" placeholder="DeviceType Appearance" type="file" name="appearanceFile" onchange="" id="appearanceInput" accept="image/*" style="
																					height: 46px;    cursor: pointer;    position: absolute;    top: 0px;    right: 0px;    font-size: 100px;    z-index: 2;      opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */    filter: alpha(opacity=0); /* IE lt 8 */    -ms-filter: &quot;alpha(opacity=0)&quot;; /* IE 8 */    -khtml-opacity: 0.0; /* Safari 1.x */    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */;
																				">
																				<span data-i18n="ns:DeviceType.ChooseAppearance">Please choose appearance for this device type</span>
																			</div>
																			<input type="hidden" name="appearance" id="appearance">
																		</div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<!-- Start -->
																	<p id="actions" style="display:none;">
																		<button type="btn" id="edit"><i class="fa fa-edit"></i><font data-i18n="ns:DeviceType.Edit">Edit</font></button>
																		<button type="btn" id="crop"><i class="fa fa-crop"></i><font data-i18n="ns:DeviceType.Crop">Crop</font></button>
																	</p>
																	<!-- End -->
																	<div id="result" style="display:none; padding: 10px; border: 1px dashed black; ">
																		<p style="display: none;">
																			This demo works only in browsers with support for the 
																			<a href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or 
																			<a href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.
																		</p>
																	</div>
																	<!-- Start -->
																	<br />
																	<div id="exif" class="exif" style="display:none;">
																		<p id="thumbnail" class="thumbnail" style="display:none;"></p>
																		<table></table>
																	</div>
																	<!-- End -->
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12">
																	<div class="form-group">
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-edit fa-lg fa-fw"></i></span>
																			<textarea class="form-control input-lg" placeholder="Remark" id="remark" name="remark" rows="5" />
																		</div>
																	</div>
																</div>
															</div>
														</div>
														
														<div class="tab-pane" id="tab2">
															<br>
															<h3><strong data-i18n="ns:Message.StepTwo">Step 2 </strong >
															<tt data-i18n="ns:DeviceType.DashDeviceType"> - DeviceType </tt></h3>
															<div class="alert alert-info fade in">
																<button class="close" data-dismiss="alert">
																</button>
																<i class="fa-fw fa fa-info"></i>
																<strong data-i18n="ns:Message.Info">Info!</strong> 
																<tt data-i18n="ns:DeviceType.DeviceTypeReportSetting"> Device type report setting.</tt>
															</div>
															<div class="row">								
																<div class="col-sm-6">
																	<div class="form-group">
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-eye fa-lg fa-fw"></i></span>
																			<input type="hidden" name="dcmoLayout" id="dcmoLayout" value="">
																			<!--<input class="form-control input-lg" placeholder="Report setting list" type="text" name="reportSettingList" id="reportSettingList">-->
																			<div class="btn-group">
																				<select id="reportSettingList" class="multiselect form-control input-lg" multiple="multiple"></select>
																			</div>
																			<div class="btn-group">
																			    <button type="button" id="get-selected" class="btn btn-primary form-control input-lg" data-i18n="ns:Message.ChooseReportItems">Choose report items</button>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-sm-6">
																	<div class="form-group">
																		<div class="input-group">
																			<span class="input-group-addon"><i class="fa fa-clock-o fa-lg fa-fw"></i></span>
																			<input class="form-control input-lg" placeholder="Report interval (3 ~ 1440 minutes)" type="number" name="reportInterval" id="reportInterval">
																			<input type="hidden" name="provisionCommand" id="provisionCommand" value="">
																		</div>
																	</div>
																</div>
															</div>
														</div>
														
														<div class="form-actions">
															<div class="row">
																<div class="col-sm-12">
																	<ul class="pager wizard no-margin">
																			<!--<li class="previous first disabled">
																			<a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
																		</li>-->
																		<li id="btn_back" class="previous">
																			<a href="javascript:void(0);" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
																		</li>
																			<!--<li class="next last">
																			<a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
																		</li>-->
																		<li id="btn_save" class="next">
																			<a href="javascript:void(0);" class="btn btn-lg bg-color-blue txt-color-white" data-i18n="ns:Message.Next"> Next </a>
																		</li>																		
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</article>
						</div>
					</section>

					<!-- end widget grid -->

				</div>
				<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
		"js/load-image.min.js",
		"js/libs/jquery.Jcrop.js",
		"js/canvas-to-blob.min.js",
		"js/SimpleDateFormat.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/cctech/datagrid_1level.js",
		"js/bootstrap-multiselect/bootstrap-multiselect.js",
		"js/devicetype_add.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/devicetype_add.html"].bootstrap();
	};
	loadDataScripts();

})(jQuery);



// })(jQuery);
</script>
