<style>
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.summary_bg{ padding:5px 5px 5px 5px; background:url(img/gradient-bg.png) repeat #fff;}
</style>
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-tablet fa-fw "></i>
				<font size="5" data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>
			<a href="#ajax/device_list.html">
				<font data-i18n="ns:Menu.Devices">Devices</font>
			</a>
			>
			<font style="color:white" data-i18n="ns:Device.Import">Import</font>
		</h1>
	</div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <header>
					<h2>
						<span data-i18n="ns:Device.Import">Import</span>
					</h2>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">
                                    <div class="row">
										<div class="col-sm-3">
											<h3>Device Group</h3>
										</div>
										<div class="col-sm-3">
											<h3 class="pull-right">
												<div class="smart-form"><label class="checkbox"><input type="checkbox" id="createGroup"><i></i>create a new group</label>
												</div>
											</h3>
										</div>
										<div class="col-sm-6">
											<h3>Device Type</h3>
										</div>
									</div>
									<div class="row">   
									    <div class="col-sm-6">
									        <div class="form-group">
									            <div class="input-group">
									                <span class="input-group-addon"><i class="fa fa-gear fa-lg fa-fw"></i></span>
									                <select id="groupName" name="groupName" class="form-control input-lg">
									                </select>    
									            </div>
									        </div>
									    </div>                      
									    <div class="col-sm-6">
									        <div class="form-group">
									            <div class="input-group">
									                <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
									                <select id="deviceType" name="deviceType" class="form-control input-lg">
									                </select>    
									            </div>
									        </div>
									    </div>       
									</div>
									<div class='row' id='deviceImport'>
										<div class='col-sm-6' style='margin-top: 20px;'>
											<div class='row'>
												<div id='btn_addFile' class='col-sm-12'>
													<span class="btn btn-success btn-sm fileinput-button">
														<i class="glyphicon glyphicon-plus"></i>
														<span style='font-size:15px'>Add file ..</span>
														<!-- The file input field used as target for the file upload widget -->
														<input id="fileupload" type="file" name="file" class="skip_these" multiple accept=".txt">
													</span>
												</div>
												<div class='col-sm-12'><hr id='separate'></div>
												<div class='col-sm-12'>
													<div id="files" class="col-sm-5 files"></div>
													<div id="progress_handle">
														<div id="progress" class="col-sm-5 progress btn-sm">
															<div class="progress-bar progress-bar-success"></div>
														</div>
														<!--
														<div>
															<button id='uploadCSV' class="btn btn-primary">
	                    										<i class="glyphicon glyphicon-upload"></i>
	                    										<span>Upload</span>
	                										</button>
	                									</div>
	                									-->
													</div>
												</div>
											</div>
										</div>
										<br>
										<div id="csvExample" class="col-sm-6 hidden-xs">
											<font data-i18n="ns:Device.CSVExample">*.txt Example:</font><table class="table table-striped noselect" style=""><tbody><tr><th>Device ID</th><th></th><th>*.txt</th></tr><tr><td>865922019110989 (IMEI)</td><td>==>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>865922019110989</td></tr><tr><td>A6:5E:60:DC:AE:8B (MAC)</td><td></td><td>A65E60DCAE8B</td></tr></tbody></table><div class="pull-right"><a href="data/devices.txt" target="_blank" download><i class="fa fa-download fa-lg"></i></a> <font data-i18n="ns:Device.DownloadExample">Download Example</font></div></div>

									</div>                                           
									<!-- Save Button -->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <ul class="pager wizard no-margin">                               
                                                    <li id="btn_back" class="previous">
                                                        <a href="javascript:void(0);" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                    </li>
                                                    <!--<li id="btn_save" class="next">
                                                        <a href="javascript:void(0);" class="btn btn-lg bg-color-blue txt-color-white" data-i18n="ns:Message.Next"> Next </a>
                                                    </li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Save Button END -->               
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->
<div id="uploadResultDiv" class="" style="display:none; margin:0px; padding 4px;position: fixed;z-index: 9999;width: 70%;padding: 5px;font-size: 16px;text-align: left; overflow:auto; max-height: 160px;" >
</div>

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
	"js/plugin/datatables/jquery.dataTables-cust.min.js",
	"js/plugin/datatables/ColReorder.min.js",
	"js/plugin/datatables/FixedColumns.min.js",
	"js/plugin/datatables/ColVis.min.js",
	"js/plugin/datatables/ZeroClipboard.js",
	"js/plugin/datatables/media/js/TableTools.min.js",
	"js/load-image.min.js",
	"js/canvas-to-blob.min.js",
	"js/jqfu/jquery.ui.widget.js",
	"js/jqfu/jquery.iframe-transport.js",
	"js/jqfu/jquery.fileupload.js",
	"js/jqfu/jquery.fileupload-process.js",
	"js/jqfu/jquery.fileupload-image.js",
	"js/jqfu/jquery.fileupload-audio.js",
	"js/jqfu/jquery.fileupload-validate.js",
	"js/jqfu/jquery.fileupload-video.js",
	"js/SimpleDateFormat.js",
	"js/plugin/datatables/DT_bootstrap.js",
	"js/cctech/datagrid_1level.js",
	"js/device_import.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count) {
			loadScript(per_load[count-1],loadDataScripts);
		} else {
			$["ajax/device_import.html"].bootstrap();
		}
	};
	loadDataScripts();

})(jQuery);



// })(jQuery);
</script>
