<style type="text/css">
.reportHead {
	height: 32px;
	text-align: center;
	font-weight: bolder;
	background-color: rgba(0,0,0,0.2);
	line-height: 32px;
	margin-bottom: 10px;
}
.table {
	border: solid;
}
</style>
					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
							<h1 class="page-title" style="color:#428bca;">
								<i class="fa fa-file-text fa-fw "></i>
									<font data-i18n="ns:Menu.Report">
									Report                                                                  
									</font>
									>                                    		
								<font style="color:white" data-i18n="ns:Menu.DeviceReport">Device Report</font>
							</h1>
						</div>
					</div>

					<!-- widget grid -->
					
					<section id="widget-grid">
						<div class="row">
							<article class="col-sm-12">
								<div class="jarviswidget jarviswidget-color-purple" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
									<div class="row">
										<div>
											<div id="export" class="pull-right">
												<i class="fa fa-file-excel-o fa-2x"></i> <font data-i18n="ns:Report.Export">Export</font>
											</div>
										</div>
									</div>
									<div class="widget-body">
										<div>
											<div class="reportHead"><font data-i18n="ns:Report.DeviceReport.DeviceTypes">Device Types</font></div>
											<div id="DeviceTypeReport">
											</div>
											<div id="DeviceTypeReportGrid">
											</div>
										</div>
										<div>
											<div class="reportHead"><font data-i18n="ns:Report.DeviceReport.LockStatus">Lock Status</font></div>
											<div id="DeviceLockReport">
											</div>
											<div id="DeviceLockReportGrid">
											</div>
										</div>
										<div>
											<div class="reportHead"><font data-i18n="ns:Report.DeviceReport.Groups">Groups</font></div>
											<div id="DeviceGroupReport">
											</div>
											<div id="DeviceGroupReportGrid">
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</section>

					<!-- end widget grid -->

				<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
    if (!$.login.user.checkRole('ReportViewer')) {
        window.location.href = "#ajax/dashboard.html/grid";
    }
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/cctech/datagrid_1level.js",
		"js/device_report.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/device_report.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);

</script>
