<!-- HTML START -->
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">							
			<i class="fa fa-tablet fa-fw "></i>
				<font size="5" data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>
			<a href="#ajax/device_list.html/grid">									
				<font data-i18n="ns:Menu.Devices">Devices</font>
			</a>
			>
            <font style="color:white" id="deviceName"><font></font></font>
            >
			<font style="color:white" data-i18n="ns:Device.Edit">Edit</font>
		</h1>
	</div>	
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                 <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">    
                                    <!-- Device Name & Remark -->
                                    <div class="tab-content">
                                        <div class="row">    
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup>Change Label</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="Ex: the alias or nick name." type="text" name="label" id="label">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                            
                                                        <li class="next">
                                                            <a href="#" id="btn_save" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save 
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>                                    
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/device_edit.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else 
            $["ajax/device_edit.html"].bootstrap();
    };

    loadDataScripts();

})(jQuery);     
</script>

