<style type="text/css">
/**************************ALL**************************/
.clear { clear: both; }
.tab-pane span.titlebig{
    font-size: 36px;
	letter-spacing:-4px; 
	font-weight:900;
	color:#1E1E1E;
	background:url(img/arrow_right.png) no-repeat right bottom;
	padding:13px 30px 10px 0 ;
	border:none;
	height:30px;
	
}
.nav nav-tabs li{ background:#ff0000;}
.shadow_line{ background:url(img/shadow_line.png) repeat-x; width:100%; height:7px;}

#myTab1 .pull-right{ margin-top:12px;}
.action_red{ background:#EF0403; border:none; color:#fff; cursor:pointer; font-size:14px; margin-top:-7px; padding:5px 100px 5px 10px; text-align:right;}
.action_red a{ color:#fff;}
.action_red a:hover{ text-decoration:none;}
.action_red .caret { position:absolute; right:5px; top:30%;}

.dropdown-menu i{ margin-right:10px;}
/**************************SUMMARY**************************/
.summary_bg{ padding:5px 5px 5px 5px; background:url(img/gradient-bg.png) repeat #fff;}
	
.summary_propertie_row{  }	/*background:url(img/icon_propertie.png) left top no-repeat;*/

.summary_propertie_row h1{
    font-size: 36px;
	letter-spacing:-4px; 
	font-weight:900;
	color:#1E1E1E;
	background:url(img/icon_propertie.png) no-repeat left top ;
	padding:6px 0px 3px 60px ;}
	
.property_bg{
    width:100%; height:100%; min-height:110px; margin-top:10px;
	background-color:#E7E7E7;}
	
.property_below{ width:100%; height:100%; min-height:200px; margin-top:10px;}

.status_value {
	font-size: 30px;
	position: absolute;  
    left: 8px;  
    top: 16px;
	z-index: 1;  
    letter-spacing: -.2px;  
    font-weight: 100;
    color: #5B9E9B;
}

.status_desc {
	font-size: 16px;
	position: absolute;
	left: 7px;
	bottom: 24px;
	z-index: 1;
	letter-spacing: -.2px;
	font-weight: 100;
}

</style>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-tablet fa-fw "></i>
			<font data-i18n="ns:Menu.Domain">
			Domain                                                                 
			</font>
			>
			<font style="color:white" id="domainName"><font></font></font>
        </h1>
    </div>                      
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="row">
		<article class="col-sm-12 col-md-12 col-lg-12">
			<div class="widget-body" id="domain_detail_body">
				<div class="content_bg" style="height:100%;">
					<div id="domain_member">
						<section id="widget-grid">
							<div class="row cctech-gv">
							</div>
						</section>
					</div>
				</div>
			</div>		
		</article>
	</div>
</section>

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");

	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
		_title : function(title) {
			if (!this.options.title) {
				title.html("&#160;");
			} else {
				title.html(this.options.title);
			}
		}
	}));
	
	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/plugin/jquery-grayscale/grayscale.js",
		"js/cctech/datagrid_1level.js",
		"js/domain_detail.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else {
			$["ajax/domain_detail.html"].bootstrap();
			if(Backbone && Backbone.History && !Backbone.History.started)
				Backbone.history.start({});
		}
	};

	loadDataScripts();
})(jQuery);
</script>