					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
							<h1 class="page-title txt-color-blueDark" data-i18n="ns:Domain.DomainUser">
								<i class="fa fa-fw fa-user"></i> 
									Domain User

							</h1>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
							
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->
					
				<!-- END MAIN CONTENT -->				

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	// console.log('pageSetUp');
	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/cctech/datagrid_1level.js",
		"js/domain_user_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else 
		{
			console.log('Ready to bootstrap');
			$["ajax/domain_user_list.html"].bootstrap();
		}
			
	};

	loadDataScripts();

})(jQuery);    	
</script>