<!-- Include Twitter Bootstrap and jQuery: -->


<!--
  <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" type="text/css"/>
-->

<!-- <script type="text/javascript" src="js/libs/jquery-2.0.2.min.js"></script> -->
<!-- <script type="text/javascript" src="js/bootstrap-multiselect/bootstrap-3.1.1.min.js"></script> -->

<!-- Include the plugin's CSS and JS: -->
<!-- <script type="text/javascript" src="js/bootstrap-multiselect/bootstrap-multiselect.js"></script> -->

<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />


<body>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <a href="#ajax/domain_list.html/grid">
                    <i class="fa fa-fw fa-sitemap"></i>
                        <font size="5" data-i18n="ns:Menu.Domain">
                        Domain                                                                 
                        </font>
                        >                                    
                </a>
                <span>
                    <font size="4" data-i18n="ns:Domain.Edit">Edit</font>
                </span>
            </h1>
        </div>
    </div>

    <!-- Build your select: -->

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> 
                        </span>

                        <sub><sub><sub>
                            &nbsp;&nbsp;
                            <font size="3" data-i18n="ns:Domain.EditDomainDeviceList">Edit Domain Device List</font>
                        </sub></sub></sub>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="row">
                                <form id="wizard-1" novalidate="novalidate">
                                    <div id="bootstrap-wizard-1" class="col-sm-12">
                                        <!--
                  <div class="form-bootstrapWizard">

                    <ul class="bootstrapWizard form-wizard">
                      <li class="active" data-target="#step1">
                        <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Domain information</span> </a>
                      </li>
                      <li data-target="#step2">
                        <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Permission setting</span> </a>
                      </li>
                    </ul>

                    <div class="clearfix"></div>
                  </div>
                -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <h3 data-i18n="ns:Domain.DomainInformation">Domain Information</h3>
                                                <div class="alert alert-info fade in">
                                                    <button class="close" data-dismiss="alert">

                                                    </button>
                                                    <i class="fa-fw fa fa-info"></i>
                                                    <strong data-i18n="ns:Message.Info">Info!</strong>
                                                    <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                                </div>
                                                <!--
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i>
                                                                </span>
                                                                <input class="form-control input-lg" placeholder="Domain Name(Ex: Alvin, Holisun..etc)" type="text" name="domainname" id="domainname">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i>
                                                                </span>
                                                                <input class="form-control input-lg" placeholder="Description(Ex: Without any devices.)" type="text" name="description" id="description">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            	-->

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-tablet fa-lg fa-fw"></i>
                                                                </span>
                                                                <div class="btn-group">
                                                                    <select id="deviceSelect" class="multiselect" multiple="multiple">

                                                                    </select>
                                                                </div>
                                                                <div class="btn-group">
                                                                    <button type="button" id="get-selected" class="btn btn-primary" data-i18n="ns:Message.ChooseDevice">Choose the devices</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>



                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <!--<li class="previous first disabled">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                </li>-->
                                                            <!--
                                <li class="previous disabled">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                                </li>
                              -->
                                                            <!--<li class="next last">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                </li>-->
                                                            <li class="next">
                                                                <a href="javascript:void(0);" id="save" class="btn btn-lg bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> Save </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->


        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</body>




<script type="text/javascript">
(function($) {
    $("body").addClass("loading");
	var originalDeviceList;
    pageSetUp();

    var $validator = $("#wizard-1").validate({

        rules: {
            domainname: {
                required: true
            }
        },

        messages: {
            // rolename: "User name MUST be filled",
            // description: "Please specify something to remind you",
            // email: "Please use the available email address"
        },

        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });



    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/domain_edit.js"
        // "js/domain_add.js"
    ];

    var getDevices = function() {
        // HTTP GET 取得Device的現有清單       
        // var dmURL = $.config.server_rest_url + '/devices?sortField=id';
        var deafultDomain = $.config.server_rest_url + '/domains/1/devices?sortField=id';
        console.log('Request device list for creating domain');
        var devices = new Array();
        // Get default domain
        $.ajax({
            async: false,
            type: 'GET',
            url: deafultDomain
        }).done(function(data) {
            //動態產生Device的現有清單        
            for (var i = 0; i < data.length - 1; i++) {
                var obj = {
                    value: data[i].id,
                    label: data[i].name
                };
                devices.push(obj);
            }

            // Get domain list
            var hash = window.location.hash;
            var id = hash.replace(/^#ajax\/domain_device_edit.html\/(\w+)$/, "$1");
            var thisDomain = $.config.server_rest_url + '/domains/' + id + '/devices?sortField=id';
            var selectedList = new Array();
            $.ajax({
                async: false,
                type: 'GET',
                url: thisDomain
            }).done(function(data) {

                for (var i = 0; i < data.length - 1; i++) {
                    var obj = {
                        value: data[i].id,
                        label: data[i].name
                    };
                    devices.push(obj);
                    selectedList.push(data[i].id);
                }
                originalDeviceList = selectedList;
            });

            $('.multiselect').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true,
                maxHeight: $('body').height()-340,
                // buttonWidth:'820ptx',
                numberDisplayed: 0
            });

            // Sort by value(that is id in the database)
            function sortFunction(a, b) {
                if (a.value === b.value) {
                    return 0;
                }
                else {
                    return (a.value < b.value) ? -1 : 1;
                }
            }

            devices.sort(sortFunction);

            $("#deviceSelect").multiselect('dataprovider', devices);
            $("#deviceSelect").multiselect('select', selectedList);

            // }).fail(function() {
            // 
        });

    };

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            console.log('Ready to bootstrap');
            getDevices();
            $["ajax/domain_edit.html"].bootstrap();
        }

    };

    loadDataScripts();


    $(document).ready(function() {

        $('#get-selected').on('click', function() {
            var values = [];

            $('option:selected', $('.multiselect')).each(function() {
                // console.log('Ready to push '+$(this).val());
                values.push($(this).context.label);
            });
            // alert(values);
        })

        $('#save').on('click', function() {
            var $valid = $("#wizard-1").valid();
            if (!$valid) {
                console.log('Not valid');
                $validator.focusInvalid();
                return false;
            } else {
                console.log('Valid');
            }
            console.log('Begin to edit domain...');

            var values = [];
            $('option:selected', $('.multiselect')).each(function() {
                // console.log('Ready to push '+$(this).val());
                values.push(parseInt($(this).val()));
            });

            // Start to compare add and remove items
            console.log('Original device list is ');
            console.log(originalDeviceList);
            console.log('New device list is ');
            console.log(values);
            var removeDeviceList = $.grep(originalDeviceList, function(x) {
                return $.inArray(x, values) < 0;
            });
            var addDeviceList = $.grep(values, function(x) {
                return $.inArray(x, originalDeviceList) < 0;
            });
            console.log('Added list is');
            console.log(addDeviceList);
            console.log('Removal list is');
            console.log(removeDeviceList);
            // alert(values);

            var hash = window.location.hash;
            //alert(hash);
            var id = hash.replace(/^#ajax\/domain_device_edit.html\/(\w+)$/, "$1");
            var url = $.config.server_rest_url + '/domains/' + id + '/devices';
            var data = {
                additionDeviceIdSet: addDeviceList,
                removeDeviceIdSet: removeDeviceList
            };
            $.ajax({
                type: 'POST',
                dataType: 'json',
                headers: {
                    "X-HTTP-Method-Override": "PUT"
                },
                async: false,
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data),
                success: function(data) {
                    console.log('Add Success');
                    //window.location.href = '#ajax/domain_list.html';
					window.history.back();
                    // console.log(data);
                },
                error: function(data) {
                    console.log('Add Error');
                    // alert('Create Failed!!');
                    // console.log(data); 
                },
            });
        })

    });
})(jQuery);
</script>
