<!-- Include Twitter Bootstrap and jQuery: -->


<!--
  <link rel="stylesheet" href="css/bootstrap-3.1.1.min.css" type="text/css"/>
-->

<!-- <script type="text/javascript" src="js/libs/jquery-2.0.2.min.js"></script> -->
<!-- <script type="text/javascript" src="js/bootstrap-multiselect/bootstrap-3.1.1.min.js"></script> -->

<!-- Include the plugin's CSS and JS: -->
<!-- <script type="text/javascript" src="js/bootstrap-multiselect/bootstrap-multiselect.js"></script> -->

<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css" />


<body>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <a href="#ajax/domain_list.html/grid">
                    <i class="fa fa-fw fa-sitemap"></i>
                        <font size="5" data-i18n="ns:Menu.Domain">
                        Domain                                                                  
                        </font>
                        >                                    
                </a>
                <span>
                    <font size="4" data-i18n="ns:Domain.Edit">Edit</font>
                </span>
            </h1>
        </div>
    </div>
    <!-- Build your select: -->

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
          usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

          data-widget-colorbutton="false"
          data-widget-editbutton="false"
          data-widget-togglebutton="false"
          data-widget-deletebutton="false"
          data-widget-fullscreenbutton="false"
          data-widget-custombutton="false"
          data-widget-collapsed="true"
          data-widget-sortable="false"

        -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> 
                        </span>
                        <h2 data-i18n="ns:Domain.EditDomain">Edit Domain</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">

                            <div class="row">
                                <form id="wizard-1" novalidate="novalidate">
                                    <div id="bootstrap-wizard-1" class="col-sm-12">
                                        <!--
                  <div class="form-bootstrapWizard">

                    <ul class="bootstrapWizard form-wizard">
                      <li class="active" data-target="#step1">
                        <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Domain information</span> </a>
                      </li>
                      <li data-target="#step2">
                        <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Permission setting</span> </a>
                      </li>
                    </ul>

                    <div class="clearfix"></div>
                  </div>
                -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab1">
                                                <h3 data-i18n="ns:Domain.DomainInformation">Domain Information</h3>
                                                <div class="alert alert-info fade in">
                                                    <button class="close" data-dismiss="alert">

                                                    </button>
                                                    <i class="fa-fw fa fa-info"></i>
                                                    <strong data-i18n="ns:Message.Info">Info!</strong>
                                                    <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                                </div>
                                                <div class="row">

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i>
                                                                </span>
                                                                <input class="form-control input-lg" placeholder="Domain Name" type="text" disabled=true name="domainname" id="domainname">
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i>
                                                                </span>
                                                                <input class="form-control input-lg" placeholder="Description(Ex: Without any devices.)" type="text" name="description" id="description">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-tablet fa-lg fa-fw"></i>
                                                                </span>
                                                                <div class="btn-group">
                                                                    <select id="deviceSelect" class="multiselect" multiple="multiple">

                                                                    </select>
                                                                </div>
                                                                <div class="btn-group">
                                                                    <button type="button" id="get-selected" class="btn btn-primary">Get Selected</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                              -->


                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <ul class="pager wizard no-margin">
                                                            <!--<li class="previous first disabled">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                </li>-->
                                                            <!--
                                <li class="previous disabled">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
                                </li>
                              -->
                                                            <!--<li class="next last">
                                  <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                </li>-->
                                                            <li class="next">
                                                                <a href="javascript:void(0);" id="save" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> Save </a>
                                                            </li>
                                                            <li id="back" class="previous">
                                                                <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->


        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</body>



<!-- Initialize the plugin: -->

<script type="text/javascript">
$(document).ready(function() {
	$("body").addClass("loading");

    $('#get-selected').on('click', function() {
        var values = [];

        $('option:selected', $('.multiselect')).each(function() {
            // console.log('Ready to push '+$(this).val());
            values.push($(this).val());
        });
        // alert(values);
    })

    $('#save').on('click', function() {
        var $valid = $("#wizard-1").valid();
        if (!$valid) {
            console.log('Not valid');
            $validator.focusInvalid();
            return false;
        } else {
            console.log('Valid');
            // $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
            //   'complete');
            // $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
            // .html('<i class="fa fa-check"></i>');
        }
        console.log('Begin to edit domain...');

        var hash = window.location.hash;
        //alert(hash);
        var id = hash.replace(/^#ajax\/domain_edit.html\/(\w+)$/, "$1");
        var url = $.config.server_rest_url + '/domains/' + id;
        var data = {
            // id: id,
            // name: $('input[name="domainname"]').val(),
            remark: $('input[name="description"]').val()
        };
        $.ajax({
            type: 'POST',
            dataType: 'json',
            headers: {
                "X-HTTP-Method-Override": "PUT"
            },
            async: false,
            url: url,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            success: function(data) {
                $.smallBox({
                    title: i18n.t("ns:Domain.DomainEdit") + i18n.t("ns:Domain.EditSuccess"),
                    content: "<i class='fa fa-pencil-square-o'></i> <i>" + i18n.t("ns:Domain.EditDomainID") + "&nbsp;" + id + "</i>",
                    // title: "[Domain edit] Edited successfully",
                    // content: "<i class='fa fa-pencil-square-o'></i> <i>Edited Domain ID: &nbsp;" + id + "</i>",
                    color: "#648BB2",
                    iconSmall: "fa fa-pencil-square-o fa-2x fadeInRight animated",
                    timeout: 5000
                });                
                console.log('Add Success');
                window.location.href = '#ajax/domain_list.html';
                // console.log(data);
            },
            error: function(data) {
                $.smallBox({
                    // title: i18n.t("ns:Domain.DomainEdit") + i18n.t("ns:Domain.EditSuccess"),
                    // content: "<i class='fa fa-pencil-square-o'></i> <i>" + i18n.t("ns:Domain.EditDomainID") + "&nbsp;" + id + "</i>",
                    title: i18n.t("ns:Domain.DomainEdit") + i18n.t("ns:Domain.EditFailed"),
                    content: "<i class='fa fa-pencil-square-o'></i> <i>" + i18n.t("ns:Domain.EditDomainID") + "&nbsp;" + id + "</i>",
                    // title: "[Domain edit] Edited failed",
                    // content: "<i class='fa fa-pencil-square-o'></i> <i>Edited Domain ID: &nbsp;" + id + "</i>",
                    color: "#B36464",
                    iconSmall: "fa fa-exclamation-circle fa-2x fadeInRight animated",
                    timeout: 5000
                });                    
                console.log('Add Error');
                // alert('Create Failed!!');
                // console.log(data); 
            },
        });
    })

    $("#back").click(function(event){        
        event.preventDefault();        
        window.location.href = "#ajax/domain_list.html";        
    });
});
</script>

<script type="text/javascript">
(function($) {
    pageSetUp();

    var $validator = $("#wizard-1").validate({

        rules: {
            domainname: {
                required: true
            }
        },

        messages: {
            // rolename: "User name MUST be filled",
            // description: "Please specify something to remind you",
            // email: "Please use the available email address"
        },

        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });



    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/domain_edit.js"
        // "js/domain_add.js"
    ];

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            $["ajax/domain_edit.html"].bootstrap();
        }

    };

    loadDataScripts();

})(jQuery);
</script>
