<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <a>
                <i class="fa fa-fw fa-sitemap"></i>
                    <font size="5" data-i18n="ns:Menu.Domain">
                    Domain                                                                  
                    </font>
                                                        
            </a>
        </h1>
    </div>
</div>


<!-- widget grid -->
<section id="widget-grid" class="content_bg">
    <div class="row cctech-gv">
    </div>
    <div class="row cctech-fv">
    </div>
</section>

<!-- end widget grid -->

<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
    if (!$.login.user.checkRole('DomainViewer')) {
        window.location.href = "#ajax/dashboard.html/grid";
    }
	$("body").addClass("loading");
    pageSetUp();

    var per_load = [
        "js/plugin/datatables/jquery.dataTables-cust.min.js",
        "js/plugin/datatables/ColReorder.min.js",
        "js/plugin/datatables/FixedColumns.min.js",
        "js/plugin/datatables/ColVis.min.js",
        "js/plugin/datatables/ZeroClipboard.js",
        "js/plugin/datatables/media/js/TableTools.min.js",
        "js/plugin/datatables/DT_bootstrap.js",
        "js/cctech/datagrid_1level.js",
        "js/domain_list.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        //console.log("count: "+count+"\t"+" script:"+per_load[count]);
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else
            $["ajax/domain_list.html"].bootstrap();
    };

    loadDataScripts();

})(jQuery);

</script>
