<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-book fa-fw "></i>
				<font data-i18n="ns:Menu.Log">
				Log                                                                  
				</font>
				>                                    		
			<font style="color:white" data-i18n="ns:Menu.EventLog">Event Logs</font>
		</h1>
	</div>
</div>

<!-- widget grid -->
<div class="row">
	<!-- Info -->
	<div id="task_info" class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		
	</div>
	<!-- Piechart -->
	<div id="task_chart" class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
	
	</div>
</div>

<section id="widget-grid" class="content_bg">
	<div class="row cctech-gv">
	</div>
</section>

<!-- end widget grid -->

<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
    if (!$.login.user.checkRole('TaskViewer')) {
        window.location.href = "#ajax/dashboard.html/grid";
    }
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/SimpleDateFormat.js",
  		"js/libs/json2.js",
		"js/cctech/datagrid_1level.js",
		"js/eventLog_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/eventLog_list.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);

</script>
