					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
							<h1 class="page-title txt-color-blueDark">
								<i class="fa fa-table fa-fw " data-i18n="ns:Menu.File"></i> 
									File
							</h1>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
							<ul id="sparks" class="">
								<li class="sparks-info">
									<h5> My Income <span class="txt-color-blue">$47,171</span></h5>
									<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
										1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
									</div>
								</li>
								<li class="sparks-info">
									<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
									<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
										110,150,300,130,400,240,220,310,220,300, 270, 210
									</div>
								</li>
								<li class="sparks-info">
									<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
									<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
										110,150,300,130,400,240,220,310,220,300, 270, 210
									</div>
								</li>
							</ul>
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->
					
				</div>
				<!-- END MAIN CONTENT -->				

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	
	function loadDataTableScripts() {

		loadScript("js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2);

		function dt_2() {
			loadScript("js/plugin/datatables/ColReorder.min.js", dt_3);
		}

		function dt_3() {
			loadScript("js/plugin/datatables/FixedColumns.min.js", dt_4);
		}

		function dt_4() {
			loadScript("js/plugin/datatables/ColVis.min.js", dt_5);
		}

		function dt_5() {
			loadScript("js/plugin/datatables/ZeroClipboard.js", dt_6);
		}

		function dt_6() {
			loadScript("js/plugin/datatables/media/js/TableTools.min.js", dt_7);
		}

		function dt_7() {
			loadScript("js/plugin/datatables/DT_bootstrap.js", dt_8);
		}

		function dt_8() {
			loadScript("js/cctech/datagrid_1level.js", function() {
			    /* define namespace starts */

			    var AD = {};
			    var url = AD.url = $.config.server_url + '/file';
			    AD.collections = {};
			    var idAttribute = AD.idAttribute = "id";
			    AD.title = "Files";
			    AD.page = "ajax/file_list.html";

			    AD.validate = function() {
			        return true;
			    };


			    AD.forms = [
			        //form1
			        {
			            title: 'Role',
			            property: 'roleName',
			            default_value: ""
			        },
			        "fieldset",
			        //form2
			        {
			            title: 'Description',
			            property: 'description',
			            default_value: ""
			        }
			        
			    ];

			    AD.columns = [
			        //columns1
			        {
			            title: '<input type="checkbox" value="all"></input>',
			            cellClassName: 'DeleteItem',
			            sortable: false,
			            callback: function(o) {
			                if (o)
			                    return '<input type="checkbox" value="' + o[idAttribute] + '"></input>';
			                else
			                    return '<input type="checkbox" value="0"></input>';
			            }
			        },
			        //columns2
			        {
			            title: 'Role',
			            property: 'roleName',
			            cellClassName: 'Name',
			            filterable: true,
			            sortable: true
			        }, {
			            title: 'Description',
			            property: 'description',
			            cellClassName: 'description',
			            filterable: true,
			            sortable: true
			        },

			        /*{
			            title: 'User Name',
			            property: 'name',
			            cellClassName: 'name',
			            filterable: true,
			            sortable: true
			        },
			        //columns3
			        {
			            title: 'User Role',
			            property: 'role',
			            cellClassName: 'role',
			            filterable: false,
			            callback: function(o) {

			                if (!AD.collections.role) {
			                    var coll = Backbone.getCollectionByUrl($.config.server_url + '/role', "id");
			                    coll.fetch({
			                        async: false,
			                        data: {
			                            "fields": ["id", "description"]
			                        }
			                    });
			                    // coll.pop();
			                    var info = coll.at(coll.length - 1);
			                    coll.remove(info);
			                    AD.collections.role = coll;
			                }
			                var coll = AD.collections.role;
			                // alert(o.role);
			                var p = coll.get(o.role);
			                // alert(p);
			                if (typeof p !== "undefined")
			                    var _html = p.get("roleName");
			                else
			                    var _html = "";
			                // var _html = "test";
			                return _html;

			            }
			        },
			        //columns4
			        {
			            title: 'Email',
			            property: 'email',
			            cellClassName: 'email',
			            filterable: true,
			            sortable: true
			        },
			        //columns5
			        {
			            title: 'Phone Number',
			            property: 'phone',
			            cellClassName: 'phone',
			            filterable: true,
			            sortable: true
			        },
			        //columns6
			        {
			            title: 'Create Time',
			            property: 'creationTime',
			            cellClassName: 'creation_time',
			            filterable: true,
			            sortable: true
			        },
			        */
			        //columns7
			        {
			            title: 'Function',
			            sortable: false,
			            callback: function(o) {
			                var _html = '';
			                // _html +='<button class="btn btn-mini btn-success" title="Verify"><i class="icon-ok"></i> </button>';
			                if (o) {
			                    // _html += '<a class="btn btn-default btn-sm DTTT_button_text"><span>Edit</span></a>';
			                    // _html += '<a class="btn btn-default btn-sm DTTT_button_text"><span>Remove</span></a>';
			                    _html += '<a href="#'+AD.page+'/edit/' + o[idAttribute] + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-edit"></i></a>';
			                    _html += '<a href="#'+AD.page+'/delete/' + o[idAttribute] + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-times"></i></a>';
			                }
			                return _html;
			            }
			        }
			    ];
			    /* define namespace ends */

			    /* model starts */

			    AD.Model = Backbone.Model.extend({
			        urlRoot: url,
			        idAttribute: idAttribute
			    });

			    /* model ends */

			    /* collection starts */

			    AD.Collection = Backbone.Collection.extend({
			        url: url,
			        model: AD.Model
			    });

			    /* collection ends */
			    var routes = {};

		    	routes[AD.page+'/grid'] = 'show_grid';
		    	routes[AD.page+'/edit/:_id'] = 'show_edit';
		    	routes[AD.page+'/add'] = 'show_add';
		    	routes[AD.page+'/delete/:_id'] = 'delete_single';
		    	routes[AD.page] = 'render';
			    var MyRouter = Backbone.DG1.extend({
			    	routes:routes
			    });

			    /* define bootstrap starts */
			    AD.bootstrap = function() {
					$("body").removeClass("loading");
			    	// alert('bootstrap');
			    	if( !_.isUndefined($[AD.page].app) ) {
			    		$[AD.page].app.navigate("#"+AD.page+"/grid",{trigger:true});
			    	}
			    		

			        AD.app = new MyRouter({
			            "AD": AD
			        });

			        if(!Backbone.History.started) {
			        	Backbone.emulateHTTP = true;
						Backbone.history.start();
					}
			        
			    };
			    /* define bootstrap ends */

			    $[AD.page] = AD;
			    $[AD.page].bootstrap();

			});
		}

	};

	loadDataTableScripts();

})(jQuery);    	
	


// })(jQuery);
</script>