<!-- CSS START -->
<style type="text/css">
.smart-form1 .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

button.ui-dialog-titlebar-close {
	display: none;
}
</style>
<!-- CSS END -->

<!-- HTML START -->
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-tablet fa-fw "></i>
				<font data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>                                    		
			<font style="color:white" data-i18n="ns:Menu.Groups">Groups</font>
		</h1>
	</div>
</div>

<!-- ui-dialog -->
<div id="dynamicGroupDialog">
	<!-- 將動態產生Action Dialog -->	
</div>

<!-- widget grid -->
<section id="widget-grid" class="content_bg">
	<div class="row cctech-gv">
	</div>
	<div class="row cctech-fv">
	</div>
</section>
<!-- end widget grid -->

<!-- *************************[Lock]:START************************* -->
<!-- 動態產生lockGroupDiv -->
<script id="lockGroupDiv" type="text/template" >
	<form id="lockGroupForm" action="" class="smart-form1">			
		<div id="lockDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.LockGroup">Lock the group?</font>
		</div>
	</form>	
</script>

<!-- 動態產生lockGroupDiv_Done -->
<script id="lockGroupDiv_Done" type="text/template" >
	<form id="lockGroupForm" action="" class="smart-form1">			
		<div id="lockDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.ServerLockGroupSuccess">[Server]：Lock the Group successfully</font>						
		</div>
	</form>	
</script>

<!-- 動態產生lockGroupDiv_Fail -->
<script id="lockGroupDiv_Fail" type="text/template" >
	<form id="lockGroupForm" action="" class="smart-form1">			
		<div id="lockDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.ServerNoResponse">[Server]：No Response</font>			
		</div>
	</form>	
</script>
<!-- *************************[Lock]:END*************************** -->

<!-- *************************[Unlock]:START*********************** -->
<!-- 動態產生unlockGroupDiv -->
<script id="unlockGroupDiv" type="text/template" >
	<form id="unlockGroupForm" action="" class="smart-form1">			
		<div id="unlockDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.UnlockGroup">Unlock the group?</font>
		</div>
	</form>	
</script>

<!-- 動態產生unlockGroupDiv_Done -->
<script id="unlockGroupDiv_Done" type="text/template" >
	<form id="unlockGroupForm" action="" class="smart-form1">			
		<div id="unlockDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.ServerUnlockGroupSuccess">[Server]：Unlock the Group successfully</font>			
		</div>
	</form>	
</script>

<!-- 動態產生unlockGroupDiv_Fail -->
<script id="unlockGroupDiv_Fail" type="text/template" >
	<form id="unlockGroupForm" action="" class="smart-form1">			
		<div id="unlockDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.ServerNoResponse">[Server]：No Response</font>				
		</div>
	</form>	
</script>
<!-- *************************[Unlock]:END************************* -->

<!-- *************************[Delete]:START*********************** -->
<!-- 動態產生deleteGroupDiv -->
<script id="deleteGroupDiv" type="text/template" >
	<form id="deleteGroupForm" action="" class="smart-form1">			
		<div id="deleteDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.DeleteGroup">Delete the group?</font>
		</div>
	</form>	
</script>

<!-- 動態產生deleteGroupDiv_Done -->
<script id="deleteGroupDiv_Done" type="text/template" >
	<form id="deleteGroupForm" action="" class="smart-form1">			
		<div id="deleteDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.ServerDeleteGroupSuccess">[Server]：Delete the Group successfully</font>				
		</div>
	</form>	
</script>

<!-- 動態產生deleteGroupDiv_Fail -->
<script id="deleteGroupDiv_Fail" type="text/template" >
	<form id="deleteGroupForm" action="" class="smart-form1">			
		<div id="deleteDialogDiv" class="col col-10">
			<font size="3" data-i18n="ns:Message.ServerNoResponse">[Server]：No Response</font>				
		</div>
	</form>	
</script>
<!-- *************************[Delete]:END************************ -->

<!-- JS&JQuery START -->
<script type="text/javascript">
(function($) {
    if (!$.login.user.checkRole('DeviceGroupViewer')) {
        window.location.href = "#ajax/dashboard.html/grid";
    }
	$("body").addClass("loading");
	pageSetUp();

	/*
	 * CONVERT DIALOG TITLE TO HTML
	 * REF: http://stackoverflow.com/questions/14488774/using-html-in-a-dialogs-title-in-jquery-ui-1-10
	 */
	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
    	_title : function(title) {
      		if (!this.options.title) {
        		title.html("&#160;");
      		} else {
        		title.html(this.options.title);
      		}
    	}
  	}));

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/plugin/jquery-grayscale/grayscale.js",
		// "js/bootstrap-datetimepicker.js",
		// "js/plugin/summernote/summernote.js",
		// "js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js",
		// "http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js",
		////"http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js",
		////"http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js",
		// "http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js",
		"js/SimpleDateFormat.js",
		//"js/plugin/datatables/DT_bootstrap.js",
  		"js/libs/json2.js",
		"js/cctech/datagrid_1level.js",
		"js/group_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		//console.log("count: "+count+"\t"+" script:"+per_load[count]);
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/group_list.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);
</script>
