<!-- HTML START -->
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">							
			<i class="fa fa-tablet fa-fw "></i>
				<font size="5" data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>
			<a href="#ajax/group_list.html/grid">									
				<font data-i18n="ns:Menu.Groups">Groups</font>
			</a>
			>
			<font id="deviceGroupName"></font>
			>
			<font style="color:white" data-i18n="ns:Group.Edit">Edit</font>
		</h1>
	</div>	
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3" data-i18n="ns:Group.EditGroup">Edit a Group</font>
                    </sub></sub></sub>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                  
                                    <ul class="bootstrapWizard form-wizard">
                                        <div class="tab-pane active" id="tab1">
                                            <h2 data-i18n="ns:Group.GroupInformation">Group Information</h2>
                                                <div class="alert alert-info fade in">
                                                    <button class="close" data-dismiss="alert">
                                                    </button>
                                                    <i class="fa-fw fa fa-info"></i>
                                                    <strong data-i18n="ns:Message.Info">Info!</strong>
                                                    <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                                </div>
                                        </div>
                                    </ul>                                
                                    <!-- Group Name & Remark -->
                                    <div class="tab-content">
                                        <div class="row">
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:Message.Group.GroupName">Group Name</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-group fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" type="text" disabled=true name="groupname" id="groupname">
                                                        </div>                                                  
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:Message.OperatingSystem">Operation System</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" type="text" disabled=true name="operatingSystem" id="operatingSystem">
                                                        </div>                                                  
                                                    </div>
                                                </div>
                                            </fieldset>                                            
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:Group.Title.Remark">Remark</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="Remark (Ex: Mobile devices.)" type="text" name="remark" id="remark">                          
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!-- Group Name & Remark END-->                                         
                                        <!-- <hr color="#C9C9C9"> -->                                        
                                        <!-- 動態MultiSelect -->
                                        <!-- 將動態產生device list選單 -->
                                        <!-- <div class="row">                                                    
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-fw fa-tablet fa-lg fa-fw"></i>
                                                        </span>
                                                        <div class="btn-group">
                                                            <select  id="deviceSelect" class="multiselect" multiple="multiple" style="display: none;">         
                                                            </select>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" id="get-selecte" disabled="disabled" class="btn btn-primary" data-i18n="ns:Message.ChooseDevice">
                                                                Choose the devices
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->

                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                            
                                                        <li class="next">
                                                            <a href="#" id="btn_save" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save 
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>                                    
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/group_edit.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else 
            $["ajax/group_edit.html"].bootstrap();
    };

    loadDataScripts();

})(jQuery);     
</script>

