<style type="text/css">
    p:first-letter{
    　text-transform:uppercase;
    }
</style>
<!-- HTML START -->
<div class="row">
    <div id="dynamicHeader" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        
    </div>                      
</div>
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
                              
        <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" role="widget" style="">
                
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-download"></i> </span>
                    <div id="dynamicTitle" role="menu">    
                    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                </header>

                <!-- widget div-->
                <div role="content">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <div class="superbox col-sm-12">
                                <div class="superbox-list">
                                    <img src="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Ocean.jpg" data-img="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Ocean.jpg" title="Ocean" class="superbox-img" style="width: 100px; height: 100px">
                                </div><!--
                                --><div class="superbox-list">
                                    <img src="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Farm.jpg" data-img="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Farm.jpg" title="Farm" class="superbox-img" style="width: 100px; height: 100px">
                                </div><!--
                                --><div class="superbox-list">
                                    <img src="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Forest.jpg" data-img="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Forest.jpg" title="Forest" class="superbox-img" style="width: 100px; height: 100px">
                                </div><!--
                                --><div class="superbox-list">
                                    <img src="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Garden.jpg" data-img="http://125.227.34.157:8080/FileRepository/m2/Wallpapers/Garden.jpg" title="Garden" class="superbox-img" style="width: 100px; height: 100px">
                                </div><!--
                                -->
                                <div class="superbox-float"></div>
                            </div>
                            <div class="superbox-show" style="height:300px; display: none"></div>
                        </div>
                    </div>                                            
                </div>                                    
                <!-- widget div END-->
            </div></article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>

<!-- ************************[Dynamic Div]:START************************** -->
<!-- 動態產生dynamicTitleDiv -->
<script id="dynamicTitleDiv" type="text/template" >    
    <p>
    <sub><sub><sub>
        &nbsp;&nbsp;
        <font size="3" id="action">{{title}}</font>
    </sub></sub></sub>    
    </p>
</script>

<!-- 動態產生dynamicHeaderDiv -->
<script id="dynamicHeaderDiv" type="text/template" >    
    <h1 class="page-title" style="color:#428bca;">
		<i class="fa fa-tablet fa-fw "></i>
			<font size="5" data-i18n="ns:Menu.Device">
			Device Management                                                                 
			</font>
			>                    
		<a href="#ajax/group_list.html/grid">
			<font data-i18n="ns:Menu.Groups">Groups</font>
		</a>
		>
		<a href="#ajax/group_detail.html/{{id}}">
			<font>{{groupName}}</font>
		</a>
		>
		<font style="color:white">{{title}}</font>
    </h1>    
</script>
<!-- ************************[Dynamic Div]:END*************************** -->

<script type="text/javascript">
(function($) {
	//$("body").addClass("loading");
    pageSetUp();
  
    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
		"js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js",
        "js/plugin/superbox/superbox.js",
        "js/group_wallpaper.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else
            $["ajax/group_wallpaper.html"].bootstrap();
    };

    loadDataScripts();    

})(jQuery);     
</script>