<style>
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
</style>

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-tablet fa-fw "></i>
				<font data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>
			<font id="breadcrumbs">
				<a href="#ajax/group_list.html/grid">                    
					<font data-i18n="ns:Menu.Groups">Groups</font>
				</a>
			</font>
			>
			<!--<a id="groupName"><font></font></a>-->
			<font style="color:white" id="groupName">
				<a href="">   
					<font></font>                 
				</a>
			</font>
			>
			<font style="color:white">Edit Events</font>
        </h1>
    </div>                      
</div>

<!-- widget grid -->
<section id="widget-grid" class="content_bg">
	<div class="row cctech-gv">
	</div>
	<div class="row cctech-fv">
	</div>
</section>
<!-- end widget grid -->
<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/load-image.min.js",
		"js/canvas-to-blob.min.js",
		"js/SimpleDateFormat.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/cctech/datagrid_1level.js",
		"js/group_event_list.js"
	]

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/group_event_list.html"].bootstrap();
	};
	loadDataScripts();

})(jQuery);
</script>
