<!-- HTML START -->
<div class="row">                     
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">							
			<i class="fa fa-tablet fa-fw "></i>
				<font size="5" data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>
			<a href="#ajax/group_list.html/grid">									
				<font data-i18n="ns:Menu.Groups">Groups</font>
			</a>
			>
			<font style="color:white" data-i18n="ns:Group.Add">Create Group</font>
		</h1>
	</div> 
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3" data-i18n="ns:Group.Add">Add</font>
                    </sub></sub></sub>                    
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                  
                                    <div class="form-bootstrapWizard" style="position:relative;">
                                        <ul id="tabs" class="bootstrapWizard form-wizard">
                                            <li id="step1" class="active" data-target="#step1">
                                                <a href="#tab1" data-toggle="tab"> <span class="step" data-i18n="ns:Message.StepOneNum">1</span> <span class="title" data-i18n="ns:Group.OperatingSystemSetting">Operating System setting</span> </a>
                                            </li>
                                            <li id="step2" data-target="#step2">
                                                <a href="#tab2" data-toggle="tab"> <span class="step" data-i18n="ns:Message.StepTwoNum">2</span> <span class="title" data-i18n="ns:Group.GroupInfoSetting">Group Info setting</span> </a>
                                            </li>                                                        
                                        </ul>
                                        <div class="clearfix"></div>     
                                    </div>
									<div class="row" style="
										position: absolute;
										top: -13px;
										z-index: 9999; 
										background: #FFFFFF;
										filter:alpha(opacity=0); 
										opacity: 0; -moz-opacity=0;
										max-width: 100%;
										width: 100%;
										height: 96px;">
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <br>
                                            <h3><strong data-i18n="ns:Message.StepOne">Step 1 </strong>
                                            <tt data-i18n="ns:Group.DeviceFeatures"> - Operating System Type </tt>
                                            </h3>
                                            <div class="alert alert-info fade in">
                                                <button class="close" data-dismiss="alert">
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong> 
                                                <tt data-i18n="ns:Message.ChooseOperatingSystemTypeOfDevices"> Please choose an operating system type of devices in the group. </tt>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h3>Operating System</h3>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h3>Device Type</h3>
                                                </div>
                                            </div>
                                            <div class="row">   
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-gear fa-lg fa-fw"></i></span>
                                                            <select id="operatingSystem" name="operatingSystem" class="form-control input-lg">
                                                                <option value="Android">Android</option>
                                                                <option value="Windows">Windows</option>
                                                            </select>    
                                                        </div>
                                                    </div>
                                                </div>                      
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <select id="deviceType" name="deviceType" class="form-control input-lg">
                                                                <option value="Android" selected="selected" data-i18n="ns:Group.Android">Android</option>
                                                                <option value="Windows"  data-i18n="ns:Group.Windows">Windows</option>
                                                                <!-- <option value="iPhone">iPhone</option> -->
                                                            </select>    
                                                        </div>
                                                    </div>
                                                </div>       
                                            </div>                                            
                                        </div>

                                        <div class="tab-pane" id="tab2">
                                            <br>
                                            <h3><strong data-i18n="ns:Message.StepTwo">Step 2 </strong>
                                            <tt data-i18n="ns:Group.DashGroupInfo"> - Group Info. </tt>
                                            </h3>
                                            <div class="alert alert-info fade in">
                                                <button class="close" data-dismiss="alert">
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong> 
                                                <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                            </div>       
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h3>Group Name</h3>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h3>Decription</h3>
                                                </div>
                                            </div>                                     
                                            <!-- Group -->
                                            <div class="row">                               
                                                <fieldset>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-group fa-lg fa-fw"></i></span>
                                                                <input class="form-control input-lg" placeholder="Group Name" type="text" name="groupname" id="groupname" maxlength="9">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                                <input class="form-control input-lg" type="text" name="remark" id="remark">                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <!-- <fieldset>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-fw fa-tablet fa-lg fa-fw"></i>
                                                                </span class="form-group">
                                                                <div class="btn-group">
                                                                    <select  id="deviceSelect" class="multiselect" multiple="multiple" style="display: none;">                        
                                                                    </select>
                                                                </div>
                                                                <div class="btn-group">
                                                                    <button type="button" id="get-selecte" disabled="disabled" class="btn btn-primary" data-i18n="ns:Message.ChooseDevice">
                                                                        Choose the devices
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                </fieldset> -->
                                            </div>
                                        </div>                                                                               

                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                               
                                                        <li id="btn_back" class="previous">
                                                            <a href="javascript:void(0);" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                        <li id="btn_save" class="next">
                                                            <a href="javascript:void(0);" class="btn btn-lg bg-color-blue txt-color-white" data-i18n="ns:Message.Next"> Next </a>
                                                        </li>                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>                                                                   
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
		"js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/group_add.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else          
            $["ajax/group_add.html"].bootstrap();
    };

    loadDataScripts();
    
})(jQuery);     
</script>

