<style type="text/css">
    p:first-letter{
    　text-transform:uppercase;
    }
</style>
<!-- HTML START -->
<div class="row">
    <div id="dynamicHeader" class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        
    </div>                      
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="fals>
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->

                <!-- <div id="dynamicTitle">  -->
                    <!-- 將動態產生AM Title -->
                <!-- </div> -->
                
                <header>
                    <span class="widget-icon"> <i class="fa fa-download"></i> </span>
                    <div id="dynamicTitle">
                        <!-- <sub><sub><sub>
                            &nbsp;&nbsp;
                            <font size="3" data-i18n="ns:Group.Actions.Install">Install Apps</font>
                        </sub></sub></sub> -->
                    </div>
                </header>
                

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                         
                                    <!-- Group Name & Remark -->
                                    <div class="tab-content">
                                        <!--
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3>Device Group</h3>
                                            </div>
                                            <div class="col-sm-6">
                                                <h3>Remark</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-group fa-lg fa-fw"></i></span>
                                                        <input class="form-control input-lg" placeholder="Group Name (Ex: HE1.)" type="text" disabled=true name="groupname" id="groupname">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                        <input class="form-control input-lg" type="text" disabled=true name="remark" id="remark">                          
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        -->
                                        <!-- Group Name & Remark END-->
										<!--<div class="row">-->
											<!--
											<div class="col-sm-6">
												<div class="form-group pull-right">
													<div class="input-group checkbox">
														<label>
															<input type="checkbox" name="scheduleTask" id="scheduleTask" style="width: 18px; height: 18px;">
															<font data-i18n="ns:Task.Schedule" style="font-size:18px;">Schedule task</font>
														</label>
													</div>
												</div>
											</div>
											-->
											
										<!--</div>-->

                                        <!-- 動態MultiSelect -->
                                        <div class="row">                         
                                            <div id="taskContent" class="col-sm-6">
                                                <h3>Task Content</h3>
                                            </div>
                                            <div class="col-sm-3">
                                                <h3>Execute Date</h3>
                                            </div>
                                            <div class="col-sm-3" id="scheduleForm">
                                                <h3 class="pull-right">
                                                    <div class="smart-form"><label class="checkbox"><input type="checkbox" id="scheduleTask"><i></i>Schedule the task</label>
                                                    </div>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <div id="divInputGroup" class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                    </div>
                                                </div>

                                                <!--
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-fw fa-tablet fa-lg fa-fw"></i>
                                                        </span>
                                                        <div class="btn-group">
                                                            <select  id="fileSelect" class="multiselect" multiple="multiple" style="display: none;">
                                                            </select>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" id="get-select" disabled="disabled" class="btn btn-primary">
                                                                Choose a file
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                -->
                                            </div>
											<div class="col-sm-6">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
														<input type="text" id="scheduleDate" name="scheduleDate" placeholder="dd/mm/yyyy" class="form-control datepicker input-lg" data-dateformat="dd/mm/yy" disabled>
													
														<span class="input-group-addon"><i class="fa fa-clock-o fa-lg fa-fw"></i></span>
														<input type="text" id="scheduleTime" name="scheduleTime" placeholder="Select time" class="form-control input-lg" disabled>
													</div>
												</div>
											</div>
                                        </div>

                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                            
                                                        <li class="next">
                                                            <a href="#" id="btn_save" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>                                    
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<!-- ************************[Dynamic Div]:START************************** -->
<!-- 動態產生dynamicTitleDiv -->
<script id="dynamicTitleDiv" type="text/template" >    
    <p>
    <sub><sub><sub>
        &nbsp;&nbsp;
        <font size="3" id="action">{{title}}</font>
    </sub></sub></sub>    
    </p>
</script>

<!-- 動態產生dynamicHeaderDiv -->
<script id="dynamicHeaderDiv" type="text/template" >    
    <h1 class="page-title" style="color:#428bca;">
		<i class="fa fa-tablet fa-fw "></i>
			<font size="5" data-i18n="ns:Menu.Device">
			Device Management                                                                 
			</font>
			>                    
		<a href="#ajax/group_list.html/grid">
			<font data-i18n="ns:Menu.Groups">Groups</font>
		</a>
		>
		<a href="#ajax/group_detail.html/{{id}}">
			<font>{{groupName}}</font>
		</a>
		>
		<font style="color:white">{{title}}</font>
    </h1>    
</script>
<!-- ************************[Dynamic Div]:END*************************** -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();
  
    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
		"js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js",
        "js/group_am.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else
            $["ajax/group_am.html"].bootstrap();
    };

    loadDataScripts();    

})(jQuery);     
</script>

