<style type="text/css">
/**************************ALL**************************/
.clear { clear: both; }
.tab-pane span.titlebig{
    font-size: 36px;
	letter-spacing:-4px; 
	font-weight:900;
	color:#1E1E1E;
	background:url(img/arrow_right.png) no-repeat right bottom;
	padding:13px 30px 10px 0 ;
	border:none;
	height:30px;
	
}
.nav nav-tabs li{ background:#ff0000;}
.shadow_line{ background:url(img/shadow_line.png) repeat-x; width:100%; height:7px;}

#myTab1 .pull-right{ margin-top:12px;}
.action_red{ background:#EF0403; border:none; color:#fff; cursor:pointer; font-size:14px; margin-top:-7px; padding:5px 100px 5px 10px; text-align:right;}
.action_red a{ color:#fff;}
.action_red a:hover{ text-decoration:none;}
.action_red .caret { position:absolute; right:5px; top:30%;}

.dropdown-menu i{ margin-right:10px;}
/**************************SUMMARY**************************/
.summary_bg{ padding:30px 30px 50px 30px; background:url(img/gradient-bg.png) repeat #fff;}
	
.summary_propertie_row{  }	/*background:url(img/icon_propertie.png) left top no-repeat;*/

.summary_propertie_row h1{
    font-size: 36px;
	letter-spacing:-4px; 
	font-weight:900;
	color:#1E1E1E;
	background:url(img/icon_propertie.png) no-repeat left top ;
	padding:6px 0px 3px 60px ;}
	
.property_bg{
    width:100%; height:100%; min-height:200px; margin-top:10px; padding:40px 20px 20px 25px;
	background:url(img/bg_summary.png) right bottom no-repeat #fff; }
	
.property_below{ width:100%; height:100%; min-height:200px; margin-top:10px;}
	
#categories{}
#certificate_profile_app{}

#each_category{ border-bottom:1px solid #ccc; }

.each_capability {padding-left:70px;}
.each_capability img{ height:20px; display:inline-block; margin:3px 4px 5px 0;}
.each_capability h7 a{ font-size:14px; display:inline-block; font-weight:400; color:#333;}

#certificate{background:#1d4e6f; padding:15px 15px 0px 15px;}
#profile{ background:#187199;padding:15px;}
#APP{ background:#2490d8;padding:15px;}

#certificate .titlebig, #profile .titlebig, #APP .titlebig{color:#fff; background:none; width:100%;}

.certificate_table{ margin:20px 0 0 0; padding:0; border:#fff; color:#fff; width:100%; }
.certificate_table th{ padding:10px 0; padding-left:10%; font-size:13px;}
.certificate_table td{ padding:10px 0; padding-left:10%;}
.profile_table, .APP_table{ border:none; text-align:right; color:#fff; float:right; margin-top:30px;}
.profile_table td, .APP_table td{ padding-left:12px;}

#dialog-message table{ border:none; position:relative;}
#dialog-message table td{ padding-left:20px; color:#333;}
#dialog-message b{ color:#1d4e6f; font-weight:400;}

/**************************INVENTORY**************************/
.inventory_row{
    background:url(img/shadow_line.png) repeat-x bottom;
	height:83px;
	padding:10px;
	}
	
.inventory_row img{ width:50px;}

.tab-pane p{ padding-bottom:12px;}
.tab-pane span{
    font-weight:400;
	color:#636363;
	font-size:13px;
	padding: 0 12px 0 0px;
	border-right:1px solid #ccc;
	line-height:13px;
	display:inline-block;
	margin-right:10px;
}
.tab-pane span a{
    font-weight:400;
	color:#1E4E6F;
	margin:0 3px;
}
.tab-pane span.first{
    padding-left:5px;
}

.tab-pane span.last{
    border:none;
}
.fa-trash-o{ font-size:14px;}
.tab-pane span.right{
    color:#A7A3A9;
	float:right;
	border:none;
	margin-top:3px;
	font-size:12px;
	margin-right:0px;
}

/**************************APP MANAGEMENT**************************/

.appm_h1{ border-bottom:1px solid #CCC; padding-bottom:5px;}
.appm_property_bg{ width:100%; height:100%; margin-top:10px; padding:10px 0px 0px 0px;}
.appm_property_bg .col-md-2 { display:inline-block;}

.appm_property_bg img { width:100%; max-width:148px; min-width:80px;}
.appm_property_bg h5{ text-align:center; font-size:14px; font-weight:700; color:#333; width:100%; max-width:148px; min-width:80px;}
.appm_property_bg a{ text-decoration:none;}
.appm_property_bg a:hover{ text-decoration:underline;}

#dialog-message_a table{ border:none; position:relative;}
#dialog-message_a table td{ padding-left:20px; color:#333;}
#dialog-message_a b{ color:#1d4e6f; font-weight:400;}
</style>

<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i>Devices
         <span>
         >App Inventory
         </span></h1>
	</div>
	
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
<!-- row -->

	<div class="row">
		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

					<!-- widget content -->
					<div class="widget-body">
						
                        <!-- tabs -->
						<ul id="myTab1" class="nav nav-tabs">
							<li class="active"><a href="#s1" data-toggle="tab">Summary</a></li>
							<li><a href="#s2" data-toggle="tab">App Inventory</a></li>
                            <li><a href="#s3" data-toggle="tab">App Management</a></li>
                            <li><a href="#s4" data-toggle="tab">Event</a></li>
                            <li><a href="#s5" data-toggle="tab">Task</a></li>
                             
                            <li class="pull-right ">
								<div class="action_red" data-toggle="dropdown"><a>Actions</a><b class="caret"></b></div>
								<ul class="dropdown-menu" >
									<li><a href="#"><i class="fa fa-edit"></i>Edit Device</a></li>
									<li><a href="#"><i class="fa fa-wrench"></i>Install APP</a></li>
                                    <li><a href="#"><i class="fa fa-lock"></i>Lock</a></li>
									<li><a href="#"><i class="fa fa-unlock"></i>Unlock</a></li>
                                    <li><a href="#"><i class="fa fa-reply-all"></i>Reset Device</a></li>
									<li><a href="#"><i class="fa fa-share-square-o"></i>Restart Device</a></li>
                                    <li><a href="#"><i class="fa fa-minus-square"></i>Remove Device</a></li>
								</ul>
							</li>
                            
                            <li class="pull-right" style="color:#bbb;"><i class="fa fa-search" title="scan" ></i><span style="margin:0 7px;">SCAN</span></li>
						
                        </ul>
                        <!-- end tabs -->
                        
                        <!-- tabs content -->
						<div id="myTabContent1" class="tab-content" style="background:#fff;">
							
                            <!--  ########## FIRST TAB : Summary ########## -->
                            <div class="tab-pane fade in active" id="s1">
                              <div class="summary_bg" style="height:100%;">
                                  
                                  <!-- Properites Blank -->
                                  <div class="summary_propertie_row"> 
                                    
                                    <!--全部打開/收合--> 
                                    <div id="nestable-menu" class="pull-right">
							        <button type="button" class="btn btn-default" data-action="expand-all">Expand All</button>
							        <button type="button" class="btn btn-default" data-action="collapse-all">Collapse All</button>
						            </div>
                                    <!--全部打開/收合--> 
                                    
                                    <h1>Properties</h1>
                                    <div class="shadow_line" style="margin-top:-8px;"></div>
                                    <div class="property_bg"> 
                                        
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                          <span class="titlebig" style="font-size:30px; color:#555;" title="Serial Number">AAAAAA00003</span><br />
                                          <span style="border:none; margin-bottom:10px;">( Serial Number )</span>
                                        </div>
                                        
                                        <div class="col-sm-7 col-md-7 col-lg-7" style="border-left:1px solid #ccc;padding-left:30px; height:90%;  margin-left:15px; ">
                                          <p style="font-size:18px; font-weight:400;">
                                            Device Type  :  PA692-9261UMDG<br />
                                            Device User : Tony<br />
                                            Gateway IP : 140.92.60.93<br />
                                          </p>
                                          <span>Last Connecton Time : 2014/4/10 15:09:45</span>
                                        </div> 
                                    </div>
                                    <div class="shadow_line" style="margin-top:-2px;"></div>
                                  </div> 
                                  <!-- Properites Blank -->
                                  
                                  <!-- Properites Below -->
                                  <div class="summary_propertie_row">
                                  <div class="property_below"> 
                                        
                                        <!-- BELOW LEFT-->
                                        <div class="col-sm-8" id="categories">


            
                    <!-- NEW WIDGET START -->
					<!-- widget content -->
					<div class="widget-body">
                    
							<div class="col-lg-12">
								<div class="dd col-sm-12" id="nestable">
									<ol class="dd-list">
										<!-- Each Category -->
                                        <li class="dd-item col-sm-12" >
                                            <h6>System</h6>
                                            <div class="h6_side"></div>
											<ol class="dd-list">
												<li class="dd-item">
                                                <div class="each_capability">
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link_01">CPU</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link_02">Internal Memory</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link_03">Battery</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link_04">Hardware</a></h7></div>
                                                  
                                                  <!-- 注意! 各id要加編號, 分別叫出Modal Box-->
                                                                                                    
                                                  </div>
												</li>
											</ol>
										</li>
                                        <!-- Each Category -->
                                        <!-- Each Category -->
                                        <li class="dd-item col-sm-12">
                                            <h6>I/O</h6>
                                            <div class="h6_side"></div>
											<ol class="dd-list">
												<li class="dd-item">
                                                  <div class="each_capability">
												  
                                                  <!-- 注意! 此處以下各id尚未加編號-->
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Display</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Camera</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Keyboard</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">BarcodeScanner</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Bluetooth</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">GPS</a></h7></div>
                                                                                                  
                                                  </div>
												</li>
											</ol>
										</li>
                                        <!-- Each Category -->
                                        <!-- Each Category -->
                                        <li class="dd-item col-sm-12">
                                            <h6>Storage</h6>
                                            <div class="h6_side"></div>
											<ol class="dd-list">
												<li class="dd-item">
                                                  <div class="each_capability">
												  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Storage</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">External Memory</a></h7></div>
                                                  
                                                  </div>
												</li>
											</ol>
										</li>
                                        <!-- Each Category -->
                                        <!-- Each Category -->
                                        <li class="dd-item col-sm-12">
                                            <h6>Connectivity</h6>
                                            <div class="h6_side"></div>
											<ol class="dd-list">
												<li class="dd-item">
                                                  <div class="each_capability">
												  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">WLAN</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">WWAN</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Network</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Connection</a></h7></div>
                                                  
                                                  </div>
												</li>
											</ol>
										</li>
                                        <!-- Each Category -->
                                        <!-- Each Category -->
                                        <li class="dd-item col-sm-12">
                                            <h6>Software</h6>
                                            <div class="h6_side"></div>
											<ol class="dd-list">
												<li class="dd-item">
                                                  <div class="each_capability">
												  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">OS</a></h7></div>
                                                  
                                                  <div class="col-sm-4"><img src="img/inventory_icons/barcodescanner.png"/><h7>
                                                  <a href="#" id="modal_link">Firmware</a></h7></div>
                                                  
                                                  </div>
												</li>
											</ol>
										</li>
                                        <!-- Each Category -->
                                        
									</ol>
								</div>
							</div>
					</div>
					<!-- end widget content -->

                                        </div>
                                        <!-- BELOW LEFT-->
                                        
                                        <!-- ui-dialog Modal Box -->
                                        <div id="dialog-message">
                                        <p>
                                        <h6>Battery</h6>
                                        <table>
                                        <tr>
                                          <td><b>Battery Level : </b></td>
                                          <td>100%</td>
                                        </tr>
                                        <tr>
                                          <td><b>Battery Temperature : </b></td>
                                          <td>20 Degree Celsius</td>
                                        </tr>
                                        <tr>
                                          <td><b>Battery Being Changed : </b></td>
                                          <td>Changing</td>
                                        </tr>
                                        </table>
                                        </p>
                                        
                                        <div class="hr hr-12 hr-double"></div>
                                        </div>
                                        <!-- end ui-dialog Modal Box-->
                                        
                                        <!-- BELOW RIGHT -->
                                        <div class="col-sm-4" id="certificate_profile_app">
                                          <!-- Certificate -->
                                          <div id="certificate" class="col-sm-12">
                                          <span class="titlebig">Certificate</span>
                                          <table border="1" cellspacing="0" cellpadding="0" class="certificate_table">
                                          <tr>
                                            <th>Certificate</th>
                                            <th>Value</th>
                                          </tr>
                                          <tr>
                                            <td>Release</td>
                                            <td>*.tech.com</td>
                                          </tr>
                                          <tr>
                                            <td>Verifier</td>
                                            <td>Tech.com</td>
                                          </tr>
                                          <tr>
                                            <td>Valid</td>
                                            <td>2014/4/3 to 2014/7/1</td>
                                          </tr>
                                          <tr>
                                            <td>Info</td>
                                            <td>Remark</td>
                                          </tr>
                                          </table>
                                          <br class="clear" />
                                          </div>
                                          <!-- end Certificate -->
                                          
                                          <!-- Profile -->
                                          <div id="profile" class="col-sm-6">
                                          <span class="titlebig">Profile</span>
                                          <table border="0" cellspacing="0" cellpadding="0" class="profile_table">
                                          <tr>
                                            <td>1</td>
                                            <td>installed</td>
                                          </tr>
                                          <tr>
                                            <td>13</td>
                                            <td>Assigned</td>
                                          </tr>
                                          </table>
                                          <br class="clear" />
                                          </div>
                                          <!-- end Profile -->
                                          
                                          <!-- APP -->
                                          <div id="APP" class="col-sm-6">
                                          <span class="titlebig">APP</span>
                                          <table border="0" cellspacing="0" cellpadding="0" class="APP_table">
                                          <tr>
                                            <td>1</td>
                                            <td>installed</td>
                                          </tr>
                                          <tr>
                                            <td>13</td>
                                            <td>Assigned</td>
                                          </tr>
                                          </table>
                                          <br class="clear" />
                                          </div>
                                          <!-- end APP -->
                                        </div>
                                        <!-- BELOW RIGHT --> 
                                    
                                    </div> 
                                  </div>
                                  <br class="clear" />
                                  <!-- Properites Below -->
                              </div>
                            </div>
                            <!-- ########## end FIRST TAB : Summary ##########-->
							
                            <!-- ########## SECOND TAB : App Inventory ########## -->
                            <div class="tab-pane fade" id="s2"> 
                              
                              <!-- Each Inventory -->
                              <div class="inventory_row">
                                  <div style="float:left; position:absolute;"><img src="img/inventory_icons/barcodescanner.png" /></div>
                                  <div style="margin-left:65px;"> 
                                  <span class="titlebig">BarcodeScanner</span> 
                                  <span class="onoffswitch last" style="right:60px; margin-top:6px; position:absolute;">
										<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st1">
											<label class="onoffswitch-label" for="st1"><!--同checkbox id-->
												<div class="onoffswitch-inner" data-swchon-text="ACTIVE" data-swchoff-text="INACTIVE"></div> 
												<div class="onoffswitch-switch"></div> 
											</label> 
								  </span>
                                  <p><span class="first"><strong>Version</strong> - <a href="#">1.3</a></span>
                                     <span class="right">last update : 2014-03-25</span>
                                     <span class="right"><a href="#"><i class="fa fa-trash-o" title="垃圾桶"></i></a></span>
                                  </p>
                                  </div>
                              </div>
                              <!-- Each Inventory -->
                              <!-- Each Inventory -->
                              <div class="inventory_row">
                                  <div style="float:left; position:absolute;"><img src="img/inventory_icons/bluetooth.png" /></div>
                                  <div style="margin-left:65px;">
                                    <span class="titlebig">Bluetooth</span>
                                    <span class="onoffswitch last" style="right:60px; margin-top:6px; position:absolute;">
										<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st2">
											<label class="onoffswitch-label" for="st2"><!--同checkbox id-->
												<div class="onoffswitch-inner" data-swchon-text="ACTIVE" data-swchoff-text="INACTIVE"></div> 
												<div class="onoffswitch-switch"></div> 
											</label> 
								    </span>
                                     <p><span class="first"><strong>Version</strong> - <a href="#">1.3</a></span>
                                        <span class="right">last update : 2014-03-25</span>
                                        <span class="right"><a href="#"><i class="fa fa-trash-o" title="垃圾桶"></i></a></span>
                                     </p>
                                  </div>
                              </div>
                              <!-- Each Inventory -->
                              <!-- Each Inventory -->
                              <div class="inventory_row">
                                  <div style="float:left; position:absolute;"><img src="img/inventory_icons/battery.png" /></div>
                                  <div style="margin-left:65px;">
                                    <span class="titlebig">Battery</span>
                                    <span class="onoffswitch last" style="right:60px; margin-top:6px; position:absolute;">
										<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st3">
											<label class="onoffswitch-label" for="st3"><!--同checkbox id-->
												<div class="onoffswitch-inner" data-swchon-text="ACTIVE" data-swchoff-text="INACTIVE"></div> 
												<div class="onoffswitch-switch"></div> 
											</label> 
								    </span>
                                     <p><span class="first"><strong>Version</strong> - <a href="#">1.3</a></span> 
                                        <span class="right">last update : 2014-03-25</span>
                                        <span class="right"><a href="#"><i class="fa fa-trash-o" title="垃圾桶"></i></a></span>
                                     </p>
                                  </div>
                              </div>
                              <!-- Each Inventory -->
                              <!-- Each Inventory -->
                              <div class="inventory_row">
                                  <div style="float:left; position:absolute;"><img src="img/inventory_icons/cpu.png" /></div>
                                  <div style="margin-left:65px;">
                                    <span class="titlebig">CPU</span>
                                    <span class="onoffswitch last" style="right:60px; margin-top:6px; position:absolute;">
										<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st4">
											<label class="onoffswitch-label" for="st4"><!--同checkbox id-->
												<div class="onoffswitch-inner" data-swchon-text="ACTIVE" data-swchoff-text="INACTIVE"></div> 
												<div class="onoffswitch-switch"></div> 
											</label> 
								    </span>
                                     <p><span class="first"><strong>Version</strong> - <a href="#">1.3</a></span>
                                        <span class="right">last update : 2014-03-25</span>
                                        <span class="right"><a href="#"><i class="fa fa-trash-o" title="垃圾桶"></i></a></span>
                                     </p>
                                  </div>
                              </div>
                              <!-- Each Inventory -->
                              <!-- Each Inventory -->
                              <div class="inventory_row">
                                  <div style="float:left; position:absolute;"><img src="img/inventory_icons/camera.png" /></div>
                                  <div style="margin-left:65px;">
                                    <span class="titlebig">Camera</span>
                                    <span class="onoffswitch last" style="right:60px; margin-top:6px; position:absolute;">
										<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st5">
											<label class="onoffswitch-label" for="st5"><!--同checkbox id-->
												<div class="onoffswitch-inner" data-swchon-text="ACTIVE" data-swchoff-text="INACTIVE"></div> 
												<div class="onoffswitch-switch"></div> 
											</label> 
								    </span>
                                     <p><span class="first"><strong>Version</strong> - <a href="#">1.3</a></span>
                                        <span class="right">last update : 2014-03-25</span>
                                        <span class="right"><a href="#"><i class="fa fa-trash-o" title="垃圾桶"></i></a></span>
                                     </p>
                                  </div>
                              </div>
                              <!-- Each Inventory -->
                            </div>
                            <!-- ########## end SECOND TAB : App Inventory ########## -->
							
                            <!-- ########## THIRD TAB : App Management ########## -->
                            <div class="tab-pane fade in" id="s3">
                              <div class="summary_bg"> 
                                    
                                    <!-- Each Category -->
                                    <h1 class="appm_h1">System</h1>
                                    <div class="appm_property_bg col-lg-12"> 
                                       <div class="col-md-2"><a href="#" id="modal_link_a"><img src="img/inventory_icons/barcodescanner.png"/><h5>CPU</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_b"><img src="img/inventory_icons/barcodescanner.png"/><h5>Internal Memory</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_c"><img src="img/inventory_icons/battery.png"/><h5>Battery</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_d"><img src="img/inventory_icons/harddisk.png"/><h5>Hardware</h5></a></div>
                                    <br class="clear" />
                                    </div> 
                                    <!-- Each Category -->
                                    
                                    <!-- Each Category -->
                                    <h1 class="appm_h1">I/O</h1>
                                    <div class="appm_property_bg"> 
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/display.png"/><h5>Display</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/camera.png"/><h5>Camera</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/keyboard.png"/><h5>Keyboard</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/barcodescanner.png"/><h5>BarcodeScanner</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/bluetooth.png"/><h5>Bluetooth</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/gps.png"/><h5>CPS</h5></a></div>
                                    <br class="clear" />
                                    </div> 
                                    <!-- Each Category -->
                                    
                                    <!-- Each Category -->
                                    <h1 class="appm_h1">Storage</h1>
                                    <div class="appm_property_bg"> 
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/display.png"/><h5>Storage</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/camera.png"/><h5>External Memory</h5></a></div>
                                    <br class="clear" />
                                    </div> 
                                    <!-- Each Category -->
                                    
                                    <!-- Each Category -->
                                    <h1 class="appm_h1">Connectivity</h1>
                                    <div class="appm_property_bg"> 
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/display.png"/><h5>WLAN</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/camera.png"/><h5>WWAN</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/keyboard.png"/><h5>Network</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/barcodescanner.png"/><h5>Connection</h5></a></div>
                                    <br class="clear" />
                                    </div> 
                                    <!-- Each Category -->
                                    
                                    <!-- Each Category -->
                                    <h1 class="appm_h1">Software</h1>
                                    <div class="appm_property_bg"> 
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/display.png"/><h5>OS</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/camera.png"/><h5>Firmware</h5></a></div>
                                       <div class="col-md-2"><a href="#" id="modal_link_x"><img src="img/inventory_icons/keyboard.png"/><h5>Keyboard</h5></a></div>
                                    <br class="clear" />
                                    </div> 
                                    <!-- Each Category -->

                              </div>
                            </div>
                               
                                        
                                        <!-- ui-dialog Modal Box -->
                                        <div id="dialog-message_a">
                                        <p>
                                        <h6>Battery</h6>
                                        <table>
                                        <tr>
                                          <td><b>Battery Level : </b></td>
                                          <td>100%</td>
                                        </tr>
                                        <tr>
                                          <td><b>Battery Temperature : </b></td>
                                          <td>20 Degree Celsius</td>
                                        </tr>
                                        <tr>
                                          <td><b>Battery Being Changed : </b></td>
                                          <td>Changing</td>
                                        </tr>
                                        </table>
                                        </p>
                                        
                                        <div class="hr hr-12 hr-double"></div>
                                        </div>
                                        <!-- end ui-dialog Modal Box-->
                                        
                            <!-- ########## end THIRD TAB : Summary ########## -->
                            
                            
							<div class="tab-pane fade" id="s4"></div>
                            <div class="tab-pane fade" id="s5"></div>
						</div>
                        <!-- end tabs content -->

					
                    
                    </div>                                       
					<!-- end widget content -->

		</article>
		<!-- WIDGET END -->

		
		<!-- WIDGET END -->
	</div>

	<!-- end row -->
</section>
<!-- end widget grid -->

<!-- Pagination 
                            <div class="text-center">
					          <ul class="pagination pagination-sm pagination-alt">
					          		<li>
					          			<a href="javascript:void(0);">«</a>
					          		</li>
					          		<li>
					          			<a href="javascript:void(0);">1</a>
					          		</li>
					          		<li>
					          			<a href="javascript:void(0);">2</a>
					          		</li>
						          	<li class="active">
					          			<a href="javascript:void(0);">3</a>
				          			</li>
					          		<li>
					          			<a href="javascript:void(0);">4</a>
					          		</li>
					          		<li>
					          			<a href="javascript:void(0);">5</a>
					          		</li>
					          		<li>
					          			<a href="javascript:void(0);">»</a>
					          		</li>
					          </ul>
				          	</div>
                            <!-- end Pagination -->
<script type="text/javascript">
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp()

	// PAGE RELATED SCRIPTS
</script>
<script type="text/javascript">
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS
	loadScript("js/plugin/jquery-nestable/jquery.nestable.js", runNestables);

	function runNestables() {

		var updateOutput = function(e) {
			var list = e.length ? e : $(e.target), output = list.data('output');
			if (window.JSON) {
				output.val(window.JSON.stringify(list.nestable('serialize')));
				//, null, 2));
			} else {
				output.val('JSON browser support required for this demo.');
			}
		};

		// activate Nestable for list 1
		$('#nestable').nestable({
			group : 1
		}).on('change', updateOutput);

		// output initial serialised data
		updateOutput($('#nestable').data('output', $('#nestable-output')));

		$('#nestable-menu').on('click', function(e) {
			var target = $(e.target), action = target.data('action');
			if (action === 'expand-all') {
				$('.dd').nestable('expandAll');
			}// expandall
			if (action === 'collapse-all') {
				$('.dd').nestable('collapseAll');
			}// collapseAll
		});

		$('#nestable3').nestable();

	}
	
	
</script>
<script type="text/javascript">
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS

	
	/*
	 * Spinners
	 */
	$("#spinner").spinner();
	$("#spinner-decimal").spinner({
		step : 0.01,
		numberFormat : "n"
	});

	$("#spinner-currency").spinner({
		min : 5,
		max : 2500,
		step : 25,
		start : 1000,
		numberFormat : "C"
	});

	/*
	 * CONVERT DIALOG TITLE TO HTML
	 * REF: http://stackoverflow.com/questions/14488774/using-html-in-a-dialogs-title-in-jquery-ui-1-10
	 */
	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
		_title : function(title) {
			if (!this.options.title) {
				title.html("&#160;");
			} else {
				title.html(this.options.title);
			}
		}
	}));

	/*
	* DIALOG HEADER ICON
	*/

	// Summary Modal Link
	$('#modal_link_01').click(function() {
		$('#dialog-message').dialog('open');
		return false;
	});
	
	$('#modal_link_02').click(function() {
		$('#dialog-message').dialog('open');
		return false;
	});
	
	$('#modal_link_03').click(function() {
		$('#dialog-message').dialog('open');
		return false;
	});
	
	$('#modal_link_04').click(function() {
		$('#dialog-message').dialog('open');
		return false;
	});
	
	$('#modal_link_05').click(function() {
		$('#dialog-message').dialog('open');
		return false;
	});

	$("#dialog-message").dialog({
		autoOpen : false,
		modal : true,
		width: 450,
		title : "<div class='widget-header'><h4><i class='icon-ok'></i>Device's Attribute</h4></div>",
		buttons : [{
			html : "Cancel",
			"class" : "btn btn-default",
			click : function() {
				$(this).dialog("close");
			}
		}, {
			html : "<i class='fa fa-check'></i>&nbsp; OK",
			"class" : "btn btn-primary",
			click : function() {
				$(this).dialog("close");
			}
		}]

	});
	
	// App Management Modal Link
	
	$('#modal_link_a').click(function() {
		$('#dialog-message_a').dialog('open');
		return false;
	});
	
	$('#modal_link_b').click(function() {
		$('#dialog-message_a').dialog('open');
		return false;
	});
	
	$('#modal_link_c').click(function() {
		$('#dialog-message_a').dialog('open');
		return false;
	});
	
	$('#modal_link_d').click(function() {
		$('#dialog-message_a').dialog('open');
		return false;
	});

	$("#dialog-message_a").dialog({
		autoOpen : false,
		modal : true,
		width: 450,
		title : "<div class='widget-header'><h4><i class='icon-ok'></i>Device's Attribute</h4></div>",
		buttons : [{
			html : "Cancel",
			"class" : "btn btn-default",
			click : function() {
				$(this).dialog("close");
			}
		}, {
			html : "<i class='fa fa-check'></i>&nbsp; OK",
			"class" : "btn btn-primary",
			click : function() {
				$(this).dialog("close");
			}
		}]

	});
</script>
