					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
							<h1 class="page-title txt-color-blueDark" data-i18n="ns:Menu.Report">
								<i class="fa fa-table fa-fw "></i> 
									Report
							</h1>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->
					
				</div>
				<!-- END MAIN CONTENT -->				

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	
	function loadDataTableScripts() {

		loadScript("js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2);

		function dt_2() {
			loadScript("js/plugin/datatables/ColReorder.min.js", dt_3);
		}

		function dt_3() {
			loadScript("js/plugin/datatables/FixedColumns.min.js", dt_4);
		}

		function dt_4() {
			loadScript("js/plugin/datatables/ColVis.min.js", dt_5);
		}

		function dt_5() {
			loadScript("js/plugin/datatables/ZeroClipboard.js", dt_6);
		}

		function dt_6() {
			loadScript("js/plugin/datatables/media/js/TableTools.min.js", dt_7);
		}

		function dt_7() {
			loadScript("js/plugin/datatables/DT_bootstrap.js", dt_8);
		}

		function dt_8() {
			loadScript("js/cctech/datagrid_1level.js", function() {
			    /* define namespace starts */

			    var AD = {};
			    AD.collections = {};
			    // var url = AD.url = $.config.server_url + '/domain';
			    var url = 'http://220.130.176.238:8080/acs-core/RESTful/domains' ;
			    var idAttribute = AD.idAttribute = "id";
			    AD.title = "Report";
			    AD.page = "ajax/report_list.html";

			    AD.validate = function() {
			        return true;
			    };


			    AD.forms = [
			        //form config

			        {
			            title: 'Reseller Name',
			            property: 'name',
			            default_value: ""
			        },
			        {
			            title: 'Send Error Message',
			            property: "isSendErrorMessage",
			            // useTemplate: false,
			            view: function() {
			                var html = '<section>';
			                html += '<label class="checkbox">';
			                html += '<input type="checkbox" name="' + this.property + '" value="Y">';
			                html += '<i></i>' + this.title;
			                html += '</label>';
			                html += '</section>';
			                return $(html);
			            },
			            value: function() {
			                var t = this;
			                if (t.$el.find('input[type="checkbox"]:checked').length > 0)
			                    return true;
			                else
			                    return false;
			            },
			            setValue: function(m) {
			                var t = this;
			                var v = m.get(t.property) || t.default_value || 'N';
			                console.log(m.get(t.property));
			                if (v === true || v ==="true")
			                    t.$el.find('input[type="checkbox"]').prop('checked', true);
			                else
			                    t.$el.find('input[type="checkbox"]').prop('checked', false);


			            }
			        },
			        //form
			        _.defaults({
			            title: 'Description',
			            property: 'remark',
			            default_value: ""
			        },Backbone.UIToolBox.textarea)
			    ];

			    AD.columns = [
			        //columns
			        {
			            title: '<i class="fa fa-lock"></i>',
			            // property: 'isLock',
			            cellClassName: 'isLock',
			            filterable: true,
			            sortable: true,
			            callback: function(o) {
			                // if (o['isLock']==='Y')
			                    return '<i class="fa fa-lock"></i>';
			                // else
			                //     return '<i class="fa fa-unlock-o"></i>';
			            }
			        },
			        //columns
			        {
			            title: 'Reseller',
			            property: 'name',
			            cellClassName: 'name',
			            filterable: false,
			            sortable: true
			        },
			        //columns
			        {
			            title: 'Devices',
			            // property: 'devices',
			            cellClassName: 'devices',
			            filterable: true,
			            sortable: true,
			            callback :function(o) {
			            	var n=Math.ceil(Math.random()*100);
			            	return '<a href="#ajax/domain_list.html/devices/'+o['id']+'">'+n+'</a>';
			            }
			        },
			        //columns
			        {
			            title: 'Users',
			            // property: 'users',
			            cellClassName: 'users',
			            filterable: true,
			            sortable: true,
			            callback :function(o) {
			            	var n=Math.ceil(Math.random()*100);
			            	return '<a href="#ajax/domain_list.html/users/'+o['id']+'">'+n+'</a>';
			            }
			        },
			        //columns
			        {
			            title: 'Send Error Message',
			            property: 'isSendErrorMessage',
			            cellClassName: 'isSendErrorMessage',
			            filterable: true,
			            sortable: true,
			            callback: function(o) {
			            	var _html = '';

			            	if(o['isSendErrorMessage']) {
			            		_html+='Yes';
			            	}
			            	else  {
			            		_html+='No';
			            	}
			            	return _html;
			            }
			        },
			        //columns
			        {
			            title: 'Description',
			            property: 'remark',
			            cellClassName: 'remark',
			            filterable: true,
			            sortable: true
			        },
			        //columns
			        {
			            title: 'Action',
			            sortable: false,
			            callback: function(o) {
			                var _html = '';
			                // _html +='<button class="btn btn-mini btn-success" title="Verify"><i class="icon-ok"></i> </button>';
			                if (o) {
			                    // _html += '<a class="btn btn-default btn-sm DTTT_button_text"><span>Edit</span></a>';
			                    // _html += '<a class="btn btn-default btn-sm DTTT_button_text"><span>Remove</span></a>';
			                    _html += '<a href="#'+AD.page+'/edit/' + o[idAttribute] + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-edit"></i></a>';
			                }
			                return _html;
			            }
			        }
			    ];
			    /* define namespace ends */

			    /* model starts */

			    AD.Model = Backbone.Model.extend({
			        urlRoot: url,
			        idAttribute: idAttribute
			    });

			    /* model ends */

			    /* collection starts */

			    AD.Collection = Backbone.Collection.extend({
			        url: url,
			        model: AD.Model
			    });

			    /* collection ends */
			    var routes = {};

		    	routes[AD.page+'/grid'] = 'show_grid';
		    	routes[AD.page+'/edit/:_id'] = 'show_edit';
		    	routes[AD.page+'/add'] = 'show_add';
		    	routes[AD.page+'/delete/:_id'] = 'delete_single';
		    	routes[AD.page] = 'render';
		    	routes[AD.page+'/devices/:_id'] = 'show_devices';
		    	routes[AD.page+'/users/:_id'] = 'show_devices';
			    var MyRouter = Backbone.DG1.extend({
			    	routes:routes,
			    	show_devices: function(_id) {
			    		// alert()
			    		$("#myModal").modal('show');
			    		pageSetUp();
			    	},
			    	show_users: function(_id) {
			    		// alert()
			    		$("#myModal").modal('show');
			    		pageSetUp();
			    	}
			    	// show_edit: function(_id) {
			    	// 	alert('hello?');
			    	// }
			    });

			    /* define bootstrap starts */
			    AD.bootstrap = function() {
					$("body").removeClass("loading");
			    	// alert('bootstrap');
			    	if( !_.isUndefined($[AD.page].app) ) {
			    		$[AD.page].app.navigate("#"+AD.page+"/grid",{trigger:true});
			    	}
			    		

			        AD.app = new MyRouter({
			            "AD": AD
			        });

			        if(!Backbone.History.started) {
			        	Backbone.emulateHTTP = true;
						Backbone.history.start();
					}
			        
			    };
			    /* define bootstrap ends */

			    $[AD.page] = AD;
			    $[AD.page].bootstrap();

			});
		}

	};

	loadDataTableScripts();

})(jQuery);    	
	


// })(jQuery);
</script>