					<div class="row">
					    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
					        <h1 class="page-title txt-color-blueDark">
					            <a>
					                <i class="fa fa-fw fa-file-text"></i>
					                    <font size="5" data-i18n="ns:Menu.Report">
					                    Report                                                                  
					                    </font>
					                                                        
					            </a>
					        </h1>
					    </div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-all cctech-gv">
						</div>
						<div class="row cctech-all cctech-fv">
						</div>
						<div class="row cctech-all cctech-export">
						</div>
					</section>

					<!-- end widget grid -->

				</div>
				<!-- END MAIN CONTENT -->



<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.min.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/libs/json2.js",
		"js/cctech/datagrid_1level.js",
		"js/report_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/report_list.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);
</script>
