<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-desktop fa-fw "></i> 
			Roles 
			<span>>
				Permission
			</span>
		</h1>
	</div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">

		<!-- NEW WIDGET START -->
		<article class="col-sm-12 col-md-12 col-lg-6">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-sortable jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">

				<header>
					<span class="widget-icon"> <i class="fa fa-sitemap"></i></span>
					<h1> Permission </h1>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<div class="tree smart-form">
							<ul id="permission_render">

							</ul>

						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->

	</div>

	<!-- end row -->

	<!-- row -->

	<div class="row">

	</div>

	<!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/template" id="tpl_permission">



								<li>
									<span> <label class="checkbox inline-block">
										<input type="checkbox" {{#if Dashboard}}checked="checked"{{/if}} name="checkbox-inline">
										<i></i>Dashboard</label> 
									</span>
								</li>

								<li>
									<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if DeviceGroup}}checked="checked"{{/if}} name="checkbox-inline">  Device(Group) </span>
									<ul>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if UploadDevice}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Upload Device</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if DeleteDevice}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Delete Device</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if EditDevice}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Edit Device</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if CreateGroup}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Create Group</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if DeleteGroup}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Delete Group</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if EditGroup}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Edit Group</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if Summary}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Summary</label> 
											</span>
										</li>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if AppManagement}}checked="checked"{{/if}} name="checkbox-inline"> App Management </span>
											<ul>
												<li>
													<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if FirmwareUpgrade}}checked="checked"{{/if}} name="checkbox-inline"> Firmware Upgrade </span>
													<ul>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if OSImageUpgrade}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>OS Image Upgrade</label> 
															</span>
														</li>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if BootloaderUpgrade}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>Boot Loader Upgrade</label> 
															</span>
														</li>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if LogoUpgrade}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>Agent Upgrade</label> 
															</span>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if DeviceManagement}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Device Management</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if DeviceEvent}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Event</label> 
											</span>
										</li>
									</ul>
								</li>
								<li>
									<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if File}}checked="checked"{{/if}} name="checkbox-inline">File</span>
									<ul>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if App}}checked="checked"{{/if}} name="checkbox-inline"> App </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if UploadApp}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Upload App</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if DeleteApp}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Delete App</label> 
													</span>
												</li>
											</ul>
										</li>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if Firmware}}checked="checked"{{/if}} name="checkbox-inline"> Firmware </span>
											<ul>
												<li>
													<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if OSImage}}checked="checked"{{/if}} name="checkbox-inline"> OS Image </span>
													<ul>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if UploadOSImage}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>Upload OS Image</label> 
															</span>
														</li>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if DeleteOSImage}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>Delete OS Image</label> 
															</span>
														</li>
													</ul>
												</li>
												<li>
													<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if Bootloader}}checked="checked"{{/if}} name="checkbox-inline"> Bootloader </span>
													<ul>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if UploadBootloader}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>Upload Bootloader</label> 
															</span>
														</li>
														<li>
															<span> <label class="checkbox inline-block">
																<input type="checkbox" {{#if DeleteBootloader}}checked="checked"{{/if}} name="checkbox-inline">
																<i></i>Delete Bootloader</label> 
															</span>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if Agent}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Agent</label> 
											</span>
										</li>
									</ul>
								</li>
								<li>
									<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if Account}}checked="checked"{{/if}} name="checkbox-inline">Account</span>
									<ul>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if User}}checked="checked"{{/if}} name="checkbox-inline"> User </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if AddUser}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Add User</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if DeleteUser}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Delete User</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if EditUser}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Edit User</label> 
													</span>
												</li>
											</ul>
										</li>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if Role}}checked="checked"{{/if}} name="checkbox-inline"> Role </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if DeleteRole}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Delete Role</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if EditRole}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Edit Role</label> 
													</span>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if Setting}}checked="checked"{{/if}} name="checkbox-inline">Setting</span>
									<ul>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if EventSetting}}checked="checked"{{/if}} name="checkbox-inline"> Event </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if AddEvent}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Add Event</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if DeleteEvent}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Delete Event</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if EditEvent}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Edit Event</label> 
													</span>
												</li>
											</ul>
										</li>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if AlertSetting}}checked="checked"{{/if}} name="checkbox-inline"> Alert </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if AddAlert}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Add Alert</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if DeleteAlert}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Delete Alert</label> 
													</span>
												</li>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if EditAlert}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Edit Alert</label> 
													</span>
												</li>
											</ul>
										</li>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if DeviceType}}checked="checked"{{/if}} name="checkbox-inline"> Device Type </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if EditProductSKU}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Edit Product SKU</label> 
													</span>
												</li>
											</ul>
										</li>
										<li>
											<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if System}}checked="checked"{{/if}} name="checkbox-inline"> System </span>
											<ul>
												<li>
													<span> <label class="checkbox inline-block">
														<input type="checkbox" {{#if DomainDeviceCustomField}}checked="checked"{{/if}} name="checkbox-inline">
														<i></i>Device Property</label> 
													</span>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" {{#if LogReport}}checked="checked"{{/if}} name="checkbox-inline"> Log & Report </span>
									<ul>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if EventLog}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Event Log</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if AlertLog}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Alert Log</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if UserLog}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>User Log</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if SystemLog}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>System Log</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if TaskLog}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Task Log</label> 
											</span>
										</li>
										<li>
											<span> <label class="checkbox inline-block">
												<input type="checkbox" {{#if Report}}checked="checked"{{/if}} name="checkbox-inline">
												<i></i>Report</label> 
											</span>
										</li>
									</ul>
								</li>
</script>

<script type="text/javascript">
	$("body").addClass("loading");
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS

	$('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
	// Handle collapse & expand
	
	$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').find(' > i').on('click', function(e) {
		var children = $(this).parent().parent('li.parent_li').find(' > ul > li');
		if (children.is(':visible')) {
			console.log('Expand Children');
			children.hide('fast');
			$(this).attr('title', 'Expand this branch').removeClass().addClass('fa fa-lg fa-plus-circle');
		} else {
			console.log('Collapse Children');
			children.show('fast');
			$(this).attr('title', 'Collapse this branch').removeClass().addClass('fa fa-lg fa-minus-circle');
		}
		e.stopPropagation();
	});

	/* NOT FINISHED YET. To click children will check or not check its' parent */
	// $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function(e) {
	// 	console.log(parent);
	// 	parent.prop('checked',true);
	// 	e.stopPropagation();
	// });

$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').find(' > input').on('click', function(e) {
	console.log('Click input');
		// var leafs = $(this).parent().parent('li.parent_li').find(' > ul > li > span > label > input');
		// var nonleafs = $(this).parent().parent('li.parent_li').find(' > ul > li > span > input');
		// if (nonleafs.length > 0) {
		// 	var nonleafLeafs = nonleafs.parent().parent('li.parent_li').find(' > ul > li > span > label > input');
		// 	var nonleafNonleafs = nonleafs.parent().parent('li.parent_li').find(' > ul > li > span > input');
		// 	if ($(this).is(':checked')) {
		// 		console.log('Checked Nonleaf');
		// 		nonleafLeafs.prop('checked',true);
		// 	} else {
		// 		console.log('Canceled Nonleaf');
		// 		nonleafLeafs.prop('checked',false);
		// 	}
		// }
		if ($(this).is(':checked')) {
			console.log('Checked');
			recursiveCheck($(this),true);
			// leafs.prop('checked',true);
		} else {
			console.log('Canceled');
			recursiveCheck($(this),false);
			// leafs.prop('checked',false);
		}
		e.stopPropagation();
	});

function recursiveCheck(node, isChecked){
	if (isChecked==true)
	{
		var leafs = node.parent().parent('li.parent_li').find(' > ul > li > span > label > input');
		leafs.prop('checked',true);
		var nonleafs = node.parent().parent('li.parent_li').find(' > ul > li > span > input');
		nonleafs.prop('checked',true);
		if (nonleafs.length>0)
			recursiveCheck(nonleafs,true);
	}
	else
	{
		var leafs = node.parent().parent('li.parent_li').find(' > ul > li > span > label > input');
		leafs.prop('checked',false);
		var nonleafs = node.parent().parent('li.parent_li').find(' > ul > li > span > input');
		nonleafs.prop('checked',false);
		if (nonleafs.length>0)
			recursiveCheck(nonleafs,false);
	}

}
</script>

<script type="text/javascript">
(function($) {
	var per_load = [
	"js/role_detail.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else {
			$["ajax/role_detail.html"].bootstrap();
			if(Backbone && Backbone.History && !Backbone.History.started)
				Backbone.history.start({});
		}
	};

	loadDataScripts();
})(jQuery);
</script>