<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i> Roles <span>>
			Create </span></h1>
		</div>
	</div>

	<!-- widget grid -->
	<section id="widget-grid" class="">

		<!-- row -->
		<div class="row">

			<!-- NEW WIDGET START -->
			<article class="col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

			-->
			<header>
				<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
				<h1> Create Role </h1>

			</header>

			<!-- widget div-->
			<div>

				<!-- widget edit box -->
				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->

				</div>
				<!-- end widget edit box -->

				<!-- widget content -->
				<div class="widget-body">

					<div class="row">
						<form id="wizard-1" novalidate="novalidate">
							<div id="bootstrap-wizard-1" class="col-sm-12">
								<div class="form-bootstrapWizard">
									<ul class="bootstrapWizard form-wizard">
										<li class="active" data-target="#step1">
											<a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span class="title">Role information</span> </a>
										</li>
										<li data-target="#step2">
											<a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span class="title">Permission setting</span> </a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="tab-content">
									<div class="tab-pane active" id="tab1">
										<br>
										<h3><strong>Step 1 </strong> - Role Information</h3>
										<div class="alert alert-info fade in">
											<button class="close" data-dismiss="alert">
												×
											</button>
											<i class="fa-fw fa fa-info"></i>
											<strong>Info!</strong> Please fill in the following form.
										</div>
										<div class="row">

											<div class="col-sm-12">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
														<input class="form-control input-lg" placeholder="Role Name(Ex: SystemOwner, ProjectOwner..etc)" type="text" name="rolename" id="rolename">
													</div>
												</div>

											</div>

										</div>

										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
														<input class="form-control input-lg" placeholder="Description(Ex: Without any edit permission.)" type="text" name="description" id="description">

													</div>
												</div>
											</div>
										</div>

									</div>

									<div class="tab-pane" id="tab2">
										<br>
										<h3><strong>Step 2</strong> - Permission setting</h3>
										<div class="alert alert-info fade in">
											<button class="close" data-dismiss="alert">
												×
											</button>
											<i class="fa-fw fa fa-info"></i>
											<strong>Info!</strong> Please check the relative permissions which this role should have.
										</div>
										<!-- widget content -->
										<div class="widget-body">

											<div class="tree smart-form">
												<ul>
													<li>
														<span> <label class="checkbox inline-block">
															<input type="checkbox" name="checkbox-inline">
															<i></i>Dashboard</label> 
														</span>
													</li>
													
													<li>
														<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Device(Group) </span>
														<ul>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Upload Device</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Delete Device</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Edit Device</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Create Group</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Delete Group</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Edit Group</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Summary</label> 
																</span>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> App Management </span>
																<ul>
																	<li>
																		<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Firmware Upgrade </span>
																		<ul>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>OS Image Upgrade</label> 
																				</span>
																			</li>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>Boot Loader Upgrade</label> 
																				</span>
																			</li>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>Agent Upgrade</label> 
																				</span>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Device Management</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Event</label> 
																</span>
															</li>
														</ul>
													</li>
													<li>
														<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline">File</span>
														<ul>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> App </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Upload App</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Delete App</label> 
																		</span>
																	</li>
																</ul>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Firmware </span>
																<ul>
																	<li>
																		<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> OS Image </span>
																		<ul>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>Upload OS Image</label> 
																				</span>
																			</li>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>Delete OS Image</label> 
																				</span>
																			</li>
																		</ul>
																	</li>
																	<li>
																		<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Bootloader </span>
																		<ul>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>Upload Bootloader</label> 
																				</span>
																			</li>
																			<li>
																				<span> <label class="checkbox inline-block">
																					<input type="checkbox" name="checkbox-inline">
																					<i></i>Delete Bootloader</label> 
																				</span>
																			</li>
																		</ul>
																	</li>
																</ul>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> App </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Agent</label> 
																		</span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline">Account</span>
														<ul>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> User </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Add User</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Delete User</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Edit User</label> 
																		</span>
																	</li>
																</ul>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Role </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Delete Role</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Edit Role</label> 
																		</span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline">Setting</span>
														<ul>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Event </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Add Event</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Delete Event</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Edit Event</label> 
																		</span>
																	</li>
																</ul>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Alert </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Add Alert</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Delete Alert</label> 
																		</span>
																	</li>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Edit Alert</label> 
																		</span>
																	</li>
																</ul>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Device Type </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Edit Product SKU</label> 
																		</span>
																	</li>
																</ul>
															</li>
															<li>
																<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> System </span>
																<ul>
																	<li>
																		<span> <label class="checkbox inline-block">
																			<input type="checkbox" name="checkbox-inline">
																			<i></i>Device Property</label> 
																		</span>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
													<li>
														<span><i class="fa fa-lg fa-minus-circle"></i><input type="checkbox" name="checkbox-inline"> Log & Report </span>
														<ul>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Event Log</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Alert Log</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>User Log</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>System Log</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Task Log</label> 
																</span>
															</li>
															<li>
																<span> <label class="checkbox inline-block">
																	<input type="checkbox" name="checkbox-inline">
																	<i></i>Report</label> 
																</span>
															</li>
														</ul>
													</li>
												</ul>
											</div>

										</div>
										<!-- end widget content -->
									</div>

									<div class="form-actions">
										<div class="row">
											<div class="col-sm-12">
												<ul class="pager wizard no-margin">
														<!--<li class="previous first disabled">
														<a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
													</li>-->
													<li class="previous disabled">
														<a href="javascript:void(0);" class="btn btn-lg btn-default"> Previous </a>
													</li>
														<!--<li class="next last">
														<a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
													</li>-->
													<li class="next">
														<a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Next </a>
													</li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</div>
						</form>
					</div>

				</div>
				<!-- end widget content -->

			</div>
			<!-- end widget div -->

		</div>
		<!-- end widget -->

	</article>
	<!-- WIDGET END -->


</div>

<!-- end row -->

</section>
<!-- end widget grid -->


<script type="text/javascript">
	$("body").addClass("loading");
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS

	$('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
	// Handle collapse & expand
	
	$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').find(' > i').on('click', function(e) {
		var children = $(this).parent().parent('li.parent_li').find(' > ul > li');
		if (children.is(':visible')) {
			console.log('Expand Children');
			children.hide('fast');
			$(this).attr('title', 'Expand this branch').removeClass().addClass('fa fa-lg fa-plus-circle');
		} else {
			console.log('Collapse Children');
			children.show('fast');
			$(this).attr('title', 'Collapse this branch').removeClass().addClass('fa fa-lg fa-minus-circle');
		}
		e.stopPropagation();
	});

	/* NOT FINISHED YET. To click children will check or not check its' parent */
	// $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function(e) {
	// 	console.log(parent);
	// 	parent.prop('checked',true);
	// 	e.stopPropagation();
	// });

$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').find(' > input').on('click', function(e) {
	console.log('Click input');
		if ($(this).is(':checked')) {
			console.log('Checked');
			recursiveCheck($(this),true);
		} else {
			console.log('Canceled');
			recursiveCheck($(this),false);
		}
		e.stopPropagation();
	});

function recursiveCheck(node, isChecked){
	if (isChecked==true)
	{
		var leafs = node.parent().parent('li.parent_li').find(' > ul > li > span > label > input');
		leafs.prop('checked',true);
		var nonleafs = node.parent().parent('li.parent_li').find(' > ul > li > span > input');
		nonleafs.prop('checked',true);
		if (nonleafs.length>0)
			recursiveCheck(nonleafs,true);
	}
	else
	{
		var leafs = node.parent().parent('li.parent_li').find(' > ul > li > span > label > input');
		leafs.prop('checked',false);
		var nonleafs = node.parent().parent('li.parent_li').find(' > ul > li > span > input');
		nonleafs.prop('checked',false);
		if (nonleafs.length>0)
			recursiveCheck(nonleafs,false);
	}

}
</script>


<script type="text/javascript">
	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

	// PAGE RELATED SCRIPTS

	/*
	 * Load bootstrap wizard dependency
	 */
	 loadScript("js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js", runBootstrapWizard);

	//Bootstrap Wizard Validations
	
	function runBootstrapWizard() {
		var $validator = $("#wizard-1").validate({

			rules: {
				rolename: {
					required: true
				},
				description: {
					required: true
				}
			},

			messages: {
				rolename: "Role name MUST be filled.",
				description: "Please specify something to remind you",
			},

			highlight: function (element) {
				$(element).closest('.form-group').removeClass('has-success').addClass('has-error');
			},
			unhighlight: function (element) {
				$(element).closest('.form-group').removeClass('has-error').addClass('has-success');
			},
			errorElement: 'span',
			errorClass: 'help-block',
			errorPlacement: function (error, element) {
				if (element.parent('.input-group').length) {
					error.insertAfter(element.parent());
				} else {
					error.insertAfter(element);
				}
			}
		});

		$('#bootstrap-wizard-1').bootstrapWizard({
			'tabClass': 'form-wizard',
			'onNext': function (tab, navigation, index) {
				// console.log($('#bootstrap-wizard-1').tab1.rolename);
				
				var wizard = $('#bootstrap-wizard-1');
				// Last page
				if (wizard.bootstrapWizard('currentIndex')==wizard.bootstrapWizard('navigationLength')){
					console.log('Dashboard is :'+$('input[name="dashboard"]').is(':checked'));
					var url = 'http://220.130.176.238:8080/acs-core/RESTful/appFiles';
					// var data = {"name":"DomainUserRole","type":"SystemReserved","remark":"[System Reserved]","permissionType":"DomainUser","restResourceIdSet":[6,11,12],"userIdSet":[]};

					var data = {title:"title",name:$('input[name="rolename"]').val(),version:$('input[name="description"]').val(),packageId:"com.iii.package",remark:"remark",mainFileUrl:"http://220.130.176.240:8080/III_NetAdmin2/csv/RemoteStartService(3).apk",iconFileUrl:"http://220.130.176.240:8080/III_NetAdmin2/imgs/large_/play books(1).png"};

					$.ajax({
					  type: "POST",
					  async: false,
					  url: url,
					  contentType:'application/json; charset=utf-8',
					  data: JSON.stringify(data),
						success: function(data) {
							console.log('Add Success');
							window.location.href = '#ajax/role_list.html';
                        	// console.log(data);
                    	},
                    	error: function(data){
                    		console.log('Add Error');
                        	// console.log(data);	
                    	},
                    	// type:"json",
					  dataType: "json"
					});
				}
				console.log('Tab number:'+index);
				var $valid = $("#wizard-1").valid();
				if (!$valid) {
					console.log('Not valid');
					$validator.focusInvalid();
					return false;
				} else {
					console.log('Valid');
					$('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
						'complete');
					$('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
					.html('<i class="fa fa-check"></i>');
				}
			}
		});
		$("body").removeClass("loading");

	}
	
	/*
	 * Load fuelux wizard dependency
	 */
	 loadScript("js/plugin/fuelux/wizard/wizard.js");



	 </script>
