					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
							<h1 class="page-title txt-color-blueDark">
								<i class="fa fa-fw fa-user"></i> 
									User
								<span>> 
									Roles
								</span>
							</h1>
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->
					
				</div>
				<!-- END MAIN CONTENT -->		

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	
	function loadDataTableScripts() {

		loadScript("js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2);

		function dt_2() {
			loadScript("js/plugin/datatables/ColReorder.min.js", dt_3);
		}

		function dt_3() {
			loadScript("js/plugin/datatables/FixedColumns.min.js", dt_4);
		}

		function dt_4() {
			loadScript("js/plugin/datatables/ColVis.min.js", dt_5);
		}

		function dt_5() {
			loadScript("js/plugin/datatables/ZeroClipboard.js", dt_6);
		}

		function dt_6() {
			loadScript("js/plugin/datatables/media/js/TableTools.min.js", dt_7);
		}

		function dt_7() {
			loadScript("js/plugin/datatables/DT_bootstrap.js", dt_8);
		}

		function dt_8() {
			loadScript("js/cctech/datagrid_1level.js", function() {
			    /* define namespace starts */
			    var AD = {};
			    AD.collections = {};
			    // var url = AD.url = $.config.server_url + '/role';
			    var url = 'http://220.130.176.238:8080/acs-core/RESTful/roles';
			    var idAttribute = AD.idAttribute = "id";
			    AD.title = "Roles";
			    AD.page = "ajax/role_list.html";

			    AD.validate = function() {
			        return true;
			    };

			    /*
			    AD.buttons = [
			        //button
			        {
			            "sExtends": "text",
			            "sButtonText": 'Add One Device',
			            "sButtonClass": "upload-btn"
			        },
			        //button
			        {
			            "sExtends": "text",
			            "sButtonText": 'Add Device List',
			            "sButtonClass": "upload-btn-csv"
			        }
			    ];
			    */

			    AD.forms = [
			        //form1
			        {
			            title: 'Role',
			            property: 'name',
			            default_value: ""
			        },
			        //form2
			        {
			            title: 'Description',
			            property: 'remark',
			            default_value: ""
			        }
			        
			    ];

			    AD.columns = [
			        //columns
			        {
			            title: 'Role',
			            property: 'name',
			            cellClassName: 'Name',
			            filterable: false,
			            sortable: true,
			            callback: function(o) {
			            	return '<a href="#ajax/role_detail.html/' + o.id + '">' + o.name + '</a>';
           				}
			        }, 
			        //column
			        {
			            title: 'Description',
			            property: 'remark',
			            cellClassName: 'description',
			            filterable: false,
			            sortable: true
			        },
			        //column
			        {
			            title: 'Permission Type',
			            property: 'permissionType',
			            cellClassName: 'permissionType',
			            filterable: false,
			            sortable: true
			        },

			        /*{
			            title: 'User Name',
			            property: 'name',
			            cellClassName: 'name',
			            filterable: true,
			            sortable: true
			        },
			        //columns3
			        {
			            title: 'User Role',
			            property: 'role',
			            cellClassName: 'role',
			            filterable: false,
			            callback: function(o) {

			                if (!AD.collections.role) {
			                    var coll = Backbone.getCollectionByUrl($.config.server_url + '/role', "id");
			                    coll.fetch({
			                        async: false,
			                        data: {
			                            "fields": ["id", "description"]
			                        }
			                    });
			                    // coll.pop();
			                    var info = coll.at(coll.length - 1);
			                    coll.remove(info);
			                    AD.collections.role = coll;
			                }
			                var coll = AD.collections.role;
			                // alert(o.role);
			                var p = coll.get(o.role);
			                // alert(p);
			                if (typeof p !== "undefined")
			                    var _html = p.get("roleName");
			                else
			                    var _html = "";
			                // var _html = "test";
			                return _html;

			            }
			        },
			        //columns4
			        {
			            title: 'Email',
			            property: 'email',
			            cellClassName: 'email',
			            filterable: true,
			            sortable: true
			        },
			        //columns5
			        {
			            title: 'Phone Number',
			            property: 'phone',
			            cellClassName: 'phone',
			            filterable: true,
			            sortable: true
			        },
			        //columns6
			        {
			            title: 'Create Time',
			            property: 'creationTime',
			            cellClassName: 'creation_time',
			            filterable: true,
			            sortable: true
			        },
			        */
			        //columns7
			        {
			            title: 'Action',
			            sortable: false,
			            callback: function(o) {
			                var _html = '';
			                // _html +='<button class="btn btn-mini btn-success" title="Verify"><i class="icon-ok"></i> </button>';
			                if (o) {
			                    // _html += '<a class="btn btn-default btn-sm DTTT_button_text"><span>Edit</span></a>';
			                    // _html += '<a class="btn btn-default btn-sm DTTT_button_text"><span>Remove</span></a>';
			                    /*_html += '<a href="#ajax/role_edit.html/' + o.id + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-edit"></i></a>';*/

			                    _html += '<a href="#ajax/role_edit.html/' + o.id + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-edit"></i></a>';
			                    /*
			                    _html += '<a href="#'+AD.page+'/edit/' + o[idAttribute] + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-edit"></i></a>';*/
			                    _html += '<a href="#'+AD.page+'/delete/' + o[idAttribute] + '" class="btn btn-default btn-sm DTTT_button_text" style="display: inline;"><i class="fa fa-times"></i></a>';
			                }
			                return _html;
			            }
			        }
			    ];
			    /* define namespace ends */

			    /* model starts */

			    AD.Model = Backbone.Model.extend({
			        urlRoot: url,
			        idAttribute: idAttribute
			    });

			    /* model ends */

			    /* collection starts */

			    AD.Collection = Backbone.Collection.extend({
			        url: url,
			        model: AD.Model
			    });

				    
			    /* collection ends */
			    var routes = {};

		    	routes[AD.page+'/grid'] = 'show_grid';
		    	routes[AD.page+'/edit/:_id'] = 'show_edit';
		    	routes[AD.page+'/add'] = 'role_add';
		    	routes[AD.page+'/delete/:_id'] = 'delete_single';
		    	routes[AD.page] = 'render';



			    var MyRouter = Backbone.DG1.extend({
			    	routes:routes,
			    	role_add: function(){
        				this.navigate("#ajax/role_add.html", {
                        trigger: true
                    });
    			}
			    });

			    /* define bootstrap starts */
			    AD.bootstrap = function() {
					$("body").removeClass("loading");
			    	// alert('bootstrap');
			    	if( !_.isUndefined($[AD.page].app) ) {
			    		$[AD.page].app.navigate("#"+AD.page+"/grid",{trigger:true});
			    	}
			    		

			        AD.app = new MyRouter({
			            "AD": AD
			        });

			        if(!Backbone.History.started) {
			        	Backbone.emulateHTTP = true;
						Backbone.history.start();
					}
			        
			    };
			    /* define bootstrap ends */

			    $[AD.page] = AD;
			    $[AD.page].bootstrap();

			});
		}

	};

	loadDataTableScripts();

})(jQuery);    	
	


// })(jQuery);
</script>