<style>
	/*
	 * Glyphicons
	 *
	 * Special styles for displaying the icons and their classes in the docs.
	 */

	.bs-glyphicons {
		padding-left: 0;
		padding-bottom: 1px;
		margin-bottom: 20px;
		list-style: none;
		overflow: hidden;
	}
	.bs-glyphicons li {
		float: left;
		width: 25%;
		height: 115px;
		padding: 25px;
		margin: 5px;
		font-size: 12px;
		line-height: 1.4;
		text-align: center;
		border: 1px solid #ddd;
	}
	.bs-glyphicons .glyphicon {
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 24px;
	}
	.bs-glyphicons .glyphicon-class {
		display: block;
		text-align: center;
	}
	.bs-glyphicons li:hover {
		background-color: rgba(86,61,124,.1);
	}

	@media (min-width: 768px) {
		.bs-glyphicons li {
			width: 12.5%;
		}
	}
	
	.appm_property_bg{ width:100%; height:100%; margin-top:10px; margin-bottom:32px; padding:10px 0px 0px 0px;}
	.appm_property_bg img { width:100%; width:148px; height:168px;}
	.appm_property_bg h5{ text-align:center; font-size:14px; font-weight:700; color:#333; width:100%; min-width:80px;}
</style>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-fw fa-gears"></i>
				<font id="breadcrumbs">
					<a href="#ajax/setting.html">
						<font data-i18n="ns:Menu.Setting">Setting</font>
					</a>
				</font>
        </h1>
    </div>
</div>

	<!-- widget grid -->
	<section id="widget-grid">
		<!--<div class="row cctech-gv">
		</div>
		<div class="row cctech-fv">
		</div>-->
		<div class="row">
			<article class="col-sm-12">
				<div class="jarviswidget jarviswidget-color-purple" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false">
					<div id="settings" class="widget-body">
						<!--
						<ul class="bs-glyphicons">
							<li id="export">
									<span class="glyphicon glyphicon-export"></span>
									<span class="glyphicon-class">Export Setting</span>
							</li>
							<li id="sysConfig">
									<span class="glyphicon glyphicon-cog"></span>
									<span class="glyphicon-class">Configuration</span>
							</li>
							<li id="mailSetting">
									<span class="glyphicon glyphicon-envelope"></span>
									<span class="glyphicon-class">System Mail Setting</span>
							</li>
							<li id="serverSetting">
									<span class="glyphicon glyphicon-barcode"></span>
									<span class="glyphicon-class">Server URL</span>
							</li>
						</ul>
						-->
					</div>
				</div>
			</article>
		</div>
		
	</section>

	<!-- end widget grid -->
	<div id="dialog"></div>
</div>
<!-- END MAIN CONTENT -->				

				
<script type="text/template" id="tpl_setting_dialog">
	<p>
		<table class="table" style="clear: both">
			{{#each settings}}
				<tr>
					<td><b>{{this.node_name}} :</b></td>
					<td><b>{{transformat this.type this.node_name this.node_value}}</b></td>
				</tr>
			{{/each}}
		</table>
	</p>
	<div class="hr hr-12 hr-double"></div>
</script>

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	
	/*
	 * CONVERT DIALOG TITLE TO HTML
	 * REF: http://stackoverflow.com/questions/14488774/using-html-in-a-dialogs-title-in-jquery-ui-1-10
	 */
	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
		_title : function(title) {
			if (!this.options.title) {
				title.html("&#160;");
			} else {
				title.html(this.options.title);
			}
		}
	}));
	
	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/cctech/datagrid_1level.js",
		"js/setting.js"
	];	

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else 
			$["ajax/setting.html"].bootstrap();
	};
	
	loadDataScripts();

})(jQuery);
</script>