<!-- HTML START -->
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <h1 class="page-title" style="color:#428bca;">            
            <i class="fa fa-table fa-fw "></i>
                <font>Policy                                                                  
                </font>
                >
            <a href="#ajax/software_policy_list.html/grid">                    
                <font>Software</font>                
            </a>>
            <font style="color:white">Add</font>                
        </h1>
    </div>                      
</div>

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-plus"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3">Add</font>
                    </sub></sub></sub>                    
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                  
                                    <div class="form-bootstrapWizard" style="position:relative;">
                                        <ul id="tabs" class="bootstrapWizard form-wizard">
                                            <li id="step1" class="active" data-target="#step1">
                                                <a href="#tab1" data-toggle="tab"> <span class="step" data-i18n="ns:Message.StepOneNum">1</span> <span class="title">General Information</span> </a>
                                            </li>
                                            <li id="step2" data-target="#step2">
                                                <a href="#tab2" data-toggle="tab"> <span class="step" data-i18n="ns:Message.StepTwoNum">2</span> <span class="title">Black Applications</span> </a>
                                            </li>                                                        
                                        </ul>
                                        <div class="clearfix"></div>     
                                    </div>
                                    <div class="row" style="
                                        position: absolute;
                                        top: -13px;
                                        z-index: 9999; 
                                        background: #FFFFFF;
                                        filter:alpha(opacity=0); 
                                        opacity: 0; -moz-opacity=0;
                                        max-width: 100%;
                                        width: 100%;
                                        height: 96px;">
                                    </div>
                                    <br>
                                    <hr color="#C9C9C9">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="row">                               
                                                <fieldset>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-shield fa-lg fa-fw"></i></span>
                                                                <input class="form-control input-lg" placeholder="Policy Name" type="text" name="name" id="name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                                <input class="form-control input-lg" placeholder="Remark" type="text" name="remark" id="remark">
                                                            </div>
                                                        </div>
                                                    </div>                               
                                                </fieldset>
                                            </div>                                            
                                        </div>

                                        <div class="tab-pane" id="tab2"> 
                                            <!-- Group -->
                                            <div class="row">                               
                                                <fieldset>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                                <select id="operatingSystem" name="deviceType" class="form-control input-lg">
                                                                    <option value="Android" selected="selected" data-i18n="ns:Group.Android">Android</option>
                                                                    <option value="Windows"  data-i18n="ns:Group.Windows">Windows</option>
                                                                    <!-- <option value="iPhone">iPhone</option> -->
                                                                </select>    
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-file fa-lg fa-fw"></i></span>
                                                                <input class="form-control input-lg" placeholder="Package IDs (ex. com.android.browser,com.android.music)" type="text" id="appBlacklist">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div> 

                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                               
                                                        <li id="btn_back" class="previous">
                                                            <a href="javascript:void(0);" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                        <li id="btn_save" class="next">
                                                            <a href="javascript:void(0);" class="btn btn-lg bg-color-blue txt-color-white" data-i18n="ns:Message.Next"> Next </a>
                                                        </li>                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>                                                                   
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
    $("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/software_policy_add.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else          
            $["ajax/software_policy_add.html"].bootstrap();
    };

    loadDataScripts();
    
})(jQuery);     
</script>

