<style type="text/css">
#task_info table td > i {
	font-size: 22px;
	margin-right: 4px;
}
</style>
					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
							<h1 class="page-title" style="color:#428bca;">
								<i class="fa fa-book fa-fw "></i>
									<font data-i18n="ns:Menu.Log">
									Log                                                                  
									</font>
									>
								<a href="#ajax/task_list.html/grid">
									<font data-i18n="ns:Log.Task.Task">Task</font>
								</a>
								>
								<font id="taskName"></font>
								>
								<font style="color:white" data-i18n="ns:Log.Task.TaskDetail">Task Detail</font>
							</h1>
						</div>
					</div>

					<!-- widget grid -->
					<div id="task_detail" style="background:#fff;">
						<div class="row">
							<!-- Info -->
							<div id="task_info" class="col-xs-7">TaskInfo</div>
							<!-- Piechart -->
							<div id="subtask_status" class="col-xs-4">PieChart</div>
						</div>
						
						<section id="widget-grid">
							<div class="row cctech-gv">
							</div>
						</section>
					</div>

					<!-- end widget grid -->

				<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/SimpleDateFormat.js",
  		"js/libs/json2.js",
		"js/cctech/datagrid_1level.js",
		"js/subtask_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/subtask_list.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);

</script>
