					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
							<h1 class="page-title txt-color-blueDark">
								<i class="fa fa-table fa-fw "></i> 
									System
								<span>>
									System Properties
								</span>
							</h1>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->
					
				</div>
				<!-- END MAIN CONTENT -->				
<script type="text/template" id="tpl_datetimepicker_range">
<div class="row">
	<section class="col col-6">
		<label class="input input-append {{ property.[0] }}_dt">
			<input data-format="{{ format }}" type="text" name="{{ property.[0] }}" placeholder="{{ placeholder.[0] }}">
			<span class="add-on">
				<i data-time-icon="fa-clock-o" data-date-icon="fa-calendar" class="fa icon-append"></i>
			</span>
		</label>
	</section>
	<section class="col col-6">
		<label class="input input-append {{ property.[1] }}_dt">
			<input data-format="{{ format }}" type="text" name="{{ property.[1] }}" placeholder="{{ placeholder.[1] }}">
			<span class="add-on">
				<i data-time-icon="fa-clock-o" data-date-icon="fa-calendar" class="fa icon-append"></i>
			</span>
		</label>
	</section>
</div>
</script>

<script type="text/template" id="tpl_jqfu">
<form id="fileupload" action="" method="POST" enctype="multipart/form-data" class="">
    <div class="fileupload-buttonbar">
        <div class="col col-12">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button  btn-sm">
                <i class="icon-plus icon-white"></i>
                <span>Add File</span>
                <input type="file" name="files[]" class="skip_these" multiple="">
            </span>
            <button type="submit" class="btn btn-primary start  btn-sm">
                <i class="icon-upload icon-white"></i>
                <span>Start Upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel  btn-sm">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel Upload</span>
            </button>
            <button type="button" class="btn btn-danger delete btn-sm">
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <label class="checkbox" style="display: inline-block;"><input type="checkbox" class="toggle"><i></i>All
            </label>
            <span class="fileupload-loading"></span>
        </div>
        <!-- The global progress information -->
        <div class="col col-12 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="bar" style="width:0%;"></div>
            </div>
            <!-- The extended global progress information -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>
</script>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-important">錯誤</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start btn-sm">
                    <i class="icon-upload icon-white"></i>
                    <span>開始上傳</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel btn-sm">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>取消上傳</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
            </p>
            {% if (file.error) { %}
                <div><span class="label label-important">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            <button class="btn btn-danger delete btn-sm" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="glyphicon glyphicon-remove"></i>
                <span>刪除</span>
            </button>
            <label class="checkbox" style="display: inline-block;"><input type="checkbox" name="delete" value="1" class="toggle"><i></i>
            </label>
        </td>
    </tr>
{% } %}
</script>

<script type="text/javascript">
(function($) {
	pageSetUp();
	
	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",
		"js/bootstrap-datetimepicker.js",
		"js/plugin/summernote/summernote.js",
        "js/libs/json2.js",
		"js/cctech/datagrid_1level.js",
		"js/system_property_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else 
			$["ajax/system_property_list.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);    	
</script>
