					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
							<h1 class="page-title" style="color:#428bca;">
								<i class="fa fa-book fa-fw "></i>
									<font data-i18n="ns:Menu.Log">
									Log                                                                  
									</font>
									>                                    		
								<font style="color:white" data-i18n="ns:Menu.SystemLog">System Log</font>
							</h1>
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid" class="content_bg">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">
						</div>
					</section>

					<!-- end widget grid -->

				<!-- END MAIN CONTENT -->				

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();
	
	function loadDataTableScripts() {

		loadScript("js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2);

		function dt_2() {
			loadScript("js/plugin/datatables/ColReorder.min.js", dt_3);
		}

		function dt_3() {
			loadScript("js/plugin/datatables/FixedColumns.min.js", dt_4);
		}

		function dt_4() {
			loadScript("js/plugin/datatables/ColVis.min.js", dt_5);
		}

		function dt_5() {
			loadScript("js/plugin/datatables/ZeroClipboard.js", dt_6);
		}

		function dt_6() {
			loadScript("js/plugin/datatables/media/js/TableTools.min.js", dt_7);
		}

		function dt_7() {
			loadScript("js/plugin/datatables/DT_bootstrap.js", dt_8);
		}

		function dt_8() {
			loadScript("js/cctech/datagrid_1level.js", function() {
			    /* define namespace starts */

			    var AD = {};
				AD.buttons = [
					{
						"sExtends": "text",
						"sButtonText": "<i class='fa fa-refresh'></i>&nbsp; "+ i18n.translate("ns:System.Refresh"),
						"sButtonClass": "edit-group-device-list-btn txt-color-white bg-color-blue",
						"fnClick": function(nButton, oConfig, oFlash) {
							AD.app.gv.refresh();
						}
					}
				];

			    AD.api = 'iii';

			    AD.collections = {};
				var url = $.config.server_rest_url + '/systemLogs';
				var idAttribute = AD.idAttribute = "id";
			    AD.title = "ns:Menu.SystemLog";
			    AD.page = "ajax/systemlog_list.html";
			    AD.isAdd = false;
				AD.sort = {
					"column": "id",
					"sortDir": "desc"
				};

			    AD.validate = function() {
			        return true;
			    };


			    AD.forms = [

			    ];

			    AD.columns = [
			  		/*{
						title: 'ns:Log.Task.ID', //ns:Log.SystemLog.ID
						property: 'id',
						visible: false,
						filterable: false,
						sortable: true
					},*/
			  //       {
					// 	title: 'Id',
					// 	property: 'id',
					// 	sortable: true
					// },
					//columns3
			        {
			            title: 'ns:Log.SystemLog.Action',
			            property: 'action',
			            cellClassName: 'action',
			            filterable: true,
			            sortable: true,
			            /*
						callback: function(o) {
			                return o["action"];
			            }
						*/
			        },
			        //columns4
			        {
			            title: 'ns:Log.SystemLog.Remark',
			            property: 'remark',
			            cellClassName: 'remark',
			            filterable: true,
			            sortable: false
			        },
			        //columns5
			        {
			            title: 'ns:Log.SystemLog.Time',
			            property: 'actionTime',
			            filterable: true,
			            sortable: true,
			        }
			    ];
			    /* define namespace ends */


			    /* model starts */

			    AD.Model = Backbone.Model.extend({
			        urlRoot: url,
			        idAttribute: idAttribute
			    });

			    /* model ends */

			    /* collection starts */

			    AD.Collection = Backbone.Collection.extend({
			        url: url,
			        model: AD.Model
			    });

			    /* collection ends */
			    var routes = {};

		    	routes[AD.page+'/grid'] = 'show_grid';
		    	// routes[AD.page+'/edit/:_id'] = 'show_edit';
		    	// routes[AD.page+'/add'] = 'show_add';
		    	// routes[AD.page+'/delete/:_id'] = 'delete_single';
		    	routes[AD.page] = 'render';
			    var MyRouter = Backbone.DG1.extend({
			    	routes:routes
			    });

			    /* define bootstrap starts */
			    AD.bootstrap = function() {
			    	// Multi-Language
			        i18n.init(function(t){
			            $('[data-i18n]').i18n();
			        });
			        
			        if (!$.login.user.checkRole('SystemLogViewer')) {
			            window.location.href = "#ajax/dashboard.html/grid";
			        }
					$("body").removeClass("loading");
			    	// alert('bootstrap');
			    	if( !_.isUndefined($[AD.page].app) ) {
			    		$[AD.page].app.navigate("#"+AD.page+"/grid",{trigger:true});
			    	}
			    		

			        AD.app = new MyRouter({
			            "AD": AD
			        });

			        if(!Backbone.History.started) {
			        	Backbone.emulateHTTP = true;
						Backbone.history.start();
					}
					
					Backbone.Events.off("SystemLogUpdate");
					Backbone.Events.on("SystemLogUpdate", function(data){
						//console.log("SystemLog need to refresh!");
						$(".cctech-gv table").dataTable().fnDraw();
					});
			        
			    };
			    /* define bootstrap ends */

			    $[AD.page] = AD;
			    $[AD.page].bootstrap();

			});
		}

	};

	loadDataTableScripts();

})(jQuery);    	
	


// })(jQuery);
</script>