					<div class="row">
						<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
							<h1 class="page-title txt-color-blueDark">
								<i class="fa fa-fw fa-th-large" data-i18n="ns:Menu.File"></i>
									File
									<span data-i18n="ns:File.UploadFile">>
									Upload File
								</span>
							</h1>
						</div>
					</div>

					<!-- widget grid -->
					<section id="widget-grid">
						<div class="row cctech-gv">
						</div>
						<div class="row cctech-fv">

						</div>
					</section>

					<!-- end widget grid -->
				    <br>
				    <br>
				    <!-- The global progress bar -->

				</div>
				<!-- END MAIN CONTENT -->

				<script id="btnChooseFile" type="text/template">
				    <!-- The fileinput-button span is used to style the file input field as button -->
				    <span class="btn btn-success btn-lg fileinput-button">
				        <i class="glyphicon glyphicon-plus"></i>
				        <span>{{title}}</span>
				        <!-- The file input field used as target for the file upload widget -->
				        <input id="{{property}}-fileupload" type="file" name="{{property}}" class="skip_these" multiple>
				    </span>
				     <div id="{{property}}-progress" class="progress btn-sm">
       				 <div class="progress-bar progress-bar-success"></div>
   					 </div>
       				 <div id="{{property}}-files" class="files btn btn-lg"></div>
				</script>




<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
	pageSetUp();

	var per_load = [
		"js/plugin/datatables/jquery.dataTables-cust.js",
		"js/plugin/datatables/ColReorder.min.js",
		"js/plugin/datatables/FixedColumns.min.js",
		"js/plugin/datatables/ColVis.min.js",
		"js/plugin/datatables/ZeroClipboard.js",
		"js/plugin/datatables/media/js/TableTools.min.js",
		"js/plugin/datatables/DT_bootstrap.js",

		// "js/bootstrap-datetimepicker.js",
		// "js/plugin/summernote/summernote.js",
		// "js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js",
		// "http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js",
		//"http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js",
		//"http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js",
		// "http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js",
		// "js/jqfu/jquery.fileupload-angular.js",
		"js/jqfu/jquery.ui.widget.js",
		"js/jqfu/jquery.iframe-transport.js",
		"js/jqfu/jquery.fileupload.js",
		"js/jqfu/jquery.fileupload-process.js",
		"js/jqfu/jquery.fileupload-image.js",
		"js/jqfu/jquery.fileupload-audio.js",
		"js/jqfu/jquery.fileupload-validate.js",
		"js/jqfu/jquery.fileupload-video.js",
		"js/SimpleDateFormat.js",
		// "js/jqfu/jquery.fileupload-ui.js",
  		"js/libs/json2.js",
		"js/cctech/datagrid_1level.js",
		"js/uploadedfile_list.js"
	];

	var count = 0;
	function loadDataScripts() {
		count++;
		if(per_load.length>=count)
			loadScript(per_load[count-1],loadDataScripts);
		else
			$["ajax/uploadedfile_list.html"].bootstrap();
	};

	loadDataScripts();

})(jQuery);
</script>
