<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-fw fa-group"></i>
				<font id="breadcrumbs">
					<a href="#ajax/user_list.html">
						<font data-i18n="ns:Menu.User">User</font>
					</a>
				</font>
        </h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="content_bg">
    <div class="row cctech-gv">
    </div>
    <div class="row cctech-fv">
    </div>
</section>

<!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    var per_load = [
        "js/plugin/datatables/jquery.dataTables-cust.js",
        "js/plugin/datatables/ColReorder.min.js",
        "js/plugin/datatables/FixedColumns.min.js",
        "js/plugin/datatables/ColVis.min.js",
        "js/plugin/datatables/ZeroClipboard.js",
        "js/plugin/datatables/media/js/TableTools.min.js",
        "js/plugin/datatables/DT_bootstrap.js",
        "js/cctech/datagrid_1level.js",
        "js/user_list.js"
    ];

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            console.log('Ready to bootstrap');
            $["ajax/user_list.html"].bootstrap();
        }

    };

    loadDataScripts();

})(jQuery);
</script>
