<div id="divUserLogMain" class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
			<i class="fa fa-book fa-fw "></i>
			<font data-i18n="ns:Menu.Log">Log</font>
            >				
			<font style="color:white" data-i18n="ns:Menu.UserLog">User Log</font>
		</h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="content_bg">
    <div class="row cctech-gv">
    </div>
    <div class="row cctech-fv">
    </div>
</section>
<!-- end widget grid -->
<!-- END MAIN CONTENT -->

<script type="text/javascript">
(function($)
{
    $("body").addClass("loading");
    pageSetUp();

    function loadDataTableScripts()
    {
        loadScript("js/plugin/datatables/jquery.dataTables-cust.min.js", dt_2);

        function dt_2()
        {
            loadScript("js/plugin/datatables/ColReorder.min.js", dt_3);
        }

        function dt_3()
        {
            loadScript("js/plugin/datatables/FixedColumns.min.js", dt_4);
        }

        function dt_4()
        {
            loadScript("js/plugin/datatables/ColVis.min.js", dt_5);
        }

        function dt_5()
        {
            loadScript("js/plugin/datatables/ZeroClipboard.js", dt_6);
        }

        function dt_6()
        {
            loadScript("js/plugin/datatables/media/js/TableTools.min.js", dt_7);
        }

        function dt_7()
        {
            loadScript("js/plugin/datatables/DT_bootstrap.js", dt_8);
        }

        function dt_8()
        {
            loadScript("js/cctech/datagrid_1level.js", function()
            {
                /* define namespace starts */
                var AD = {};
                AD.buttons = [
                {
                    "sExtends": "text",
                    "sButtonText": "<i class='fa fa-refresh'></i>&nbsp; " + i18n.translate("ns:System.Refresh"),
                    "sButtonClass": "edit-group-device-list-btn txt-color-white bg-color-greenLight",
                    "fnClick": function(nButton, oConfig, oFlash)
                    {
                        AD.app.gv.refresh();
                    }
                }];
                //AD.api = 'cctech';
                AD.collections = {};
                var url = $.config.server_rest_url + '/userLogs';
                var idAttribute = AD.idAttribute = "id";
                AD.title = "ns:Menu.UserLog";
                AD.page = "ajax/userlog_list.html";
                AD.isAdd = false;
                AD.sort = {
                    "column": "id",
                    "sortDir": "desc"
                };
                AD.validate = function()
                {
                    return true;
                };
                AD.forms = [
                ];
                AD.columns = [
                    //columns2
                    {
                        title: 'ns:Log.UserLog.Name',
                        property: 'userName',
                        filterable: true,
                        sortable: false,
                        width: '150px'
                    },
                    //columns3
                    /*
					{
			            title: 'Action',
			            property: 'action',
			            //cellClassName: 'guiFunction',
			            filterable: true,
			            sortable: true,
			            callback: function(o) {
			            	return $.config.GuiFunction[o[this.property]];
			            }
			        },
					*/
                    //columns4
                    {
                        title: 'Description', //'ns:Log.UserLog.Remark',
                        property: 'remark',
                        //cellClassName: 'remark',
                        filterable: true,
                        sortable: false
                    },
                    //columns5
                    {
                        title: 'ns:Log.UserLog.Time',
                        property: 'creationTime',
                        //cellClassName: 'creationTime',
                        filterable: true,
                        sortable: true,
                        width: '180px'
                    }
                ];
                /* define namespace ends */
                /* model starts */
                AD.Model = Backbone.Model.extend(
                {
                    urlRoot: url,
                    idAttribute: idAttribute
                });
                /* model ends */
                /* collection starts */
                AD.Collection = Backbone.Collection.extend(
                {
                    url: url,
                    model: AD.Model
                });
                /* collection ends */
                var routes = {};
                routes[AD.page + '/grid'] = 'show_grid';
                // routes[AD.page+'/edit/:_id'] = 'show_edit';
                // routes[AD.page+'/add'] = 'show_add';
                // routes[AD.page+'/delete/:_id'] = 'delete_single';
                routes[AD.page] = 'render';
                var MyRouter = Backbone.DG1.extend(
                {
                    routes: routes
                });
                /* define bootstrap starts */
                AD.bootstrap = function()
                {
                    // Multi-Language
                    i18n.init(function(t)
                    {
                        $('[data-i18n]').i18n();
                    });
                    if (!$.login.user.checkRole('UserLogViewer'))
                    {
                        window.location.href = "#ajax/dashboard.html/grid";
                    }
                    $("body").removeClass("loading");
                    // alert('bootstrap');
                    if (!_.isUndefined($[AD.page].app))
                    {
                        $[AD.page].app.navigate("#" + AD.page + "/grid",
                        {
                            trigger: true
                        });
                    }
                    AD.app = new MyRouter(
                    {
                        "AD": AD
                    });
                    if (!Backbone.History.started)
                    {
                        Backbone.emulateHTTP = true;
                        Backbone.history.start();
                    }
                    Backbone.Events.off("UserLogUpdate");
                    Backbone.Events.on("UserLogUpdate", function(data)
                    {
                        console.log("[MQTT] Refresh user log list");
                        $(".cctech-gv table").dataTable().fnDraw(false);                        
                    });                    
                };
                /* define bootstrap ends */
                $[AD.page] = AD;
                $[AD.page].bootstrap();
            });
        }
    };
    loadDataTableScripts();
    
    var fnRefreshDataForUserLog = function() 
    {
        if ($('#divUserLogMain').length > 0) 
        {
            console.log("[Data Refresh] User Log data refreshed.");
            $(".cctech-gv table").dataTable().fnDraw(false);
        }   
    }

    if (oRefreshData.oUserLog.bIsEnable === true && oRefreshData.oUserLog.oTimerId === null) 
    {
        oRefreshData.oUserLog.oTimerId = window.setInterval(fnRefreshDataForUserLog, oRefreshData.oUserLog.iInterval);
    }
})(jQuery);
// })(jQuery);
</script>
