<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-sm-6 col-md-6 col-lg-6">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-user"></i> 
                    </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <span id="formTitle">
                        <font size="3" data-i18n="ns:User.UserProfile">User Profile</font>
                        </span>
                    </sub></sub>
                    </sub>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">


                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="alert alert-info fade in">
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong>
                                                <tt data-i18n="ns:Message.FillFollowingForm">Please fill in the following form.</tt>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="result">
                                                        <p style="display: none;">
                                                            This demo works only in browsers with support for the
                                                            <a href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or
                                                            <a href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:User.Username">Username</sup></b>
                                                        </h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i>
                                                            </span>
                                                            <!--<span class="form-control input-lg" placeholder="" type="text" name="username" id="username">-->
                                                            <span class="form-control input-lg" placeholder="" type="text" name="username" id="username"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:User.Add.Permission class">Permission class</sup></b>
                                                        </h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-star fa-lg fa-fw" id="permissionColor"></i>
                                                            </span>
                                                            <span class="form-control input-lg" placeholder="" type="text" name="permissionclass" id="permissionclass"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:Menu.Domain">Domain</sup></b>
                                                        </h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-sitemap fa-lg fa-fw"></i>
                                                            </span>
                                                            <span class="form-control input-lg" placeholder="" type="text" name="domainname" id="domainname"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:User.Email">E-mail</sup></b>
                                                        </h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i>
                                                            </span>
                                                            <span class="form-control input-lg" placeholder="Email address(Ex: email@address.com)" type="email" name="email" id="email"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:User.Description">Description</sup></b>
                                                        </h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i>
                                                            </span>
                                                            <input class="form-control input-lg" placeholder="" type="text" name="description" id="description">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:User.Portrait">Portrait</sup></b>
                                                        </h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-picture-o fa-lg fa-fw"></i>
                                                            </span>
                                                            <!--<input class="form-control input-lg" placeholder="DeviceType Appearance" type="file" name="appearanceFile" onchange="" id="appearanceInput">-->
															<div id="customFileInput" class="form-control" style="
																/* IMPORTANT STUFF */    overflow: hidden;    position: relative;    cursor:   pointer;         /* SOME CUSTOM STYLING */        padding: 10px;     
																 text-align: left;    
																 height: 46px;
																 //border: 1px solid #CCCCCC;
																 font-size: 18px;
															">
																<input class="form-control input-lg" placeholder="DeviceType Appearance" type="file" name="appearanceFile" onchange="" id="appearanceInput" accept="image/*" style="
																	height: 46px;    cursor: pointer;    position: absolute;    top: 0px;    right: 0px;    font-size: 100px;    z-index: 2;      opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */    filter: alpha(opacity=0); /* IE lt 8 */    -ms-filter: &quot;alpha(opacity=0)&quot;; /* IE 8 */    -khtml-opacity: 0.0; /* Safari 1.x */    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */;
																">
																<span data-i18n="ns:User.Message.ChoosePortrait">Please choose portrait for this user</span>
															</div>
                                                            <input type="hidden" name="appearance" id="appearance">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>



                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">
                                                        <li id="btn_save" class="next">
                                                            <a href="javascript:void(0);" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> Save </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

        <!-- NEW WIDGET START -->
        <article class="col-sm-6 col-md-6 col-lg-6">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-sortable jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-list"></i>
                    </span>
                    <h2 data-i18n="ns:User.Permission">Permission</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body" id="permission">

                        <div class="tree smart-form" id="permissionTree">
                            <ul>
                                <li>
                                    <span>
                                        <input type="checkbox" name="AllPermission"><font data-i18n="ns:User.AllPermission">All permission</font></span>
                                    <ul>
                                        <li>
                                            <span>
                                                <input type="checkbox" name="DashboardViewer">
                                                <i></i><font data-i18n="ns:Menu.Dashboard">Dashboard</font>
                                            </span>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name=""><font data-i18n="ns:Menu.Device">Device Management</font></span>
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceTypeViewer"><font data-i18n="ns:Menu.Types">Type</font></span>
                                                    <!--<ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceTypeOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>-->
                                                </li>        
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceViewer"><font data-i18n="ns:Menu.Devices">Device</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceGroupViewer"><font data-i18n="ns:Menu.Groups">Group</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceGroupOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!--<li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceEventDefinitionViewer"><font data-i18n="ns:Menu.EventSetting">Event Setting</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceEventDefinitionOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li> 
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="MonitorViewer"><font data-i18n="ns:Menu.MonitorSetting">Monitor Setting</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="MonitorOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>  -->                                                  
                                            </ul>
                                        </li>
                                        <!--                                                                 <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="TaskViewer">Task</span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <label class="checkbox inline-block">
                                                            <input type="checkbox" name="TaskOperator">
                                                            <i></i>Allow modified</label>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="File"><font data-i18n="ns:Menu.File">File</font></span>
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="AppFileViewer"><font data-i18n="ns:Menu.App">App</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="AppFileOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span><!--<i class="fa fa-lg fa-minus-circle">--></i>
                                                        <input type="checkbox" name="FirmwareFileViewer"><font data-i18n="ns:Menu.Firmware">Firmware</font></span>
                                                    <!--<ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="FirmwareFileOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>-->
                                                </li>
                                                <li>
                                                    <span><!--<i class="fa fa-lg fa-minus-circle">--></i>
                                                        <input type="checkbox" name="OmaAgentFileViewer"><font data-i18n="ns:Menu.Agent">Agent</font></span>
                                                    <!--<ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="OmaAgentFileOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>-->
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="UserViewer"><font data-i18n="ns:Menu.User">User</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="UserOperator">
                                                        <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <!--<li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="DomainViewer"><font data-i18n="ns:Menu.Domain">Domain</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="DomainOperator">
                                                        <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>-->
                                        <!--<li style="display:none">
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="SettingViewer"><font data-i18n="ns:Menu.Setting">Setting</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="SettingOperator">
                                                        <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>-->
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="Log"><font data-i18n="ns:Menu.Log">Log</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="UserLogViewer">
                                                        <i></i><font data-i18n="ns:Menu.UserLog">User Log</font>
                                                    </span>
                                                </li>
                                                <!--<li>
                                                    <span>
                                                        <input type="checkbox" name="SystemLogViewer">
                                                        <i></i><font data-i18n="ns:Menu.SystemLog">System Log</font>
                                                    </span>
                                                </li>-->
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="TaskViewer">
                                                        <i></i><font data-i18n="ns:Menu.TaskLog">Task</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <!--<li>
                                            <span>
                                                <input type="checkbox" name="ReportViewer">
                                                <i></i><font data-i18n="ns:Menu.Report">Report</font>
                                            </span>
                                        </li>-->
                                    </ul>
                                </li>
                            </ul>

                        </div>


                    </div>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->



        </article>
        <!-- WIDGET END -->


    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
    $("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/plugin/fuelux/wizard/wizard.js",
        "js/user_profile.js",
        "js/load-image.min.js",
        "js/canvas-to-blob.min.js"
    ];

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            $["ajax/user_profile.html"].bootstrap();
        }
    };

    loadDataScripts();

})(jQuery);
</script>
