<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
            <i class="fa fa-group fa-fw "></i>
            <font size="5" data-i18n="ns:Menu.User">
                <a href="#ajax/user_list.html/grid">
                    User
                    </a>
            </font>
            >
            <font id="userName"></font>
            <font style="color:white" data-i18n="ns:User.Add.Add">Add</font>
        </h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div>
                            <form action="" id="wizard-1" class="smart-form">
                                <div class="alert alert-info fade in">
                                    <i class="fa-fw fa fa-info"></i>
                                    <strong data-i18n="ns:Message.Info">Info!</strong> 
                                    <tt>Please fill out the following form.</tt>
                                </div>
                                 <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Username</label>
                                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                                <input type="text" name="username">
                                                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">E-mail</label>
                                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                                <input type="email" name="email" placeholder="Email address" id="email">
                                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Password</label>
                                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="password" placeholder="Password" id="password">
                                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Confirm password</label>
                                            <label class="input"> <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="repeatPassword" placeholder="Confirm password" id="repeatPassword">
                                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Permission</label>
                                            <label class="select">
                                                <select id="domainPermission" name="domainPermission">
                                                    <option value="" data-i18n="ns:User.SelectPermissionClass">Select permission class</option>
                                                </select>
                                                <input type="hidden" name="type" id="type" value="1"> <i></i> 
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Domain</label>
                                            <label class="select">
                                                <select id="domainName" name="domainName">
                                                    <option value="" data-i18n="ns:User.SelectDomain">Select domain</option>
                                                </select>
                                                <input type="hidden" name="type" id="type" value="1"> <i></i> 
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Mobile phone</label>
                                            <label class="input"> <i class="icon-append fa fa-mobile"></i>
                                                <input type="tel" name="mobilePhone" placeholder="Ex: +886-9xx-xxxxxx" id="mobilePhone" data-mask="+999-999-999999">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Upload portrait</label>
                                            <label for="file" class="input input-file">
                                                <div class="button">
                                                    <input type="file" name="file" onchange="this.parentNode.nextSibling.value = this.value" id="appearanceInput">Browse
                                                </div><input type="text" readonly="">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label class="label">Description</label>
                                            <label class="input"> <i class="icon-append fa fa-comment"></i>
                                                <input type="text" name="description" id="description">
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label class="label">Portrait Preview</label>
                                            <div id="result">
                                                <img src="" style="max-height: 50px;">
                                            </div>
                                        </section>
                                    </div>
                                    <!--
                                    <section>
                                        <label class="checkbox">
                                            <input type="checkbox" name="subscription" id="subscription">
                                            <i></i>I want to receive news and special offers</label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="terms" id="terms">
                                            <i></i>I agree with the Terms and Conditions</label>
                                    </section>
                                    -->
                                </fieldset>
                                <footer>
                                    <button class="btn btn-primary" id="btn_save">
                                        Save
                                    </button>
                                </footer>
                            </form>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->


    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->


<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/plugin/fuelux/wizard/wizard.js",
        "js/load-image.min.js",
        "js/canvas-to-blob.min.js",
        "js/user_modify.js"
    ];

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            $["ajax/user_modify.html"].bootstrap();
        }
    };

    loadDataScripts();

})(jQuery);
</script>
