<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <a href="#ajax/user_list.html/grid">
                <i class="fa fa-fw fa-group"></i>
                    <font size="5" data-i18n="ns:Menu.User">
                    User                                                                  
                    </font>
                    >                                    
            </a>
            <span>
                <font size="4" data-i18n="ns:User.Edit.Edit">Edit</font>
            </span>
        </h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

			-->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> 
                    </span>
                    <h2 data-i18n="ns:User.Edit.EditUser">Edit User</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">

                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">
                                    <div class="form-bootstrapWizard">
                                        <ul class="bootstrapWizard form-wizard">
                                            <li class="active" data-target="#step1">
                                                <a href="#tab1" data-toggle="tab">
                                                    <span class="step" data-i18n="ns:Message.StepOneNum">1</span>
                                                    <span class="title" data-i18n="ns:User.UserInformation">User information</span>
                                                </a>
                                            </li>
                                            <li data-target="#step2">
                                                <a href="#tab2" data-toggle="tab">
                                                    <span class="step" data-i18n="ns:Message.StepTwoNum">2</span>
                                                    <span class="title" data-i18n="ns:Message.PermissionSetting">Permission setting</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <br>
                                            <h3>
                                                <strong data-i18n="ns:Message.StepOne">Step 1</strong>
                                                <tt data-i18n="ns:User.DashUserInformation">- User Information </tt>
                                                </h3>
                                            <div class="alert alert-info fade in">
                                                <button class="close" data-dismiss="alert">
                                                    ×
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong>
                                                <tt data-i18n="ns:Message.FillFollowingForm">Please fill in the following form.</tt>
                                            </div>
                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i>
                                                            </span>
                                                            <input class="form-control input-lg" placeholder="User name(Ex: Alvin, Holisun..etc)" type="text" disabled=true name="username" id="username">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i>
                                                            </span>
                                                            <input class="form-control input-lg" placeholder="Description(Ex: Without any edit permission.)" type="text" name="description" id="description">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i>
                                                            </span>
                                                            <input class="form-control input-lg" placeholder="Password(Don't use your birthday or phone number.)" type="password" name="password" id="password">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i>
                                                            </span>
                                                            <input class="form-control input-lg" placeholder="Repeat your password" type="password" name="repeatpassword" id="repeatpassword">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-envelope fa-lg fa-fw"></i>
                                                            </span>
                                                            <input class="form-control input-lg" placeholder="Email address(Ex: email@address.com)" type="text" name="email" id="email">

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-code fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" placeholder="DeviceType Appearance" type="file" name="appearanceFile" onchange="" id="appearanceInput">
                                                            <input type="hidden" name="appearance" id="appearance">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div id="result">
                                                        <p style="display: none;">
                                                            This demo works only in browsers with support for the 
                                                            <a href="https://developer.mozilla.org/en/DOM/window.URL">URL</a> or 
                                                            <a href="https://developer.mozilla.org/en/DOM/FileReader">FileReader</a> API.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>   
                                        </div>

                                        <div class="tab-pane" id="tab2">
                                            <br>
                                            <h3>
                                                <strong data-i18n="ns:Message.StepTwo">Step 2</strong>
                                                <tt data-i18n="ns:Message.DashPermissionSetting"> - Permission setting </tt>
                                            </h3>
                                            <div class="alert alert-info fade in">
                                                <button class="close" data-dismiss="alert">
                                                    ×
                                                </button>
                                                <i class="fa-fw fa fa-info"></i>
                                                <strong data-i18n="ns:Message.Info">Info!</strong>
                                                <tt data-i18n="ns:Message.CheckRelativePermission"> Please check the relative permissions which this user should have.</tt>
                                            </div>
                                            <!-- widget content -->
                                            <div class="widget-body">
                                                <div class="container">
                                                    <button type="button" class="btn btn-default" id="noneButton" data-i18n="ns:User.None">
                                                        None
                                                    </button>
                                                    <button type="button" class="btn btn-primary" id="deviceManagerButton" data-i18n="ns:User.DeviceManager">
                                                        Device Manager
                                                    </button>
                                                    <button type="button" class="btn btn-success" id="applicationManagerButton" data-i18n="ns:User.ApplicationManager">
                                                        Application Manager
                                                    </button>
                                                    <button type="button" class="btn btn-info" id="accountManagerButton" data-i18n="ns:User.AccountManager">
                                                        Account Manager
                                                    </button>
                                                    <button type="button" class="btn btn-danger" id="administratorButton" data-i18n="ns:User.Administrator">
                                                        Administrator
                                                    </button>

                                                </div>
                                                <div class="tree smart-form">
                                                    <ul>
                                                        <li>
                                                            <span data-i18n="ns:User.AllPermission"><i class="fa fa-lg fa-minus-circle"></i>
                                                                <input type="checkbox" name="SuperUserRole">All permission</span>
                                                            <ul>
                                                                <li>
                                                                    <span>
                                                                        <label class="checkbox inline-block" data-i18n="ns:Menu.Dashboard">
                                                                            <input type="checkbox" name="Dashboard Viewer">
                                                                            <i></i>Dashboard</label>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Menu.Devices"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="Devices">Devices</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span data-i18n="ns:Menu.Devices"><i class="fa fa-lg fa-minus-circle"></i>
                                                                                <input type="checkbox" name="Device Viewer">Device</span>
                                                                            <ul>
                                                                                <li>
                                                                                    <span>
                                                                                        <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                            <input type="checkbox" name="Device Operator">
                                                                                            <i></i>Allow modified</label>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <span data-i18n="ns:Menu.Group"><i class="fa fa-lg fa-minus-circle"></i>
                                                                                <input type="checkbox" name="Group Viewer">Group</span>
                                                                            <ul>
                                                                                <li>
                                                                                    <span>
                                                                                        <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                            <input type="checkbox" name="Group Operator">
                                                                                            <i></i>Allow modified</label>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Message.Event"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="Event Viewer">Event</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                    <input type="checkbox" name="Event Operator">
                                                                                    <i></i>Allow modified</label>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:User.Task"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="Task Viewer">Task</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                    <input type="checkbox" name="Task Operator">
                                                                                    <i></i>Allow modified</label>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Menu.File"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="File">File</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span data-i18n="ns:Menu.App"><i class="fa fa-lg fa-minus-circle"></i>
                                                                                <input type="checkbox" name="App Viewer">App</span>
                                                                            <ul>
                                                                                <li>
                                                                                    <span>
                                                                                        <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                            <input type="checkbox" name="App Operator">
                                                                                            <i></i>Allow modified</label>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                        <li>
                                                                            <span data-i18n="ns:Menu.Firmware"><i class="fa fa-lg fa-minus-circle"></i>
                                                                                <input type="checkbox" name="Firmware Viewer">Firmware</span>
                                                                            <ul>
                                                                                <li>
                                                                                    <span>
                                                                                        <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                            <input type="checkbox" name="Firmware Operator">
                                                                                            <i></i>Allow modified</label>
                                                                                    </span>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Menu.User"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="User Viewer">User</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                    <input type="checkbox" name="User Operator">
                                                                                    <i></i>Allow modified</label>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Menu.Domain"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="Domain Viewer">Domain</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                    <input type="checkbox" name="Domain Operator">
                                                                                    <i></i>Allow modified</label>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Menu.Setting"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="Setting Viewer">Setting</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:User.AllowModify">
                                                                                    <input type="checkbox" name="Setting Operator">
                                                                                    <i></i>Allow modified</label>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span data-i18n="ns:Menu.Log"><i class="fa fa-lg fa-minus-circle"></i>
                                                                        <input type="checkbox" name="Log">Log</span>
                                                                    <ul>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:Menu.UserLog">
                                                                                    <input type="checkbox" name="UserLog Viewer">
                                                                                    <i></i>User Log</label>
                                                                            </span>
                                                                        </li>
                                                                        <li>
                                                                            <span>
                                                                                <label class="checkbox inline-block" data-i18n="ns:Menu.SystemLog">
                                                                                    <input type="checkbox" name="SystemLog Viewer">
                                                                                    <i></i>System Log</label>
                                                                            </span>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <span>
                                                                        <label class="checkbox inline-block" data-i18n="ns:Menu.Report">
                                                                            <input type="checkbox" name="Report Viewer">
                                                                            <i></i>Report</label>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>
                                            <!-- end widget content -->
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">
                                                        <!--<li class="previous first disabled">
														<a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
													</li>-->
                                                        <li class="previous disabled"  data-i18n="ns:Message.Back">
                                                            <a href="javascript:void(0);" class="btn btn-lg btn-default" > Previous </a>
                                                        </li>
                                                        <!--<li class="next last">
														<a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
													</li>-->
                                                        <li class="next" data-i18n="ns:Message.Next">
                                                            <a href="javascript:void(0);" class="btn btn-lg txt-color-darken"> Next </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->


    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->


<script type="text/javascript">
$("body").addClass("loading");
// DO NOT REMOVE : GLOBAL FUNCTIONS!
pageSetUp();

// PAGE RELATED SCRIPTS

$('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
// Handle collapse & expand

$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').find(' > i').on('click', function(e) {
    var children = $(this).parent().parent('li.parent_li').find(' > ul > li');
    if (children.is(':visible')) {
        console.log('Expand Children');
        children.hide('fast');
        $(this).attr('title', 'Expand this branch').removeClass().addClass('fa fa-lg fa-plus-circle');
    } else {
        console.log('Collapse Children');
        children.show('fast');
        $(this).attr('title', 'Collapse this branch').removeClass().addClass('fa fa-lg fa-minus-circle');
    }
    e.stopPropagation();
});

/* NOT FINISHED YET. To click children will check or not check its' parent */
// $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function(e) {
// 	console.log(parent);
// 	parent.prop('checked',true);
// 	e.stopPropagation();
// });

$('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').find(' > input').on('click', function(e) {
    console.log('Click input');
    if ($(this).is(':checked')) {
        console.log('Checked');
        // recursiveParentCheck($(this));
        recursiveCheck($(this), true);
    } else {
        console.log('Canceled');
        recursiveCheck($(this), false);
    }
    e.stopPropagation();
});

// Always check to its' parent and grandparent..etc.
function recursiveParentCheck(node) {
    // console.log('node is ');
    // console.log(node);
    var parent = node.parent().parent('li.parent_li').parent().parent().find(' > span > input');
    var grandparent = parent.parent().parent('li.parent_li').parent().parent().find(' > span > input');
    // console.log('parent is ');
    // console.log(parent);
    // console.log('grandparent is ');
    // console.log(grandparent);
    if (grandparent.length == 0) return;
    parent.prop('checked', true);
    recursiveParentCheck(parent);
}


function recursiveCheck(node, isChecked) {
    var leafs = node.parent().parent('li.parent_li').find(' > ul > li > span > label > input');
    leafs.prop('checked', isChecked);
    var nonleafs = node.parent().parent('li.parent_li').find(' > ul > li > span > input');
    nonleafs.prop('checked', isChecked);
    if (nonleafs.length > 0)
        recursiveCheck(nonleafs, isChecked);
}
</script>


<script type="text/javascript">
// DO NOT REMOVE : GLOBAL FUNCTIONS!
pageSetUp();

// PAGE RELATED SCRIPTS

/*
 * Load bootstrap wizard dependency
 */
loadScript("js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js", runBootstrapWizard);

//Bootstrap Wizard Validations

function runBootstrapWizard() {

    var $validator = $("#wizard-1").validate({

        rules: {
            username: {
                required: true
            },
            email: {
                required: true,
                email: "Your email address must be in the format of name@domain.com"
            },
            password: {
                required: true
            },
            repeatpassword: {
                required: true,
                equalTo: password

            },
            description: {
                required: true
            }
        },

        messages: {
            // rolename: "User name MUST be filled",
            // description: "Please specify something to remind you",
            // email: "Please use the available email address"
        },

        highlight: function(element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
            if (element.parent('.input-group').length) {
                error.insertAfter(element.parent());
            } else {
                error.insertAfter(element);
            }
        }
    });

    $('#bootstrap-wizard-1').bootstrapWizard({
        'tabClass': 'form-wizard',
        'onPrevious': function(tab, navigation, index) {
            var wizard = $('#bootstrap-wizard-1');
            $("#wizard-1 .next a").text("Next");
        },
        'onNext': function(tab, navigation, index) {
            var wizard = $('#bootstrap-wizard-1');
            if (wizard.bootstrapWizard('currentIndex') === wizard.bootstrapWizard('navigationLength') - 1) {
                $("#wizard-1 .next a").text("Save");
            } else {
                $("#wizard-1 .next a").text("Next");
            }
            // console.log($('#bootstrap-wizard-1').tab1.rolename);
            // Last page
            if (wizard.bootstrapWizard('currentIndex') == wizard.bootstrapWizard('navigationLength')) {
                // console.log('Dashboard is :'+$('input[name="dashboard"]').is(':checked'));
                // console.log('permission is');
                // console.log($('input[name="All Permission"]').is(':checked'));
                var url = $.config.server_rest_url + '/roles';
                url += "?pageNumber=1&pageSize=100";
                $.ajax({
                    type: "GET",
                    async: false,
                    url: url,
                    success: function(data) {
                        console.log('Get Success');
                        // console.log('data is');
                        // console.log(data);
                        var roleNameList = [];
                        $.each(data, function(index, value) {
                            if (value.name)
                                roleNameList.push(value.name);
                        });
                        // Collect user's selection
                        var selectedRoleList = $('input:checked');
                        // console.log(selectedRoleList);
                        var comparedRoleNameSet = [];
                        $.each(selectedRoleList, function(index, value) {
                            if ($.inArray(value.name, roleNameList) > -1)
                                comparedRoleNameSet.push(value.name);
                        });
                        // console.log(comparedRoleNameSet);

                        var comparedRoleIdSet = [];
                        $.each(comparedRoleNameSet, function(cindex, cvalue) {
                            $.each(data, function(dindex, dvalue) {
                                if (dvalue.name == cvalue) {
                                    comparedRoleIdSet.push(dvalue.id);
                                }
                            })
                        });
                        // console.log('roleidset is');
                        // console.log(comparedRoleIdSet);

                        var hash = window.location.hash;

                        var id = hash.replace(/^#ajax\/user_edit.html\/(\w+)$/, "$1");
                        // alert(id);

                        url = $.config.server_rest_url + '/users/' + id;
                        var data = {
                            // name: $('input[name="username"]').val(),
                            email: $('input[name="email"]').val(),
                            password: $('input[name="password"]').val(),
                            remark: $('input[name="description"]').val(),
                            roleIdSet: comparedRoleIdSet
                        };

                        $.ajax({
                            type: "POST",
                            async: false,
                            url: url,
                            contentType: 'application/json; charset=utf-8',
                            headers: {
                                "X-HTTP-Method-Override": "PUT"
                            },
                            data: JSON.stringify(data),
                            success: function(data) {
                                console.log('Add Success');
                                window.location.href = '#ajax/user_list.html';
                                // console.log(data);
                            },
                            error: function(data) {
                                console.log('Add Error');
                                // alert('Create Failed!!');
                                // console.log(data);	
                            },
                            // type:"json",
                            dataType: "json"
                        });
                    },
                    error: function(data) {
                        console.log('Get Error');
                        // alert('Get Role List Failed!!');
                        return;
                        // console.log(data);	
                    },
                    // type:"json",
                    // dataType: "json"
                });




            }
            console.log('Tab number:' + index);
            var $valid = $("#wizard-1").valid();
            if (!$valid) {
                console.log('Not valid');
                $validator.focusInvalid();
                return false;
            } else {
                console.log('Valid');
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                    'complete');
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                    .html('<i class="fa fa-check"></i>');
            }
        }
    });

}

/*
 * Load fuelux wizard dependency
 */
loadScript("js/plugin/fuelux/wizard/wizard.js");

var per_load = [
    // "js/libs/jquery-2.0.2.min.js",
    "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
    "js/bootstrap-multiselect/bootstrap-multiselect.js",
    "js/user_edit.js"
    // "js/domain_add.js"
];

(function($) {

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            console.log('Ready to bootstrap');
            $["ajax/user_edit.html"].bootstrap();
        }

    };

    loadDataScripts();

})(jQuery);
</script>
