<!-- HTML START -->

<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <div class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken col-sm-6 col-md-6 col-lg-6" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <header>
                    <span class="widget-icon" style="margin-right:0px;"><i class="fa fa-key"></i></span>
                    <font size="3" data-i18n="ns:User.ChangePassword">Change your password</font>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body ">
                        <div class="row ">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">
                                    <ul class="bootstrapWizard form-wizard">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="alert alert-warning fade in">
                                                <i class="fa-fw fa fa-warning"></i>
                                                <strong data-i18n="ns:Message.Warning">Warning </strong>
                                                <tt data-i18n="ns:Message.CannotReusePassword"> You can't reuse your old password once you change it.</tt>
                                            </div>
                                        </div>
                                    </ul>


                                    <!-- APP INFO START-->
                                    <div class="tab-pane">


                                        <h4 class="text-left" >
                                            <tt data-i18n="ns:User.EnterNewPassword">Enter a new password.</tt>
                                            <tt data-i18n="ns:User.ParenthesesUserName">(User name : </tt><span style="font-weight:bold;" id='username'></span><tt>)</tt>. 
                                            <tt data-i18n="ns:User.RecommendCreateUniquePassword"> We highly recommend you create a unique password - one that you don't use for any other websites.</tt>
                                        </h4>
                                        <br>




                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- widget div END-->
            </div>



            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                <div class="well no-padding">
                    <form id="change-password-form" class="smart-form client-form">
                        <header>
                            
                        </header>

                        <fieldset>

<!--                             <section>
                                <label class="label">Username</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input name="email">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter username</b>
                                </label>
                            </section>

                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> 
                                </label>
                            </section> -->
                            <section>
                                <label class="label" data-i18n="ns:User.CurrentPassword">Current password</label>
                                <label class="input"> 
                                    <input type="password" name="currentpassword" id="currentpassword">
                                </label>
                            </section>                            

                            <section>
                                <label class="label" data-i18n="ns:User.NewPassword">New password</label>
                                <label class="input"> 
                                    <input type="password" name="newpassword" id="newpassword">
                                </label>
                            </section> 

                            <section>
                                <label class="label" data-i18n="ns:User.ConfirmNewPassword">Confirm new password</label>
                                <label class="input"> 
                                    <input type="password" name="confirmnewpassword" id="confirmnewpassword">
                                </label>
                            </section>                         

                        </fieldset>
                        <footer>
                            <button id="save" class="btn btn-primary" data-i18n="ns:User.ChangePasswordConfirm">
                                Change password
                            </button>
                        </footer>
                    </form>

                </div>

            </div>



        </div>
        <!-- WIDGET END -->

        <!-- end row -->
    </div>
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
	$("body").addClass("loading");
    pageSetUp();

    // Load JS
    var per_load = [
        // "js/libs/jquery-2.0.2.min.js",
        // "js/bootstrap-multiselect/bootstrap-3.1.1.min.js",
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/load-image.min.js",
        "js/canvas-to-blob.min.js",
        "js/user_password_modify.js"

        // "js/app_upload_windows.js"
    ];

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            $["ajax/user_password_modify.html"].bootstrap();
        }
    };

    loadDataScripts();

})(jQuery);
</script>
