<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">
            <i class="fa fa-fw fa-group"></i>
            <font>
                <a href="#ajax/user_list.html/grid">
                    <font data-i18n="ns:Menu.User">User</font>
                </a>
            </font>
            >
            <a id="userName">
                <font></font>
            </a>
            >
            <font style="color:white" data-i18n="ns:User.Permission">Permission</font>
        </h1>
    </div>
</div>
<!-- Using user_modify.html's permission tree  -->
<script type="text/javascript">
// $( "#permission" ).load( "ajax/user_modify.html #permissionTree" );
</script>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-sortable jarviswidget-color-darken" id="wid-id-1" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-list"></i>
                    </span>
                    <h2 data-i18n="ns:User.Permission">Permission</h2>
                </header>
                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body" id="permission">
                        <div class="tree smart-form" id="permissionTree">
                            <ul>
                                <li>
                                    <span>
                                        <input type="checkbox" name="AllPermission"><font data-i18n="ns:User.AllPermission">All permission</font></span>
                                    <ul>
                                        <li>
                                            <span>
                                                <input type="checkbox" name="DashboardViewer">
                                                <i></i><font data-i18n="ns:Menu.Dashboard">Dashboard</font>
                                            </span>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name=""><font data-i18n="ns:Menu.Device">Device Management</font></span>
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceTypeViewer"><font data-i18n="ns:Menu.Types">Type</font></span>
                                                    <!--<ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceTypeOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>-->
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceViewer"><font data-i18n="ns:Menu.Devices">Device</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceGroupViewer"><font data-i18n="ns:Menu.Groups">Group</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceGroupOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <!--<li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="DeviceEventDefinitionViewer"><font data-i18n="ns:Menu.EventSetting">Event Setting</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="DeviceEventDefinitionOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li> 
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="MonitorViewer"><font data-i18n="ns:Menu.MonitorSetting">Monitor Setting</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="MonitorOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li> -->
                                            </ul>
                                        </li>
                                        <li>
                                            <span>
                                                <input type="checkbox" name="SoftwarePolicy"><font data-i18n="ns:Menu.SoftwarePolicy">Software Policy</font></span>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="File"><font data-i18n="ns:Menu.File">File</font></span>
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="AppFileViewer"><font data-i18n="ns:Menu.App">App</font></span>
                                                    <ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="AppFileOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-lg fa-minus-circle"></i>
                                                        <input type="checkbox" name="FirmwareFileViewer"><font data-i18n="ns:Menu.Firmware">Firmware</font></span>
                                                    <!--<ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="FirmwareFileOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>-->
                                                </li>
                                                <li>
                                                    <span><!--<i class="fa fa-lg fa-minus-circle">--></i>
                                                        <input type="checkbox" name="OmaAgentFileViewer"><font data-i18n="ns:Menu.Agent">Agent</font></span>
                                                    <!--<ul>
                                                        <li>
                                                            <span>
                                                                <input type="checkbox" name="OmaAgentFileOperator">
                                                                <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                            </span>
                                                        </li>
                                                    </ul>-->
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="UserViewer"><font data-i18n="ns:Menu.User">User</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="UserOperator">
                                                        <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <!--<li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="DomainViewer"><font data-i18n="ns:Menu.Domain">Domain</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="DomainOperator">
                                                        <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>-->
                                        <!--<li style="display:none">
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="SettingViewer"><font data-i18n="ns:Menu.Setting">Setting</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="SettingOperator">
                                                        <i></i><font data-i18n="ns:User.AllowModify">Allow modified</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>-->
                                        <li>
                                            <span><i class="fa fa-lg fa-minus-circle"></i>
                                                <input type="checkbox" name="Log"><font data-i18n="ns:Menu.Log">Log</font></span>
                                            <ul>
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="UserLogViewer">
                                                        <i></i><font data-i18n="ns:Menu.UserLog">User Log</font>
                                                    </span>
                                                </li>
                                                <!--<li>
                                                    <span>
                                                        <input type="checkbox" name="SystemLogViewer">
                                                        <i></i><font data-i18n="ns:Menu.SystemLog">System Log</font>
                                                    </span>
                                                </li>-->
                                                <li>
                                                    <span>
                                                        <input type="checkbox" name="TaskViewer">
                                                        <i></i><font data-i18n="ns:Menu.TaskLog">Task</font>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <!--<li>
                                            <span>
                                                <input type="checkbox" name="ReportViewer">
                                                <i></i><font data-i18n="ns:Menu.Report">Report</font>
                                            </span>
                                        </li>-->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
    </div>
    <!-- end widget -->
    </article>
    <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->
<!-- Add permission tree from user_modify.html 
<script type="text/javascript">
$(function() {
    $("#permission").load("ajax/user_modify.html #permissionTree");
});
</script> -->
<script type="text/javascript">
$("body").addClass("loading");
// DO NOT REMOVE : GLOBAL FUNCTIONS!
pageSetUp();
</script>
<script type="text/javascript">
(function($) {
    var per_load = [
        "js/user_detail.js"
    ];

    var count = 0;

    function loadDataScripts() {
        count++;
        if (per_load.length >= count)
            loadScript(per_load[count - 1], loadDataScripts);
        else {
            $["ajax/user_detail.html"].bootstrap();
            if (Backbone && Backbone.History && !Backbone.History.started)
                Backbone.history.start({});
        }
    };

    loadDataScripts();
})(jQuery);
</script>
