<style type="text/css">
.radio i {
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 20px;
    height: 20px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #BDBDBD;
    background: #FFF;
}

.radio:hover i {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    border-color: #5D98CC;
}

.radio input+i:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3276B1;
    opacity: 0;
}

.radio input:checked+i {
    border-color: #3276B1;
}

.radio input:checked+i:after {
    opacity: 1;
}

.addConditionDiv {
    position: relative;
    padding-top: 14px;
}

.minusConditionDiv {
    position: relative;
    padding-top: 14px;
}

.conditionBtn {    
    border-radius: 20%;
}
</style>
<!-- HTML START -->
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
		<h1 class="page-title" style="color:#428bca;">							
			<i class="fa fa-tablet fa-fw "></i>
				<font size="5" data-i18n="ns:Menu.Device">
				Device Management                                                                 
				</font>
				>
			<a href="#ajax/alertSetting_list.html/grid">									
				<font data-i18n="ns:MonitorSetting.MonitorSetting">Monitor Setting</font>
			</a>
			>
			<font style="color:white" data-i18n="ns:MonitorSetting.Add">Add</font>
		</h1>
	</div>	
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3" data-i18n="ns:MonitorSetting.Add">Add</font>
                    </sub></sub></sub>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                  
                                    <ul class="bootstrapWizard form-wizard">
                                        <div class="tab-pane active" id="tab1">
                                            <h2 data-i18n="ns:MonitorSetting.MonitorSetting">Monitor Setting</h2>
                                                <div class="alert alert-info fade in">
                                                    <button class="close" data-dismiss="alert">
                                                    </button>
                                                    <i class="fa-fw fa fa-info"></i>
                                                    <strong data-i18n="ns:Message.Info">Info!</strong>
                                                    <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                                </div>
                                        </div>
                                    </ul>                                
                                    
                                    <div class="tab-content">
                                        <div class="row">
                                            <!-- Alert Name & Notification -->
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:MonitorSetting.MonitorName">Monitor Name</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-group fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" data-i18n = "[placeholder]ns:MonitorSetting.MonitorName" type="text" name="name" id="name">
                                                        </div>                                                  
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:MonitorSetting.Notification">Email Notification</sup></b></h4>
                                                        <div class="col-sm-6">
                                                            <label class="radio">
                                                                <input type="radio" name="radio-inline" value="Email" checked="">
                                                                <i></i><font data-i18n="ns:MonitorSetting.Email">Email</font></label>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label class="radio">
                                                                <input type="radio" name="radio-inline" value="None">
                                                                <i></i><font data-i18n="ns:MonitorSetting.None">None</font></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <!-- Condition -->
                                            <div id="condition">
                                                <fieldset id="condition-0" class="conditionField">
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <h4><b><sup data-i18n="ns:MonitorSetting.Monitor">Monitor</sup></b></h4>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                                <select id="node0" name="node0" class="form-control input-lg">
                                                                    <option value="" selected="selected" data-i18n="ns:MonitorSetting.SelectTarget.SelectMonitor">Monitor</option>
                                                                    <option value="AvailableStorageSize">Available Storage Size</option>
                                                                    <option value="BatteryLevel">Battery Level</option>
                                                                    <option value="BatteryTemperature">Battery Temperature</option>
                                                                    <option value="BluetoothEnabled">Bluetooth Enabled</option>
                                                                    <option value="BuiltinAvailableMemorySize">Builtin Available Memory Size</option>
                                                                    <option value="CPU_Load">CPU Load</option>
                                                                    <option value="DeviceLastConnectTime">Device Last Connect Time</option>
                                                                    <option value="DeviceStatus">Device Status</option>
                                                                    <option value="DeviceType">Device Type</option>
                                                                    <option value="ExtenstionAvailableMemorySize">Extenstion Available Memory Size</option>
                                                                    <option value="KeyboardEnabled">Keyboard Enabled</option>
                                                                    <option value="PrimaryCameraEnabled">Primary Camera Enabled</option>
                                                                    <option value="WLANEnabled">WLAN Enabled</option>
                                                                </select>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group">
                                                            <h4><b><sup data-i18n="ns:MonitorSetting.Operator">Operator</sup></b></h4>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                                <select id="operator0" name="operator0" class="form-control input-lg">
                                                                    <option value="" selected="selected" data-i18n="ns:MonitorSetting.Operator">Operator</option>
                                                                    <option value="4">></option>
                                                                    <option value="1">=</option>
                                                                    <option value="2"><</option>
                                                                </select>    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group">
                                                            <h4><b><sup data-i18n="ns:MonitorSetting.Value">Value</sup></b></h4>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                                <input class="form-control input-lg" data-i18n="[placeholder]ns:MonitorSetting.Value" type="text" name="value0" id="value0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="actionCondition-0" class="col-sm-1 addConditionDiv">
                                                        <h4><b><sup id="overbound">&nbsp;</sup></b></h4>
                                                        <a href="javascript:void(0)" class="btn btn-default btn-sm DTTT_button_text txt-color-white bg-color-blue conditionBtn" style="display: inline;"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </fieldset>
                                            </div>                                            
                                            <!-- Remark -->
                                            <fieldset>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:MonitorSetting.Remark">Remark</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" data-i18n="[placeholder]ns:MonitorSetting.Remark" type="text" name="remark" id="remark">
                                                        </div>
                                                    </div>
                                                </div>                                                
                                            </fieldset>
                                        </div>
                                        <!-- Group Name & Remark END-->
                                        
                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                            
                                                        <li id="btn_save" class="next">
                                                            <a href="#" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save 
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>                                    
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/template" id="conditionHtml">
    <fieldset id="condition-{{size}}" class="conditionField">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                    <select id="node{{size}}" name="node{{size}}" class="form-control input-lg">
                        <option value="" selected="selected" data-i18n="ns:MonitorSetting.SelectTarget.SelectMonitor">Monitor</option>
                        <option value="AvailableStorageSize">Available Storage Size</option>
                        <option value="BatteryLevel">Battery Level</option>
                        <option value="BatteryTemperature">Battery Temperature</option>
                        <option value="BluetoothEnabled">Bluetooth Enabled</option>
                        <option value="BuiltinAvailableMemorySize">Builtin Available Memory Size</option>
                        <option value="CPULoad">CPU Load</option>
                        <option value="DeviceLastConnectTime">Device Last Connect Time</option>
                        <option value="DeviceStatus">Device Status</option>
                        <option value="DeviceType">Device Type</option>
                        <option value="ExtenstionAvailableMemorySize">Extenstion Available Memory Size</option>
                        <option value="KeyboardEnabled">Keyboard Enabled</option>
                        <option value="PrimaryCameraEnabled">Primary Camera Enabled</option>
                        <option value="WLANEnabled">WLAN Enabled</option>
                    </select>    
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                    <select id="operator{{size}}" name="operator{{size}}" class="form-control input-lg">
                        <option value="" selected="selected" data-i18n="ns:MonitorSetting.Operator">Operator</option>
                        <option value="4">&gt;</option>
                        <option value="1">=</option>
                        <option value="2">&lt;</option>
                    </select>    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                    <input class="form-control input-lg" data-i18n="[placeholder]ns:MonitorSetting.Value" type="text" name="value{{size}}" id="value{{size}}" placeholder="Value">
                </div>
            </div>
        </div>
        <div id="actionCondition-{{size}}" class="col-sm-1 minusConditionDiv">
            <a href='javascript:void(0)' class='btn btn-default btn-sm DTTT_button_text txt-color-white bg-color-red conditionBtn' style='display: inline;'><i class='fa fa-minus'></i></a>
        </div>
    </fieldset>
</script>

<script type="text/javascript">
(function($) {
    pageSetUp();

    // Load JS
    var per_load = [
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/alertSetting_add.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else 
            $["ajax/alertSetting_add.html"].bootstrap();
    };

    loadDataScripts();

})(jQuery);     
</script>

