<style type="text/css">
.radio i {
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 20px;
    height: 20px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: #BDBDBD;
    background: #FFF;
}

.radio:hover i {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    border-color: #5D98CC;
}

.radio input+i:after {
    position: absolute;
    content: '';
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3276B1;
    opacity: 0;
}

.radio input:checked+i {
    border-color: #3276B1;
}

.radio input:checked+i:after {
    opacity: 1;
}
</style>
<!-- HTML START -->
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
        <h1 class="page-title" style="color:#428bca;">                          
            <i class="fa fa-tablet fa-fw "></i>
                <font size="5" data-i18n="ns:Menu.Device">
                Device Management                                                                 
                </font>
                >
            <a href="#ajax/eventSetting_list.html/grid">                                    
                <font data-i18n="ns:Menu.EventSetting">Event Setting</font>
            </a>
            >
            <font id="eventSettingName"></font>
            >
            <font style="color:white" data-i18n="ns:EventSetting.Edit">Edit</font>
        </h1>
    </div>  
</div>
<!-- widget grid -->
<section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"
                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <sub><sub><sub>
                        &nbsp;&nbsp;
                        <font size="3" data-i18n="ns:EventSetting.Edit">Edit</font>
                    </sub></sub></sub>
                </header>

                <!-- widget div-->
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="row">
                            <form id="wizard-1" novalidate="novalidate">
                                <div id="bootstrap-wizard-1" class="col-sm-12">                  
                                    <ul class="bootstrapWizard form-wizard">
                                        <div class="tab-pane active" id="tab1">
                                            <h2 data-i18n="ns:EventSetting.EventSetting">Event Setting</h2>
                                                <div class="alert alert-info fade in">
                                                    <button class="close" data-dismiss="alert">
                                                    </button>
                                                    <i class="fa-fw fa fa-info"></i>
                                                    <strong data-i18n="ns:Message.Info">Info!</strong>
                                                    <tt data-i18n="ns:Message.FillFollowingForm"> Please fill in the following form. </tt>
                                                </div>
                                        </div>
                                    </ul>                                
                                    
                                    <div class="tab-content">
                                        <div class="row">
                                            <!-- Event Name & Notification -->
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:EventSetting.EventName">Event Name</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-group fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" data-i18n="[placeholder]ns:EventSetting.EventName" type="text" name="name" id="name">
                                                        </div>                                                  
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:EventSetting.Notification">Email Notification</sup></b></h4>
                                                        <div class="col-sm-3">
                                                            <label class="radio">
                                                                <input type="radio" name="radio-inline" value="Email" checked=true>
                                                                <i></i><font data-i18n="ns:EventSetting.Email">Email</font></label>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label class="radio">
                                                                <input type="radio" name="radio-inline" value="None" >
                                                                <i></i><font data-i18n="ns:EventSetting.None">None</font></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <!-- Condition -->
                                            <fieldset>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:EventSetting.Event">Event</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <select id="node" name="node" class="form-control input-lg">
                                                                <option value="" selected="selected" data-i18n="ns:EventSetting.SelectTarget.SelectEvent">Select Event</option>
                                                                <option value="AvailableStorageSize">Available Storage Size</option>
                                                                <option value="BatteryLevel">Battery Level</option>
                                                                <option value="BatteryTemperature">Battery Temperature</option>
                                                                <option value="BuiltinAvailableMemorySize">Builtin Available Memory Size</option>
                                                                <option value="CPULoad">CPU Load</option>
                                                                <!-- <option value="iPhone">iPhone</option> -->
                                                            </select>    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:EventSetting.Operator">Operator</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-tags fa-lg fa-fw"></i></span>
                                                            <select id="operator" name="operator" class="form-control input-lg">
                                                                <option value="" selected="selected" data-i18n="ns:EventSetting.SelectOperator">Select Operator</option>
                                                                <option value="4">></option>
                                                                <option value="1">=</option>
                                                                <option value="2"><</option>
                                                            </select>    
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:EventSetting.Value">Value</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" data-i18n="[placeholder]ns:EventSetting.Value" type="text" name="value" id="value">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>                                            
                                            <!-- Remark -->
                                            <fieldset>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <h4><b><sup data-i18n="ns:EventSetting.Remark">Remark</sup></b></h4>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-comment fa-lg fa-fw"></i></span>
                                                            <input class="form-control input-lg" data-i18n="[placeholder]ns:EventSetting.Remark" type="text" name="remark" id="remark">
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!-- Group Name & Remark END-->                                         
                                        
                                        <!-- Save Button -->
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">                            
                                                        <li id="btn_save" class="next">
                                                            <a href="#" class="btn btn-lg btn-default bg-color-blue txt-color-white" data-i18n="ns:Message.Save"> 
                                                                Save 
                                                            </a>
                                                        </li>
                                                        <li id="btn_back" class="previous">
                                                            <a href="#" class="btn btn-lg btn-default" data-i18n="ns:Message.Back"> Back </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Save Button END -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                                            
                </div>                                    
                <!-- widget div END-->
            </div>                  
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script type="text/javascript">
(function($) {
    pageSetUp();

    // Load JS
    var per_load = [
        "js/bootstrap-multiselect/bootstrap-multiselect.js",
        "js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js",
        "js/eventSetting_edit.js"
    ];

    var count = 0;
    function loadDataScripts() {
        count++;
        if(per_load.length>=count)
            loadScript(per_load[count-1],loadDataScripts);
        else 
            $["ajax/eventSetting_edit.html"].bootstrap();
    };

    loadDataScripts();

})(jQuery);     
</script>

