/* search box*/

.searchbox_1 {
    background-color: #fffbf8;
    padding: 6px;
    width: 235px;
    margin: 5px 5px 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83), 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83), 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83), 0 10px 15px 0 rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}

.search_1 {
    width: 160px;
    height: 25px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    color: grey;
    ;
    font-weight: 500;
    background-color: #E2EFF7;
    ;
    -webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    -moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
    box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

.submit_1 {
    width: 35px;
    height: 30px;
    background-image: url(img/search-btn.png);
    background-repeat: no-repeat;
    background-position: 17px 2px;
    background-color: transparent;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    border: none;
    cursor: pointer;
    color: black;
}

.search_1:focus {
    outline: 0;
}

#search-form_3 {
    background: #e1e1e1;
    /* Fallback color for non-css3 browsers */
    width: 365px;
    margin: 100px auto;
    /* Gradients */
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(243, 243, 243)), color-stop(1, rgb(225, 225, 225)));
    background: -moz-linear-gradient( center top, rgb(243, 243, 243) 0%, rgb(225, 225, 225) 100%);
    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    /* Shadows */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3), 0 0 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3), 0 0 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .3), 0 0 2px rgba(0, 0, 0, .3);
}


/*** TEXT BOX ***/

.search_3 {
    background: #fafafa;
    /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250, 250, 250)), color-stop(1, rgb(230, 230, 230)));
    background: -moz-linear-gradient( center top, rgb(250, 250, 250) 0%, rgb(230, 230, 230) 100%);
    border: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, .8);
    font-size: 16px;
    margin: 4px;
    padding: 5px;
    width: 250px;
    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    /* Shadows */
    box-shadow: -1px -1px 2px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: -1px -1px 2px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .2);
}


/*** USER IS FOCUSED ON TEXT BOX ***/

.search_3:focus {
    outline: none;
    background: #fff;
    /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(235, 235, 235)));
    background: -moz-linear-gradient( center top, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
}


/*** SEARCH BUTTON ***/

.submit_3 {
    background: #44921f;
    /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(79, 188, 32)), color-stop(0.15, rgb(73, 157, 34)), color-stop(0.88, rgb(62, 135, 28)), color-stop(1, rgb(49, 114, 21)));
    background: -moz-linear-gradient( center top, rgb(79, 188, 32) 0%, rgb(73, 157, 34) 15%, rgb(62, 135, 28) 88%, rgb(49, 114, 21) 100%);
    border: 0;
    color: #eee;
    cursor: pointer;
    float: right;
    font: 16px 'Raleway', sans-serif;
    font-weight: bold;
    height: 30px;
    margin: 4px 4px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    width: 84px;
    outline: none;
    /* Rounded Corners */
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    /* Shadows */
    box-shadow: -1px -1px 1px rgba(255, 255, 255, .5), 1px 1px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: -1px -1px 1px rgba(255, 255, 255, .5), 1px 1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -1px -1px 1px rgba(255, 255, 255, .5), 1px 1px 0 rgba(0, 0, 0, .4);
}


/*** SEARCH BUTTON HOVER ***/

.submit_3:hover {
    background: #4ea923;
    /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(89, 222, 27)), color-stop(0.15, rgb(83, 179, 38)), color-stop(0.8, rgb(66, 143, 27)), color-stop(1, rgb(54, 120, 22)));
    background: -moz-linear-gradient( center top, rgb(89, 222, 27) 0%, rgb(83, 179, 38) 15%, rgb(66, 143, 27) 80%, rgb(54, 120, 22) 100%);
}

.submit_3:active {
    background: #4ea923;
    /* Fallback color for non-css3 browsers */
    /* Gradients */
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(89, 222, 27)), color-stop(0.15, rgb(83, 179, 38)), color-stop(0.8, rgb(66, 143, 27)), color-stop(1, rgb(54, 120, 22)));
    background: -moz-linear-gradient( center bottom, rgb(89, 222, 27) 0%, rgb(83, 179, 38) 15%, rgb(66, 143, 27) 80%, rgb(54, 120, 22) 100%);
}
